.exp-logo-side {
  padding: 1rem 1.5rem 0.5rem;
  margin: 0;
  text-align: center;

  @media screen and (min-width: 1024px) {
    padding: 1.5rem 2rem;
  }

  .icon-exlogo {
    font-size: 40px;
    line-height: 40px;
  }

  .icon-exlogo .path1 {
    &:before {
      content: '\e964';
      color: rgb(11, 148, 68);
    }
  }
  .icon-exlogo .path2 {
    &:before {
      content: '\e965';
      margin-left: -1.4208984375em;
      color: rgb(15, 63, 105);
    }
  }
  .icon-exlogo .path3 {
    &:before {
      content: '\e966';
      margin-left: -1.4208984375em;
      color: rgb(137, 197, 64);
    }
  }
  .icon-exlogo .path4 {
    &:before {
      content: '\e9ba';
      margin-left: -1.4208984375em;
      color: rgb(0, 174, 239);
    }
  }
}

::ng-deep .sidebar {
  padding: 0;

  &.p-sidebar-left {
    width: 250px;

    @media screen and (min-width: 640px) {
      width: 280px;
    }
  }

  .p-sidebar-close {
    margin: 1rem;
  }
}

.menu-container {
  border-top: 1px solid #ccc;

  @media screen and (min-width: 1024px) {
    padding-top: 0.5rem;
  }

  .list-group-item {
    border: none;
    padding: 0;

    a {
      display: block;
      padding: 0.8rem;

      @media screen and (min-width: 640px) {
        padding: 1rem 1rem 1rem 2.5rem;
      }

      i {
        font-size: 20px;
        width: 36px;
        padding-right: 10px;
        display: inline-block;
        vertical-align: middle;
        // padding-top: 16px;
      }

      .icon-speedometer {
        &:before {
          content: '\e94f';
        }
      }

      .icon-target02 {
        &:before {
          content: '\e997';
        }
      }

      .icon-megaphone {
        &:before {
          content: '\e936';
        }
      }

      .icon-inbound {
        &:before {
          content: '\e990';
        }
      }

      .icon-web-template {
        &:before {
          content: '\e993';
        }
      }

      .icon-folder_image {
        &:before {
          content: '\e925';
        }
      }

      .icon-testing {
        &:before {
          content: '\e9f6';
        }
      }

      .icon-mobile {
        &:before {
          content: '\e989';
        }
      }

      .icon-support {
        &:before {
          content: '\e951';
        }
      }

      .icon-audience {
        &:before {
          content: '\e902';
        }
      }

      .icon-right-thin-chevron {
        position: relative;
        padding-right: 0px;
        width: 34px;
        font-size: 14px;
        float: right;
        top: 5px;

        &:before {
          content: '\e947';
        }
      }
    }

    &:hover {
      color: #0f263e;
      background-color: #eeefef;

      .nested-container {
        display: block;
      }
    }
  }

  .nested-container {
    padding: 0.5rem 0;
    position: absolute;
    background-color: #79b332;
    display: none;
    left: 250px;
    top: 0;
    width: 200px;

    @media screen and (min-width: 640px) {
      left: 280px;
      width: 240px;
    }

    .nested-list {
      .list-group-item {
        background: none;
        color: white;

        &:hover {
          background-color: #69a124;
        }
      }
    }
  }
}
