<p-sidebar
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
  (onHide)="displaySidebarHide()"
  styleClass="sidebar"
>
  <figure class="exp-logo-side">
    <a (click)="dashboardHandler()"
      ><span class="icon-exlogo"
        ><span class="path1"></span><span class="path2"></span
        ><span class="path3"></span><span class="path4"></span></span
    ></a>
  </figure>
  <div class="menu-container">
    <ul class="list-group">
      <li class="list-group-item">
        <a (click)="dashboardHandler()">
          <i class="icon-speedometer"></i><span>Dashboard</span>
        </a>
      </li>
      <li class="list-group-item">
        <a class="">
          <i class="icon-target02"></i><span>Targets</span>
          <i class="icon-right-thin-chevron"></i>
        </a>
        <div class="nested-container">
          <ul class="nested-list list-group">
            <li class="list-group-item">
              <a (click)="dataSourcelistHandler()">Data Sources & Lists</a>
            </li>
            <li class="list-group-item">
              <a (click)="allTargetsHandler()">All Targets</a>
            </li>
            <li class="list-group-item">
              <a (click)="segmentsHandler()">Segments</a>
            </li>
            <li class="list-group-item">
              <a (click)="scoreHandler()">Set Score</a>
            </li>
            <li class="list-group-item">
              <a (click)="subscriptionHandler()">Subscriptions</a>
            </li>
            <li class="list-group-item">
              <a (click)="dataModalHandler()">Data Model</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="list-group-item">
        <a class="" (click)="campaignHandler()"
          ><i class="icon-megaphone"></i><span>Campaigns</span></a
        >
        <!-- <i class="icon-right-thin-chevron subO"></i>
        <i class="icon-right-thin-chevron subC" style="display: none;"></i> -->
      </li>
      <li class="list-group-item">
        <a class="">
          <i class="icon-inbound"></i><span>Inbound Marketing</span>
          <i class="icon-right-thin-chevron"></i>
        </a>
        <div class="nested-container">
          <ul class="nested-list list-group">
            <li class="list-group-item">
              <a (click)="landingHandler()">Landing Pages</a>
            </li>
            <li class="list-group-item">
              <a (click)="formsHandler()">Surveys & Forms</a>
            </li>
            <li class="list-group-item">
              <a (click)="leadsHandler()">All Inbound Leads</a>
            </li>
            <li class="list-group-item">
              <a (click)="leadsAnalyticsHandler()">Lead Analytics</a>
            </li>
            <li class="list-group-item">
              <a (click)="trackingHandler()">Website Tracking</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="list-group-item">
        <a (click)="templatesHandler()"
          ><i class="icon-web-template"></i><span>Templates</span></a
        >
      </li>
      <li class="list-group-item">
        <a (click)="assetHandler()"
          ><i class="icon-folder_image"></i><span>Asset Manager</span></a
        >
      </li>
      <li class="list-group-item">
        <a class="">
          <i class="icon-testing"></i><span>Personalization</span>
          <i class="icon-right-thin-chevron"></i>
        </a>
        <div class="nested-container">
          <ul class="nested-list list-group">
            <li class="list-group-item">
              <a (click)="variablesHandler()">Global Variables</a>
            </li>
            <li class="list-group-item">
              <a (click)="widgetsHandler()">Relational Widgets</a>
            </li>
            <li class="list-group-item">
              <a (click)="conditionalSegHandler()">Conditional Segments</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="list-group-item">
        <a class="">
          <i class="icon-mobile"></i><span>Mobile App</span>
          <i class="icon-right-thin-chevron"></i>
        </a>
        <div class="nested-container">
          <ul class="nested-list list-group">
            <li class="list-group-item">
              <a (click)="contentHandler()">Content Management</a>
            </li>
            <li class="list-group-item">
              <a (click)="matricsHandler()">App Metrics</a>
            </li>
            <li class="list-group-item">
              <a (click)="geoFencingHandler()">Geo-Fencing</a>
            </li>
            <li class="list-group-item">
              <a (click)="pushNotificationHandler()"
                >Global Push Notification</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="list-group-item">
        <a (click)="supportHandler()"
          ><i class="icon-support"></i><span>Support & Knowledgebase</span></a
        >
      </li>
      <li *ngIf="isRootUser" class="list-group-item">
        <a (click)="rootUserHandler()"
          ><i class="icon-audience"></i><span>Root User</span></a
        >
      </li>
    </ul>
  </div>
</p-sidebar>
