@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/mixins';

.sngContainers 
{
    padding: 15px;

    .scor-process
    {
        display: block;
        margin-bottom: 10px;
    }
    .white_wrapper
    {
        margin-top: 15px;
    }
}
.header {
    padding: 20px 28px 14px 28px;
  
    .gen-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
  
      @media (min-width: 640px) {
        flex-direction: row;
      }
  
      .left-sec 
      {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.8rem;
  
        @media (min-width: 640px) {
          margin-bottom: 0;
        }

        label
        {         
            font-size: 14px;
            line-height: 19px;
            font-weight: normal;
            margin: 5px 5px;
        }
        input[type="text"]
        {
            border: 1px solid $bordercolor;
            height: 30px;
            background: $white;
            color: $color-font;
            font-size: 14px;
            padding: 7px;
            width: 60px;
            @include  border-radius(2px);
        }
        .target-count 
        {         

        }
  
        
      }
  
        .right-sec 
        {
            display: flex;
            justify-content: space-between;
            align-items: center;  

            .spprDmn
            {
                .button
                {
                    margin-right: 10px;
                }
                .button  + .button
                {
                    margin-right: 0px;
                }
            }
        }
    }
}
  
.paginator-left 
{
    .supp-export 
    {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 1rem;
      color: $color-font;
      font-weight: bold;
    }

    .icon-csv1 
    {
      color: $iconcolor;
      font-size: 21px;
      line-height: 27px;
    }
}
  
.button
{
    font-family: "Lato",sans-serif;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 18px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid $bordercolor;
    background-color: $white;
    color: $color-font;
    line-height: 18px;
    display: inline-block;
    @include  border-radius(2px);
    
    &:hover
    {
        border: 1px solid $primary-exp;
        background-color: $primary-exp;
        color: $white;
    }

    &.green-button
    {
        border: 1px solid $primary-exp;
        background-color: $primary-exp;
        color: $white;

        &:hover
        {
            border: 1px solid $bordercolor;
            background-color: $white;
            color: $color-font;
        }
    }
}
.icon-delete-button
{
  color: $red;
  font-size: 18px;
  &::before
  {
    content: $icon-delete-button;
  }
}
a#btnCalculateProfileScore,a#CancelProcess,a#btnCalculateBehaviorScore
{
    float: right;
}

input[type="text"]
{
    border: 1px solid $bordercolor;
    height: 30px;
    background: $white;
    color: $color-font;
    font-size: 14px;
    padding: 7px;
    @include calc( width, '100% - 14px');
    @include  border-radius(2px);
}
.row
{
    
    @media screen and (min-width:768px) 
    {
        display: flex;
        flex-wrap: wrap;
    }   
}
::ng-deep
{
    .cdk-virtual-scroll-viewport {
        height: auto !important;
        margin-bottom: 50px;
        @media screen and (min-width:768px) 
        {
            height: 4vh !important;
            margin-bottom: 0px;
        }  
    }
}

.col-6
{
    flex: 0 0 100%;
    max-width: 100%;

    @media screen and (min-width:768px) 
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
}