<div class="sngContainers">
    <div class="scor-process">
        <div class="scor-process">
            <img src="../../../../../assets/images/loader.gif" alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <h4>Profile</h4>
                </div>
                <div class="col-6">
                    <a id="CancelProcess" class="button" style="display: none;">Cancel Processing</a>
                    <a id="btnCalculateProfileScore" class="green-button button">Recalculate Profile Score</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="white_wrapper">
                        <p-table
                        #table
                        styleClass="p-datatable-grid"
                        [value]="listData"
                        [columns]="columns"
                        [rows]="10"
                        [autoLayout]="true"
                        [responsive]="true"
                        [paginator]="paginator"
                        paginatorPosition="both"
                        [(selection)]="selectedTarget"
                        [showCurrentPageReport]="true"
                        [currentPageReportTemplate]="
                            loading
                            ? 'Loading...'
                            : 'Showing {first} to {last} of {totalRecords} entries'
                        "
                        [rowsPerPageOptions]="[10, 25, 50, 100]"
                        [totalRecords]="tRecords"
                        [lazy]="true"
                        [scrollable]="!paginator"
                        [scrollHeight]="'48vh'"
                        [virtualScroll]="!paginator"
                        [virtualRowHeight]="34"
                        
                        >  
                        <ng-container *ngIf="!paginator">
                            <ng-template pTemplate="colgroup" let-columns>
                              <colgroup>
                                <col style="width: 30%;" />
                                <col style="width: 30%;" />
                                <col style="width: 30%;" />
                                <col style="width: 10%;" />
                              </colgroup>
                            </ng-template>
                          </ng-container>                  
                        <ng-template pTemplate="caption">
                            <div class="header">
                            <div class="gen-top">
                                <div class="left-sec">           
                                </div>                            
                                <div class="right-sec">
                                    <div class="spprDmn">
                                        <input type="submit" name="btnUpdate" value="Update" id="btnSuppDmnAdd" class="button">
                                        <input type="submit" name="btnSuppDmnAdd" value="Add Field" id="btnaddfld" class="button">
                                    </div>
                                </div>                          
                            </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                            <th>
                                Profile Fields</th>  
                            <th>Comparison Type</th> 
                            <th>Details</th> 
                            <th></th>    
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowData let-rowIndex="rowIndex">
                            <tr class="p-selectable-row">                           
                            <td>
                                <p-dropdown *ngFor="let s of masterArr,let i = index" [options]="masterArr[i]" ></p-dropdown>
                            </td>
                            <td><p-dropdown *ngFor="let s of masterArr,let i = index" [options]="masterArr[i]" ></p-dropdown></td>
                            <td><a [id]='rowIndex' class="detail_popup">Detail</a></td>   
                            <td><i class="icon-delete-button"></i></td>             
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                            <td colspan="4" style="text-align: center;">No record found.</td>
                            </tr>
                        </ng-template>
                        
                            <ng-template pTemplate="paginatorright">
                            <div class="jump">
                                <label>Go to:</label>
                                <input  #pageNo  class="jump-input"  name="inputpagenoTop"   type="text"  size="4" pInputText />
                                <button
                                (click)="gotoPage(pageNo.value)"
                                pButton
                                pRipple
                                type="button"
                                label="Go"
                                class="p-button-raised jump-btn"
                                ></button>
                            </div>
                            </ng-template>
                        
                        <ng-container *ngIf="!paginator">
                            <ng-template pTemplate="loadingbody" let-columns="columns">
                            <tr style="height: 34px;">
                                <td *ngFor="let col of columns">
                                <div class="loading-text"></div>
                                </td>
                            </tr>
                            </ng-template>
                        </ng-container>
                        </p-table>
                        <ng-container *ngIf="exportModal">
                        <app-export-notification
                            [(visible)]="exportModal"
                            (exporthandler)="exporthandler($event)"
                        >
                        </app-export-notification>
                        </ng-container>
                        
                        <ng-container *ngIf="unsuppressedModal">
                        <app-delete-dialog
                            [(visible)]="unsuppressedModal"
                            (deleteItem)="unsuppressedHandler($event)"
                            denyLabel="No"
                            confirmLabel="Yes"
                        >
                        </app-delete-dialog>
                        </ng-container>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <h4>Behavior </h4>
                </div>
                <div class="col-6">
                    <a id="btnCalculateBehaviorScore" class="green-button button">Recalculate Behavior Score</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="white_wrapper">
                        <p-table
                        #table
                        styleClass="p-datatable-grid"
                        [value]="listData"
                        [columns]="columns"
                        [rows]="10"
                        [autoLayout]="true"
                        [responsive]="true"
                        [paginator]="paginator"
                        paginatorPosition="both"
                        [(selection)]="selectedTarget"
                        [showCurrentPageReport]="true"
                        [currentPageReportTemplate]="
                            loading
                            ? 'Loading...'
                            : 'Showing {first} to {last} of {totalRecords} entries'
                        "
                        [rowsPerPageOptions]="[10, 25, 50, 100]"
                        [totalRecords]="tRecords"
                        [lazy]="true"
                        [scrollable]="!paginator"
                        [scrollHeight]="'48vh'"
                        [virtualScroll]="!paginator"
                        [virtualRowHeight]="34"
                        
                        >  
                        <ng-container *ngIf="!paginator">
                            <ng-template pTemplate="colgroup" let-columns>
                              <colgroup>
                                <col style="width: 50%;" />
                                <col style="width: 50%;" />
                              </colgroup>
                            </ng-template>
                          </ng-container>                  
                        <ng-template pTemplate="caption">
                            <div class="header">
                            <div class="gen-top">
                                <div class="left-sec">
                                    <label>Consider Activities for last</label>
                                    <input name="txtDaysPeriod" type="text" value="21" maxlength="3" id="txtDaysPeriod">   
                                    <label>days</label>        
                                </div>                            
                                <div class="right-sec">
                                    <div class="spprDmn">
                                        <input type="submit" name="btnUpdate" value="Update" id="btnSuppDmnAdd" class="button">
                                    </div>
                                </div>                          
                            </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th>Action</th>  
                                <th>Points</th>   
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowData let-rowIndex="rowIndex">
                            <tr class="p-selectable-row">                           
                            <td>
                                Page Visited
                            </td>
                            <td><input class="form-control" name="valueb" type="number" /></td>
                                  
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                            <td colspan="2" style="text-align: center;">No record found.</td>
                            </tr>
                        </ng-template>
                        
                            <ng-template pTemplate="paginatorright">
                            <div class="jump">
                                <label>Go to:</label>
                                <input  #pageNo  class="jump-input"  name="inputpagenoTop"   type="text"  size="4" pInputText />
                                <button
                                (click)="gotoPage(pageNo.value)"
                                pButton
                                pRipple
                                type="button"
                                label="Go"
                                class="p-button-raised jump-btn"
                                ></button>
                            </div>
                            </ng-template>
                        
                        <ng-container *ngIf="!paginator">
                            <ng-template pTemplate="loadingbody" let-columns="columns">
                            <tr style="height: 34px;">
                                <td *ngFor="let col of columns">
                                <div class="loading-text"></div>
                                </td>
                            </tr>
                            </ng-template>
                        </ng-container>
                        </p-table>
                        <ng-container *ngIf="exportModal">
                        <app-export-notification
                            [(visible)]="exportModal"
                            (exporthandler)="exporthandler($event)"
                        >
                        </app-export-notification>
                        </ng-container>
                        
                        <ng-container *ngIf="unsuppressedModal">
                        <app-delete-dialog
                            [(visible)]="unsuppressedModal"
                            (deleteItem)="unsuppressedHandler($event)"
                            denyLabel="No"
                            confirmLabel="Yes"
                        >
                        </app-delete-dialog>
                        </ng-container>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
