<div class="experiture">
  <!-- header start -->
  <div class="exptopheader">
    <header>
      <figure class="logo-sml">
        <a (click)="logoClicked()"
          ><span class="icon-exlogo"
            ><span class="path1"></span><span class="path2"></span
            ><span class="path3"></span><span class="path4"></span></span
        ></a>
      </figure>
      <a class="burgermenu" (click)="toggleSidebar()">
        <div id="menu-toggle" [ngClass]="{ open: showSiveNav }">
          <div id="hamburger"><span></span> <span></span> <span></span></div>
          <div id="cross"><span></span> <span></span></div>
        </div>
      </a>
      <div class="right-content">
        <a #notificationRef class="notification" (click)="toggleNotification()"
          ><i class="icon-ring"></i
        ></a>
        <div
          *ngIf="isRootUser"
          id="myheader_aOption"
          class="switch-account clntOpt"
        >
          <a (click)="toggleAccountList()"
            ><i class="icon-switch-account"></i
          ></a>
        </div>
        <div id="myheader_clientExp" class="clientExp">
          Hello
          <strong>
            <span id="myheader_lblClientNameExp">{{ clientName }}</span></strong
          >
          <div #accountRef class="myaccount-icon" (click)="toggleAccount()">
            <i class="icon-chevron"></i>
          </div>
          <div class="headCompany">
            <span id="myheader_lblCompanyName">{{ companyName }}</span>
          </div>
        </div>
      </div>
      <div
        class="myaccount-container"
        [ngStyle]="{ display: showAccount ? 'block' : 'none' }"
      >
        <ul>
          <li>
            <a id="myheader_myaccount_top" href="javascript:{}"
              ><i class="icon-user_outline"></i> My Account</a
            >
          </li>
          <li>
            <a (click)="logout()"><i class="icon-logout"></i> Logout</a>
          </li>
        </ul>
        <h3>Need Help?</h3>
        <ol>
          <li>
            <small>Call us:</small>
            <a href="tel:(888)950-0700"
              ><i class="icon-call_03"></i> (888)950-0700</a
            >
          </li>
          <li>
            <small>Email us:</small>
            <a href="mailto:Support@experiture.com"
              ><i class="icon-email1"></i> Support@experiture.com</a
            >
          </li>
        </ol>
      </div>
      <div
        class="notification-container"
        [ngStyle]="{ display: showNotification ? 'block' : 'none' }"
      >
        <div class="head-content">
          <p>New Messages</p>
        </div>
        <div class="main-content">
          <a (click)="VersionReleaseNotes()">
            <div class="media">
              <div class="avatar">
                <img
                  src="../../assets/images/logo-experiture-small.png"
                  alt="Experiture"
                />
              </div>
              <div class="msg-content">
                <strong>Experiture Version 7.0 Release Notes</strong>
                <p>
                  Now, in the Lead Pages section you can also view Unique Page
                  Visits and Web Responses...
                </p>
                <span>6/10/2019 10:45:57 AM</span>
              </div>
            </div>
          </a>
        </div>
        <div class="foot-content">
          <a (click)="VersionReleaseNotes()">View all Messages</a>
        </div>
      </div>
    </header>
  </div>
  <!-- header end -->
</div>

<ng-container *ngIf="displaySidebar">
  <app-sidebar
    [(visible)]="displaySidebar"
    [isRootUser]="isRootUser"
    (hideSidebar)="hideSidebar()"
  ></app-sidebar>
</ng-container>

<ng-container *ngIf="displayAccountList">
  <app-account-list-dialog
    [(visible)]="displayAccountList"
  ></app-account-list-dialog>
</ng-container>
