@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

header {
  background: #fff;
  border-bottom: 1px solid #dedede;
  width: 100%;
  height: 82px;
  padding: 0 26px 0 0;
  z-index: 115;
  position: relative;

  @include breakpoint(mobile) {
    padding: 0px;
    height: 62px;
  }

  @include breakpoint(tablet) {
    padding: 0px;
    height: 62px;
  }

  &.fixed-header {
    position: fixed;
    top: 0;
  }

  figure {
    margin: 0;
  }

  .logo-sml {
    padding: 20px 17px;
    float: left;
    position: relative;

    @include breakpoint(mobile) {
      padding: 10px;
    }

    @include breakpoint(tablet) {
      padding: 10px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 10px;
      right: 0;
      width: 1px;
      height: 60px;
      background-color: #dedede;

      @include breakpoint(mobile) {
        height: 40px;
      }
      @include breakpoint(tablet) {
        height: 40px;
      }
    }

    a {
      img#imgLogo {
        display: none;
      }
      span.icon-exlogo {
        font-size: 38px;
        line-height: 38px;

        @include breakpoint(mobile) {
          font-size: 25px;
        }
      }
    }
  }
  .right-content {
    width: 50%;
    float: right;
    text-align: right;
    height: 82px;

    @include breakpoint(mobile) {
      @include calc(width, '100% - 105px');
      height: 62px;
    }

    @include breakpoint(tablet) {
      @include calc(width, '100% - 150px');
      height: 62px;
    }

    .updtbtns {
      margin-top: 16px;
    }
    #lbAllTargets {
      font-size: $size18;
      display: none;
    }
    .changeuser {
      margin-top: 18px;
      .prvnxt {
        a {
          margin: 0 4px;
          display: inline-block;
          color: #7d848e;
          i {
            font-size: $size42;
          }
        }
      }
    }
  }
  .clientExp {
    position: relative;
    float: right;
    margin-right: 55px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-top: 18px;
    color: $color;

    @include breakpoint(mobile) {
      margin-right: 40px;
      font-size: 14px;
      margin-top: 12px;
      line-height: 14px;
      padding-top: 0px;
    }

    @include breakpoint(tablet) {
      margin-right: 50px;
      font-size: 14px;
    }
    strong {
      @include breakpoint(mobile) {
        display: none;
      }
    }

    .clientmenu {
      position: absolute;
      top: 26px;
      right: 0;
      display: none;
      width: 131px;
      a {
        background: $secundary;
        color: $white;
        font-size: 13px;
        padding: 6px 10px;
        text-decoration: none;
        border-radius: 14px;
        display: inline-block;
        text-align: left;

        img {
          margin-right: 5px;
        }
      }
    }
    .clntOpt {
      position: absolute;
      right: -24px;
      top: 8px;
      img {
        margin-right: 0;
      }
    }
    .headCompany {
      font-size: $size14;
      line-height: 15px;

      @include breakpoint(mobile) {
        width: 125px;
      }
    }
    .myaccount-icon {
      position: absolute;
      top: 10px;
      right: -28px;
      cursor: pointer;
    }
  }
  .icons {
    width: 26px;
    height: 25px;
    float: right;
    margin-top: 26px;
  }
  a {
    text-decoration: none;

    i {
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;
      i {
        text-decoration: none;
      }
    }
  }
  .help {
    padding-right: 50px;
    @extend .icons;

    i {
      font-size: 25px;
      line-height: 25px;
      color: #6a6c6f;
    }
  }
  .switch-account {
    padding-right: 50px;
    @extend .icons;

    @include breakpoint(mobile) {
      padding-right: 40px;
      margin-top: 15px;
    }

    @include breakpoint(tablet) {
      padding-right: 40px;
    }

    i {
      font-size: 25px;
      line-height: 25px;
      color: #6a6c6f;
    }
  }
  .notification {
    padding-right: 50px;
    @extend .icons;

    @include breakpoint(mobile) {
      display: none;
    }

    @include breakpoint(tablet) {
      padding-right: 40px;
    }

    i {
      font-size: 21px;
      line-height: 25px;
      color: #6a6c6f;
    }
  }
  .logout {
    @extend .icons;

    i {
      font-size: 25px;
      line-height: 25px;
      color: #cf1111;
    }
  }
}

.icon-chevron {
  &:before {
    content: $icon-chevron;
  }
}

.icon-ring {
  &:before {
    content: $icon-ring;
  }
}

.icon-switch-account {
  &:before {
    content: $icon-switch-account;
  }
}

.icon-user_outline {
  &:before {
    content: $icon-user_outline;
  }
}

.icon-logout {
  &:before {
    content: $icon-logout;
    color: $red;
  }
}

.icon-call_03 {
  &:before {
    content: $icon-call_03;
  }
}

.icon-email1 {
  &:before {
    content: $icon-email1;
  }
}

.icon-exlogo .path1 {
  &:before {
    content: $icon-exlogo-path1;
    color: rgb(11, 148, 68);
  }
}
.icon-exlogo .path2 {
  &:before {
    content: $icon-exlogo-path2;
    margin-left: -1.4208984375em;
    color: rgb(15, 63, 105);
  }
}
.icon-exlogo .path3 {
  &:before {
    content: $icon-exlogo-path3;
    margin-left: -1.4208984375em;
    color: rgb(137, 197, 64);
  }
}
.icon-exlogo .path4 {
  &:before {
    content: $icon-exlogo-path4;
    margin-left: -1.4208984375em;
    color: rgb(0, 174, 239);
  }
}

.burgermenu {
  width: 80px;
  height: 65px;
  display: inline-block !important;
  padding: 13px 15px;
  position: relative;

  @include breakpoint(mobile) {
    padding: 10px;
    height: 60px;
    width: 46px;
  }

  @include breakpoint(tablet) {
    padding: 13px;
    height: 60px;
    width: 60px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 60px;
    background: $bordercolor;

    @include breakpoint(mobile) {
      height: 40px;
    }

    @include breakpoint(tablet) {
      height: 40px;
    }
  }
}

#menu-toggle {
  width: 57px;
  height: 60px;
  margin: 0;
  position: relative;
  cursor: pointer;
  border-radius: 5px;

  @include breakpoint(mobile) {
    width: 30px;
    height: 30px;
  }

  @include breakpoint(tablet) {
    width: 40px;
    height: 40px;
  }

  #hamburger {
    position: absolute;
    height: 100%;
    width: 100%;

    span {
      width: 30px;
      height: 2px;
      position: relative;
      top: 16px;
      left: 10px;
      margin: 5px 0;
      background-color: #7d848e;

      @include breakpoint(mobile) {
        width: 20px;
        top: 6px;
        left: 2px;
      }

      @include breakpoint(tablet) {
        top: 8px;
        left: 5px;
      }
    }
    span:nth-child(1) {
      transition-delay: 0.5s;
    }

    span:nth-child(2) {
      transition-delay: 0.625s;
    }

    span:nth-child(3) {
      width: 20px;
      transition-delay: 0.75s;

      @include breakpoint(mobile) {
        width: 14px;
      }
    }
  }
  #cross {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(45deg);
    span {
      background-color: #7d848e;

      &:nth-child(1) {
        height: 0%;
        width: 2px;
        position: absolute;
        top: 23%;
        left: 24px;
        transition-delay: 0s;

        @include breakpoint(mobile) {
          top: 40%;
          left: 17px;
        }

        @include breakpoint(tablet) {
          top: 20%;
          left: 16px;
        }
      }
      &:nth-child(2) {
        width: 0%;
        height: 2px;
        position: absolute;
        left: 10%;
        top: 32px;
        transition-delay: 0.25s;

        @include breakpoint(mobile) {
          left: 26%;
          top: 21px;
        }

        @include breakpoint(tablet) {
          left: 10%;
          top: 20px;
        }
      }
    }
  }
  &.open #hamburger {
    span {
      width: 0%;
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transition-delay: 0.125s;
      }
      &:nth-child(3) {
        transition-delay: 0.25s;
      }
    }
  }
  &.open #cross {
    span {
      &:nth-child(1) {
        height: 65%;
        transition-delay: 0.625s;
      }
      &:nth-child(2) {
        width: 65%;
        transition-delay: 0.25s;
      }
    }
  }
  #hamburger span,
  #cross span {
    display: block;
    border-radius: 2px;
  }
}

.myaccount-container {
  width: 241px;
  padding: 22px 0 0;
  position: absolute;
  top: 81px;
  right: 35px;
  border: 1px solid;
  display: none;
  @include box-shadow(0, 0, 12px, #dedede);
  transition: all 0.2s ease-out;
  z-index: 100;
  background: $white;
  border-color: $bordercolor;

  @include breakpoint(mobile) {
    top: 70px;
    right: 10px;
  }
  @include breakpoint(tablet) {
    top: 70px;
    right: 10px;
  }

  &:after,
  &:before {
    bottom: 100%;
    left: 47%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    @include breakpoint(mobile) {
      left: 76%;
    }
    @include breakpoint(tablet) {
      left: 76%;
    }
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: $white;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(222, 222, 222, 0);
    border-bottom-color: $white;
    border-width: 11px;
    margin-left: -11px;
  }
  h3 {
    font-size: 18px;
    font-weight: 400;
    padding: 8px 20px;
    color: $color;
    background: $borderlightcolor;
  }
  ul {
    li {
      a {
        padding: 8px 20px;
        display: block;
        font-size: 14px;
        color: $color;
        &:hover {
          background: lighten($borderlightcolor, 3%);
        }
        i.icon-logout {
          color: $red;
        }
      }
      &:last-child {
        padding-bottom: 14px;
      }
      i {
        margin-top: 2px;
        margin-right: 8px;
        font-size: 20px;
        vertical-align: middle;
      }
    }
  }
  ol {
    padding-bottom: 22px;
    background: #f9f9f9;
    li {
      small {
        display: block;
        padding-top: 8px;
        padding-left: 50px;
        font-size: 14px;
      }
      a {
        color: $color;
        padding: 6px 20px;
        display: block;
        font-size: 14px;
        &:hover {
          background: lighten($borderlightcolor, 3%);
        }
        i.icon-logout {
          color: $red;
        }
      }
      &:first-child {
        padding-top: 8px;
      }
      i {
        margin-top: 2px;
        margin-right: 8px;
        font-size: 20px;
        vertical-align: middle;
      }
    }
  }
}

.notification-container {
  width: 320px;
  position: absolute;
  top: 81px;
  right: 20px;
  border: 1px solid;
  display: none;
  border-color: $bordercolor;
  background: $white;
  @include box-shadow(0, 0, 12px, #dedede);
  &:after,
  &:before {
    bottom: 100%;
    right: 10%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: $white;
    border-width: 10px;
    margin-left: -10px;
    border-bottom-color: $white;
  }
  &:before {
    border-color: rgba(222, 222, 222, 0);
    border-bottom-color: $white;
    border-width: 11px;
    margin-left: -11px;
    border-bottom-color: $bordercolor;
  }
  .head-content {
    padding: 12px 15px;
    font-size: $size13;
    border-bottom: 1px solid;
    color: $color;
    border-color: $borderlightcolor;
  }
  .main-content {
    padding: 6px;
    a {
      padding: 10px;
      overflow: hidden;
      display: block;
      color: $color;
      .media {
        .avatar {
          width: 40px;
          float: left;
          img {
            width: 40px;
          }
        }
        .msg-content {
          width: 230px;
          margin-left: 15px;
          float: left;
          font-size: $size13;
          p {
            padding: 6px 0;
          }
        }
      }
      span {
        color: $iconcolor;
      }

      &:hover {
        background: lighten($bordercolor, 7%);
      }

      &.checked {
        color: $iconcolor;
      }
    }
  }
  .foot-content {
    a {
      color: lighten($color, 3%);
    }
    padding: 12px 15px;
    font-size: $size13;
    border-top: 1px solid $borderlightcolor;
    text-align: center;
  }
}
