@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/mixins';

.lstContainer {
  padding: 12px;

  @include breakpoint(mobile) {
    padding: 10px;
  }

  @include breakpoint(tablet) {
    padding: 10px;
  }

  @include breakpoint(small-desktop) {
    padding: 10px;
  }

  @include breakpoint(laptop) {
    padding: 10px;
  }
}

.lstContainer,
nav {
  &::after,
  &::before {
    content: '';
    display: block;
    margin: 0px;
    padding: 0px;
    clear: both;
  }
}

.quick-nav-container {
  background: $white;
  font-family: 'Lato', sans-serif;
  padding: 10px 20px;
  margin-bottom: 10px;

  &::after,
  &::before {
    content: '';
    display: table;
    margin: 0px;
    padding: 0px;
    clear: both;
  }
  .pull-left {
    width: 50%;
    float: left;

    @include breakpoint(mobile) {
      width: 100%;
      clear: both;
      float: none;
    }

    @include breakpoint(tablet) {
      width: 40%;
    }

    @include breakpoint(small-desktop) {
      width: 40%;
    }

    @include breakpoint(laptop) {
      width: 40%;
    }

    h2 {
      font-size: $size18;
      font-weight: 600;
      display: inline-block;
      padding: 15px 32px 15px 0;
      color: $color;
      border-color: $bordercolor;

      @include breakpoint(mobile) {
        padding: 0px 0px 10px;
        font-size: $size16;
      }

      @include breakpoint(tablet) {
        padding: 0px 0px 10px;
        font-size: $size16;
      }
      
    }
  }
  .pull-right {
    width: 50%;
    float: right;

    @include breakpoint(mobile) {
      width: 100%;
      clear: both;
      float: none;
    }

    @include breakpoint(tablet) {
      width: 60%;
    }

    @include breakpoint(small-desktop) {
      width: 60%;
    }

    @include breakpoint(laptop) {
      width: 60%;
    }

    nav {
      float: right;
      padding: 12px 6px;
      margin-top: 4px;
      border-radius: 25px;
      background: #f5f8f9;
      

      &.sub_insideNav,
      &.nav-smenu 
      {
        @include breakpoint(mobile)
        {
          border-radius: 0px;
          float: none;
          background-color: $white;
          width: 100%;
          border: solid 1px $bordercolor;
          position: relative;
          padding: 10px 6px;
        }

        @include breakpoint(tablet)
        {
          border-radius: 0px;
          float: none;
          background-color: $white;
          width: 100%;
          border: solid 1px $bordercolor;
          position: relative;
          padding: 10px 6px;
        }

        .tab_link
        {
          padding: 0px 10px;
          display: none;
          cursor: pointer;

          @include breakpoint(mobile)
          {
            display: block;
          }

          @include breakpoint(tablet) {
            display: block;
          }

          &::after,
          &::before
          {
            content: '';
            display: table;
            clear: both;
          }

          span
          {
            float: left;
            font-size: 14px;
            letter-spacing: 1px;
          }

          i
          {
            float: right;
          }
        }

        ul {

          @include breakpoint(mobile)
          {
            position: absolute;
            display: none;
            width: 100%;
            z-index: 99;
            background-color: $white;
            top: 44px;
            left: 0px;
            border: solid 1px $bordercolor;
            border-top: 0px;
          }
          @include breakpoint(tablet) {
            position: absolute;
            display: none;
            width: 100%;
            z-index: 99;
            background-color: $white;
            top: 44px;
            left: 0px;
            border: solid 1px $bordercolor;
            border-top: 0px;
          }

          li {
            @include breakpoint(mobile) {
              float: none;
              margin: 0px 0px 5px;
            }
            @include breakpoint(tablet) {
              float: none;
              margin: 0px 0px 5px;
            }

            a {
              @include breakpoint(mobile) {
                display: block;
                border-radius: 0px;
              }
              @include breakpoint(tablet) {
                display: block;
                border-radius: 0px;
              }
            }
          }
        }
        &.open {
          .tab_link {
            span {
              float: left;
            }

            i {
              float: right;
              transform: rotate(180deg);
            }
          }
          ul {
            display: block;
          }
        }
      }

      ul {
        list-style: none;

        li {
          float: left;
          position: relative;
          margin-right: 5px;

          @include breakpoint(desktop) {
            margin-right: 0;
          }

          @include breakpoint(small-desktop) {
            margin-right: 0;
          }

          a {
            text-decoration: none;
            padding: 8px 16px;
            font-size: $size14;
            border-radius: 20px;
            color: $color;

            @include breakpoint(small-desktop) {
              padding: 8px 10px;
              font-size: $size13;
            }
            @include breakpoint(laptop) {
              padding: 8px 8px;
            }
            &:hover,
            &.sub_active,
            &.active {
              background-color: $secundary;
              color: $white;
            }
          }

          &.drp {
            ul {
              @include breakpoint(mobile) {
                position: relative;
                top: auto;
                margin: 0px;
                padding: 0px;
              }

              @include breakpoint(tablet) {
                position: relative;
                top: auto;
                margin: 0px;
                padding: 0px;
              }
              li {
                @include breakpoint(mobile) {
                  margin-bottom: 1px;
                  padding: 0px;
                }

                @include breakpoint(tablet) {
                  margin-bottom: 1px;
                  padding: 0px;
                }
                a {
                  @include breakpoint(mobile) {
                    margin: 0px;
                    padding: 5px 10px;
                    font-size: 13px;
                    line-height: 18px;
                  }

                  @include breakpoint(tablet) {
                    margin: 0px;
                    padding: 5px 10px;
                    font-size: 13px;
                    line-height: 18px;
                  }
                }
              }
            }
            & > a {
              padding-right: 10px;
              margin-right: 0px;

              i {
                margin-left: 10px;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
    ul {
      &.subnav3 {
        position: absolute;
        top: 34px;
        right: 0px;
        width: 150px;
        background: none;
        z-index: 3;
        box-shadow: 0 5px 5px $bordercolor;
        li {
          margin-right: 0px;
          width: 100%;
          border: 0px;
          padding: 0px;
          border-bottom: 1px dotted $bordercolor;
          background: #f5f8f9;
          
          a {
            display: block;
            color: $black;
          }
          &:first-child {
            border-right: 1px solid $white;
            &:hover {
              border-right: 1px solid $white;
            }
          }
          &:hover {
            border: 0px !important;
            border-bottom: 1px dotted $iconcolor;
            background: $secundary;
            color: $white;
          }
          .sub_active {
            background: none !important;
          }
        }
      }
    }
  }
}

.icon-chevron {
  &:before {
    content: $icon-chevron;
  }
}

.icon-down-arrow {
  &:before {
    content: $icon-down-arrow;
  }
}

.active {
  cursor: default;
}

.clear {
  clear: both;
  font-size: 0;
  height: 0;
  display: block;
}
