<div class="lstContainer">
  <div class="quick-nav-container listmngr">
    <div class="pull-left">
      <h2>Data Sources &amp; Lists</h2>
    </div>
    <div class="pull-right">
      <nav class="insideNav sub_insideNav" [ngClass]="{ open: showMenu }">
        <ul class="nav-smenu" [ngClass]="{ open: showMenu }">
          <li>
            <a routerLink="manual" routerLinkActive="active sub_active"
              >Manual</a
            >
          </li>
          <li>
            <a routerLink="sftp" routerLinkActive="active sub_active">SFTP</a>
          </li>
          <li>
            <a routerLink="inbound" routerLinkActive="active sub_active"
              >Inbound</a
            >
          </li>
          <li>
            <a routerLink="crm" routerLinkActive="active sub_active">CRM</a>
          </li>
          <li id="liRelObjSource" class="drp">
            <a
              #relObjSourceRef
              (click)="toggle()"
              id="aRelObjSource"
              [ngClass]="isSelected ? 'active sub_active' : ''"
              style="cursor: pointer;"
            >
              <span>Relational Object</span> <i class="icon-chevron"></i>
            </a>
            <ul *ngIf="visible" class="subnav3">
              <li id="lirelListUpload">
                <a routerLink="relational-manual">Manual</a>
              </li>
              <li id="lirelFTPSource">
                <a routerLink="relational-sftp">SFTP</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="clear"></div>
        <div #menuRef class="tab_link" (click)="toggleMenu()">
          <span>Related Links</span><i class="icon-down-arrow"></i>
        </div>
      </nav>
    </div>
    <div class="clear"></div>
  </div>
  <div class="table-container">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div class="table-container">
  <router-outlet></router-outlet>
</div> -->

<!-- <router-outlet></router-outlet> -->

<!-- <p-tabView>
  <p-tabPanel header="Manual">
    <app-manual></app-manual>
  </p-tabPanel>
  <p-tabPanel header="SFTP">
    Content 2
  </p-tabPanel>
  <p-tabPanel header="Inbound">
    Content 3
  </p-tabPanel>
  <p-tabPanel header="CRM">
    Content 3
  </p-tabPanel>
  <p-tabPanel header="Other">
    Content 3
  </p-tabPanel>
</p-tabView> -->
