<section class="login">
  <form [formGroup]="loginForm">
    <div class="login_wrapper">
      <figure class="logo">
        <img
          src="../../../assets/images/login-logo.png"
          class="desktop"
          width="240"
          height="43"
          alt="Experiture Logo"
        />
        <img
          src="../../../assets/images/top_logo.png"
          class="mobile"
          width="246"
          alt="Experiture Mobile Logo"
        />
      </figure>
      <div class="login_box">
        <div class="stage">
          <h1>Sign in to Experiture</h1>
          <h4>Enter login details below</h4>
          <div class="input-area">
            <div class="input-item">
              <input
                formControlName="email"
                name="txtEmail"
                type="text"
                id="txtEmail"
                placeholder="Sign in with email"
                autocomplete="nope"
              />
              <span
                *ngIf="
                  loginForm.get('email').invalid &&
                  loginForm.get('email').touched
                "
                style="color: red;"
                >Please enter vaild email!</span
              >
            </div>
          </div>
          <div class="pass-area input-area">
            <div class="input-item">
              <div style="position: relative;">
                <a class="eye" (click)="showPass()"
                  ><img
                    src="../../../assets/images/login-show-pass.png"
                    width="20"
                    height="20"
                    alt=""
                /></a>
                <input
                  formControlName="password"
                  name="txtPassword"
                  [type]="inputType"
                  id="txtPassword"
                  placeholder="Password"
                />
              </div>
              <span
                *ngIf="
                  loginForm.get('password').invalid &&
                  loginForm.get('password').touched
                "
                style="color: red;"
                >Please enter password!</span
              >
            </div>
            <span id="lblMessage" class="logErr" style="display: none;"
              >Invalid Email and Password</span
            >
          </div>
          <div class="l-action">
            <div style="position: relative;">
              <ng-container *ngIf="loader">
                <img
                  class="loader-gif"
                  src="../../../assets/images/loading.gif"
                  alt=""
                />
              </ng-container>

              <input
                type="submit"
                name="btnLogin"
                value="Login"
                id="btnLogin"
                class="button"
                (click)="userLogin()"
                [disabled]="!loginForm.valid"
                #LoginButton
              />
            </div>

            <a class="clear" (click)="clearForm()">Clear</a>
            <a (click)="forgetPassword()" class="forgotpass"
              >Forgot Password?</a
            >
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="bottom_logo">
    <img
      src="../../../assets/images/logo-experiture-poweredby.png"
      width="125"
      alt="Powered by Experiture Logo"
    />
  </div>
</section>
