@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
section {
  margin: 0px;
  padding: 0px;
  display: table;
  height: 100vh;
  width: 100%;
  background: #e8eeef;
  background-image: url('../../../assets/images/login-bg.svg');
  font-family: 'Lato', sans-serif;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 100%;
}
form {
  display: block;
  // width: 1200px;
}

.login_wrapper {
  display: block;
  margin: 0px auto;
  clear: both;
}
.login_wrapper:after {
  display: table;
  content: '';
  clear: both;
}
.login_wrapper::before {
  display: table;
  content: '';
  clear: both;
}
.logo {
  // display: inline-block;
  margin: 52px 0px 0px 0;
  // padding-left: 100px;
  width: 240px;
  animation: fadein 3s ease-in-out;
  animation-fill-mode: forwards;
  // transition: all 0.2s;
  //   opacity: 0;
}
.stage {
  animation: fadein 5s ease-out;
  display: block;
  width: 100%;
  clear: both;
}
.stage:after {
  display: table;
  content: '';
  clear: both;
}
.stage::before {
  display: table;
  content: '';
  clear: both;
}
.login_box {
  width: 470px;
  height: 361px;
  margin: 0;
  padding: 40px 0px 0px 0px;
  // padding-left: 100px;
  background: transparent;
  border-radius: 10px 10px 0 0;
  margin-top: 100px;
  display: block;
  clear: both;
}
.login_box:after {
  display: table;
  content: '';
  clear: both;
}
.login_box::before {
  display: table;
  content: '';
  clear: both;
}
.login_box h1 {
  font-family: 'Lato', sans-serif;
  color: #0f263e;
  font-size: 44px;
  font-weight: 300;
  display: block;
  margin: 0px 0px 27px;
  //   opacity: 0;
}
.login_box h4 {
  font-family: 'Lato', sans-serif;
  color: #a4afb2;
  font-size: 20px;
  font-weight: 300;
  display: block;
  margin: 0px 0px 27px;
  padding: 0px;
  //   opacity: 0;
}
.login_box h3 {
  font-family: 'Lato', sans-serif;
  color: #0f263e;
  font-size: 20px;
  font-weight: 300;
  display: block;
  margin: 0px 0px 27px;
}
.login_box input[type='text'] {
  background-color: #ffffff;
  display: block;
  position: relative;
  z-index: 9;
  width: 100%;
  border: 0px;
  border-bottom: solid 2px #fff;
  // margin-bottom: 30px;
  padding: 15px 0 15px 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #0f263e;
}
.login_box input[type='text']::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: a4afb2;
  //   opacity: 0.6;
}
.login_box input[type='text']::-moz-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: a4afb2;
  opacity: 0.6;
}
.login_box input[type='text']:-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: a4afb2;
  opacity: 0.6;
}
.login_box input[type='text']:-moz-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: a4afb2;
  opacity: 0.6;
}
.login_box input[type='text']::placeholde {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: a4afb2;
  opacity: 0.6;
}
.login_box input[type='password'] {
  background-color: #ffffff;
  display: block;
  position: relative;
  z-index: 9;
  width: 100%;
  border: 0px;
  margin: 0px;
  border-bottom: solid 2px #fff;
  // margin-bottom: 30px;
  padding: 15px 15px 15px 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #0f263e;
}
.input-item {
  margin-bottom: 30px;
}
.login_box input[type='password']::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: a4afb2;
  opacity: 0.6;
}
.login_box input[type='password']::-moz-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: a4afb2;
  opacity: 0.6;
}
.login_box input[type='password']:-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: a4afb2;
  opacity: 0.6;
}
.login_box input[type='password']:-moz-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: a4afb2;
  opacity: 0.6;
}
.login_box input[type='password']::placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: a4afb2;
  opacity: 0.6;
}
.login_box input.errinput {
  border-bottom: solid 2px #ff0000;
}
.login_box input:focus {
  border-bottom: solid 2px #0f263e;
  outline: 0;
  -webkit-box-shadow: inset 0px;
  box-shadow: inset 0px;
  background-color: #ffffff;
}
.login_box input.ng-invalid.ng-touched {
  border-bottom: solid 2px red;
}
.login_box .logErr {
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: #ff0000;
  font-weight: 400;
  position: absolute;
  bottom: 0px;
}
.login_box .l-action {
  width: 100%;
  margin-top: 10px;
  float: left;
  width: 100%;
  //   opacity: 0;
}
.login_box .l-action .button {
  background: #0f263e;
  width: 100%;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  border: 0;
  padding: 19px 0px;
  cursor: pointer;
  line-height: 24px;
  font-weight: 300;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.login_box .l-action .button:hover {
  background: #00adef;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.login_box .l-action .clear {
  float: left;
  font-size: 18px;
  text-decoration: none;
  color: #a4afb2;
  font-weight: 300;
  padding-top: 12px;
  cursor: pointer;
}
.login_box .l-action .clear:hover {
  text-decoration: underline;
}
.login_box .l-action .forgotpass {
  float: right;
  text-decoration: none;
  font-size: 18px;
  color: #a4afb2;
  font-weight: 300;
  padding-top: 12px;
  cursor: pointer;
}
.login_box .l-action .forgotpass:hover {
  text-decoration: underline;
}
.login_box .pass-area .eye {
  position: absolute;
  right: 10px;
  top: 16px;
  // margin-top: -25px;
  z-index: 99;
}
.input-area {
  position: relative;
  display: block;
  margin: 0px auto 0px;
  clear: both;
  width: 100%;
  //   opacity: 0;
}
.input-area::after {
  display: table;
  clear: both;
  content: '';
  margin: 0px;
  padding: 0px;
}
.input-area::before {
  display: table;
  clear: both;
  content: '';
  margin: 0px;
  padding: 0px;
}
.input-area .err {
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: #ff0000;
  font-weight: 400;
  position: absolute;
  bottom: 0px;
}
input:-webkit-autofill {
  background-color: #fff !important;
  box-shadow: none;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  background-image: none !important;
}
input:-internal-autofill-selected {
  background-color: #fff !important;
  box-shadow: none;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  background-image: none !important;
}
.alt-msg {
  text-align: center;
  font-size: 12px;
}

@media screen and (min-width: 992px) {
  .login_wrapper {
    width: 900px;
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .bottom_logo {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .login_wrapper {
    width: 997px;
  }
}
@media screen and (min-width: 1200px) {
  .login_wrapper {
    width: 1070px;
  }
}
@media screen and (min-width: 1400px) {
  .login_wrapper {
    width: 1200px;
  }
}
@media screen and (min-width: 1600px) {
  .login_wrapper {
    width: 1400px;
  }
}
@media screen and (max-width: 991px) {
  .login {
    background-image: url('../../../assets/images/mobile_bg.svg');
    background-position: center bottom;
    background-size: 100% auto;
    position: relative;
  }
  .login.forgot_pass {
    background-image: none;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .bottom_logo {
    display: block;
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
  .logo {
    margin: 53px auto 0px;
  }
  .login_wrapper {
    width: 768px;
    margin-bottom: 372px;
  }
  .login_box {
    margin: 0px auto;
    padding-top: 65px;
  }
  .login_box h1 {
    text-align: center;
  }
  .login_box h4 {
    text-align: center;
  }
  .login_box h3 {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .login_wrapper {
    width: 100%;
    margin-bottom: 372px;
  }
  .login_box {
    padding: 40px 10%;
  }
}
@media only screen and (max-width: 600px) {
  .login_box {
    padding: 40px;
    width: auto;
    padding: 15px;
    width: auto;
  }
  .login_box h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
  }
  .login_box h4 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .login_box h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .login_box input[type='text'] {
    font-size: 15px;
    padding: 10px;
    // width: calc(100% - 20px);
    // margin-bottom: 15px;
  }

  .login_box input[type='password'] {
    font-size: 16px;
    padding: 10px;
    // width: calc(100% - 20px);
    // margin-bottom: 15px;
  }
  .input-item {
    margin-bottom: 15px;
  }
  .login_box .l-action .button {
    font-size: 16px;
    padding: 10px;
  }
  .login_box .pass-area .eye {
    // margin-top: -20px;
    top: 8px;
  }
  .logo {
    margin: 15px auto 0px;
  }
  .logo .mobile {
    width: 50%;
    margin: 0px auto;
  }
  .bottom_logo {
    bottom: 35px;
    bottom: 45px;
    right: 15px;
  }
  .login_wrapper {
    margin-bottom: 0px;
  }
  .login.forgot_pass .login_box {
    width: 90%;
  }
  .dhtmlwindow {
    width: 90% !important;
    margin: 0px auto !important;
  }
}
@media only screen and (max-width: 480px) {
  .login_box .l-action .forgotpass {
    color: #0f263e;
  }
  .login_box .l-action .clear {
    color: #0f263e;
  }
}

.loader-gif {
  position: absolute;
  right: 15px;
  top: 20px;
  z-index: 99;
  width: 20px;
  height: 20px;
}

.login_box .l-action .button:disabled {
  cursor: default;
  background-color: #0f263e;
}
