/*** Responsive ***/
@mixin breakpoint($point) {
   @if $point == large-desktop {
     @media (min-width: 1920px) { @content ; }
  }
  @else if $point == desktop {
    @media (min-width:1600px) and (max-width:1919px) { @content ; }
 }
 @else if $point == small-desktop {
  @media (min-width:1366px) and (max-width:1599px) { @content ; }
}
   @else if $point == laptop {
     @media (min-width:1024px) and (max-width:1365px) { @content ; }
  }

    @else if $point == tablet { 
     @media (min-width:768px) and (max-width:1023px) { @content ; }
  }
  @else if $point == mobile {
     @media (max-width: 767px)  { @content ; }
  }
}



/*** Button ***/
@mixin button-bg($bg) {
  background: $bg;

  &:hover,&.active
  {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  
  &:active {
    background:darken($bg,25%);
  } 
}



/*** Transition ***/
@mixin transition($transition-property, $transition-time, $method, $delay:false) {	
	@if $delay {
   -webkit-transition: $transition-property $transition-time $method $delay;
    -moz-transition: $transition-property $transition-time $method $delay;
    -ms-transition: $transition-property $transition-time $method $delay;
    -o-transition: $transition-property $transition-time $method $delay;
    transition: $transition-property $transition-time $method $delay;
    } @else {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
    }
} 



/***Border radius***/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
/*** usages 
 @include  border-radius($radius)
 ***/


/*** Sprite ***/
@mixin sprite($x: 0, $y: 0) {
	background-image: url(../images/sprite-image.png);
	background-position: $x $y;
	background-repeat: no-repeat;
}


// Linear Gradient Mixin
@mixin horizontal-gradient($from, $to, $stop: 100%) {
  background-color: $from;
  background-image: -moz-linear-gradient(left, $from 0%, $to $stop);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to));
  background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);
  background-image: -o-linear-gradient(left, $from 0%, $to $stop);
  background: -ms-linear-gradient(left, $from 0%, $to $stop);
  background: linear-gradient(to right, $from 0%, $to $stop);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}


@mixin opacity($value){
	  $IEValue: $value*100;
	  opacity: $value;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
	  filter: alpha(opacity=$IEValue);
}



@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
    } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
    }
} 



@mixin opacity-background($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);  
}

/*** usages 
 @include rotate($degrees)
 **/

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

/*** usages 
 @include calc( width, '100% - 2px')
 **/