@import './variables';
@import './mixins';

.p-datatable-grid {
  .p-datatable-tbody > tr:nth-child(even) {
    background-color: #f1f1f1;
  }
  .p-datatable-thead > tr > th {
    text-align: center;
  }
  .p-datatable-tbody > tr > td {
    padding: 0.8rem;
    text-align: center;
  }
  .p-paginator {
    background-color: #eef5f5;
    padding: 0;

    @media (max-width: 1024px) {
      .p-paginator-current {
        display: none;
      }
    }
  }
  .p-paginator-right-content {
    margin-left: 0em;
  }
  .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #89c540;
    box-shadow: none;
    color: #fff;
  }
  .p-paginator-pages .p-paginator-page {
    // margin: 0 8px 0 0;
    height: 2em;
    min-width: 2em;
    line-height: 2em;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background-color: #89c540;
    color: #fff;
  }
  .p-paginator-bottom {
    .paginator-left {
      display: none;
    }
  }
  .p-dropdown {
    box-shadow: none;
  }
  // .p-dropdown:not(.p-disabled):hover {
  //   border-color: #89c540;
  // }
}

.p-dropdown:not(.p-disabled):hover {
  border-color: #89c540;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none;
  border-color: #89c540;
}

.p-button {
  background-color: #89c540;
  border: 1px solid #89c540;
}
.p-button:enabled:active {
  background-color: #89c540;
  color: #ffffff;
  border-color: #89c540;
}
.p-button:enabled:hover {
  background-color: #89c540;
  color: #ffffff;
  border-color: #89c540;
}
.p-button.p-button-secondary.p-button-outlined:enabled:active {
  background-color: #89c540;
  color: #ffffff;
}
.p-button.p-button-secondary.p-button-outlined:enabled:hover {
  background-color: #89c540;
  color: #ffffff;
  border-color: #89c540;
}

.gridTop {
  background: $white;
  border-color: $borderlightcolor;
  padding: 10px 42px 10px 14px;
  width: 100%;

  @include breakpoint(mobile) {
    padding: 10px;
  }

  .gridFilterL {
    float: left;
    margin: 5px;
    &::after,
    &::before {
      clear: both;
      display: table;
      content: '';
      width: 100%;
    }

    i {
      font-size: 21px;
      line-height: 27px;
      margin-right: 10px;
    }

    @include breakpoint(mobile) {
      width: 100%;
      clear: both;
      margin: 0px auto;
      float: none;

      &::after,
      &::before {
        display: block;
        content: '';
        margin: 0px;
        padding: 0px;
        clear: both;
      }
    }

    .target-counts {
      height: 39px;
      float: left;

      .listcount {
        text-decoration: none;
        cursor: default;
        float: left;
        margin-top: 0;
        margin-right: 20px;
        padding-right: 20px;
        border-right: solid 1px $bordercolor;
        vertical-align: middle;
        .icon-database {
          &:before {
            content: $icon-database;
          }
        }
        i {
          color: $color !important;
          display: inline-block;
          margin-right: 10px;
          font-size: 30px;
          vertical-align: middle;
        }
        span {
          color: $color;
          font-size: 20px;
          line-height: 24px;
          display: inline-block;
          vertical-align: middle;
          em {
            font-style: normal;
            font-size: $size13;
            line-height: 15px;
            color: #0f263e;
            display: block;
          }
        }
      }

      .addData {
        color: $color;
        float: left;
        text-decoration: none;
        vertical-align: middle;
        margin-top: 6px !important;

        .icon-database_add {
          &:before {
            content: $icon-database_add;
          }
        }

        i {
          font-size: 24px;
          vertical-align: middle;
        }
      }
    }
    a {
      margin-right: 10px;
      font-size: $size16;
      text-decoration: none;
      margin: 0 0 0 10px;
    }
  }

  .gridFilterR {
    float: right;

    @include breakpoint(mobile) {
      float: none;
      clear: both;
      margin-bottom: 10px;
      margin-top: 10px;
      width: 100%;

      &::after,
      &::before {
        display: block;
        content: '';
        margin: 0px;
        padding: 0px;
        clear: both;
      }
    }

    a {
      margin-left: 10px;
      font-size: $size14;
      text-decoration: none;
      color: $color;
    }

    i {
      vertical-align: middle;
      color: $iconcolor;
    }
    input[type='text'] {
      float: left;
      padding: 7px;
      margin-left: 0;
      color: $color;
      width: 300px;
      font-size: 14px;
      border: 0;
      border-bottom: 1px solid $bordercolor;
      @include breakpoint(mobile) {
        width: auto;
        min-width: 168px;
      }
    }
    input.placeholder:hover {
      border-bottom: 1px solid #89c540;
    }
    .icon-search {
      &:before {
        content: $icon-search;
      }
    }
    .icon-reload {
      margin: 0 10px;
      font-size: 24px;
      &:before {
        content: $icon-reload;
      }
    }
  }
}

.paginator-left {
  margin: 15px 0 15px 25px;
  font-size: 1.2rem;
  a {
    font-size: 16px;
  }

  .filter-view {
    .p-dropdown-label {
      font-size: 1.2rem;
    }
  }
  .icon-refresh {
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
    &:before {
      content: $icon-refresh;
    }
  }
}

.jump {
  margin: 0.5rem 1rem 0.5rem 1.5rem;
  label {
    margin: 0;
    font-weight: bold;
  }
  .jump-input {
    margin-left: 1rem;
    height: 2.2rem;
  }
  .jump-btn {
    margin-left: 0.5rem;
    height: 2.2rem;
    text-transform: uppercase;
  }
}

.jump-in {
  margin: 0;
  font-size: 1rem;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 3px;
}

.ellipsis-h {
  position: absolute;
  top: 50%;
  padding-left: 0.3em;
}

.icon-add {
  color: $iconcolor;
  font-size: 18px;
  &:before {
    content: $icon-add;
  }
}

.icon-edit {
  &:before {
    content: $icon-edit;
  }
}

.icon-view02 {
  font-size: 18px;
  &:before {
    content: $icon-view02;
  }
}

.icon-csv1 {
  &:before {
    content: $icon-csv1;
  }
}

.icon-delete-button {
  color: $red;
  font-size: 18px;
  &:before {
    content: $icon-delete-button;
  }
}

.clear {
  clear: both;
  font-size: 0;
  height: 0;
  display: block;
}

input:enabled:focus,
textarea:enabled:focus,
.p-inputtext:enabled:focus {
  box-shadow: none;
  border-color: $primary;
}

input:enabled:hover,
textarea:enabled:hover,
.p-inputtext:enabled:hover {
  border-color: $primary;
}

.p-datatable {
  .p-datatable-header {
    background-color: $white;
    padding: 0;
  }
}

.fields-dropdown {
  border: none;
  border-bottom: 1px solid #dedede;
  border-radius: 0;
  background-color: transparent;
}

.p-datatable .p-paginator-top .p-paginator-left-content {
  .delete-btn {
    display: none;
  }
}

.delete-btn {
  margin: 15px 0 15px 25px;

  // .p-button-danger {
  //   font-size: 1rem;
  // }
}

.p-datatable .p-sortable-column:focus {
  box-shadow: none;
}
