$icomoon-font-family: 'experiture' !default;
$icomoon-font-path: 'fonts' !default;

$icon-drag: '\ea05';
$icon-ham-menu: '\ea04';
$icon-bar-code: '\e9ff';
$icon-email2: '\e9fe';
$icon-geo: '\e9fd';
$icon-imb: '\e9fc';
$icon-ivr: '\e9fb';
$icon-lead: '\e9fa';
$icon-purl: '\e97a';
$icon-switch-account: '\e9f7';
$icon-call_03: '\e9f8';
$icon-email1: '\e9f9';
$icon-manage_program: '\e9f5';
$icon-testing: '\e9f6';
$icon-lock: '\e9f3';
$icon-unlock: '\e9f4';
$icon-add_03: '\e9af';
$icon-add_friends_link: '\e9b0';
$icon-area-chart: '\e9bf';
$icon-asstets_03: '\e9c0';
$icon-close_widget: '\e9c1';
$icon-communications: '\e9c2';
$icon-design_editor: '\e9c3';
$icon-email_browser: '\e9c4';
$icon-email-delivered: '\e9c5';
$icon-email-percentage: '\e9c6';
$icon-email-sent: '\e9c7';
$icon-email-sent2: '\e9c8';
$icon-external_link: '\e9c9';
$icon-files-and-folders: '\e9ca';
$icon-form: '\e9cb';
$icon-line-chart: '\e9cc';
$icon-list_segments: '\e9cd';
$icon-local_drive: '\e9ce';
$icon-mail1: '\e9cf';
$icon-move-path1: '\e9d0';
$icon-move-path2: '\e9d1';
$icon-move-path3: '\e9d2';
$icon-move-path4: '\e9d3';
$icon-move-path5: '\e9d4';
$icon-move-path6: '\e9d5';
$icon-move-path7: '\e9d6';
$icon-move-path8: '\e9d7';
$icon-move-path9: '\e9d8';
$icon-move-path10: '\e9d9';
$icon-move_02-path1: '\e9da';
$icon-move_02-path2: '\e9db';
$icon-move_02-path3: '\e9dc';
$icon-move_02-path4: '\e9dd';
$icon-move_02-path5: '\e9de';
$icon-move_02-path6: '\e9df';
$icon-move_02-path7: '\e9e0';
$icon-move_02-path8: '\e9e1';
$icon-move_02-path9: '\e9e2';
$icon-move_02-path10: '\e9e3';
$icon-opened-email: '\e9e4';
$icon-percentage: '\e9e5';
$icon-photo: '\e9e6';
$icon-placeholder1: '\e9e7';
$icon-placeholder_02: '\e9e8';
$icon-preview_computer: '\e9e9';
$icon-preview_mobile: '\e9ea';
$icon-preview_tab: '\e9eb';
$icon-Rule_image: '\e9ec';
$icon-Save-Close-595b40b65ba036ed117d0bdc: '\e9ed';
$icon-share1: '\e9ee';
$icon-ui: '\e9ef';
$icon-unsubscribe1: '\e9f0';
$icon-user: '\e9f1';
$icon-web_image: '\e9f2';
$icon-cup-path1: '\ea07';
$icon-cup-path2: '\ea08';
$icon-cup-path3: '\ea09';
$icon-cup-path4: '\ea0a';
$icon-cup-path5: '\ea0b';
$icon-cup-path6: '\ea0c';
$icon-cup-path7: '\ea0d';
$icon-cup-path8: '\ea0e';
$icon-cup-path9: '\ea0f';
$icon-cup-path10: '\ea10';
$icon-cup-path11: '\ea11';
$icon-cup-path12: '\ea12';
$icon-cup02: '\ea13';
$icon-css: '\ea06';
$icon-bring-front: '\ea02';
$icon-send-back: '\ea03';
$icon-google-plus: '\e9aa';
$icon-instagram: '\e9ab';
$icon-pinterest: '\e9ac';
$icon-vimeo: '\e9ad';
$icon-youtube: '\e9ae';
$icon-exlogo-path1: '\e964';
$icon-exlogo-path2: '\e965';
$icon-exlogo-path3: '\e966';
$icon-exlogo-path4: '\e9ba';
$icon-mail-preference: '\e9bb';
$icon-mail-view-web: '\e95e';
$icon-stop-mail: '\e9b4';
$icon-add1: '\e973';
$icon-clock: '\e972';
$icon-phone-call: '\e96d';
$icon-business-card: '\e9be';
$icon-image-rule: '\e963';
$icon-web-link: '\e9bc';
$icon-wishlist: '\e9bd';
$icon-recommend: '\e9b5';
$icon-add-attachments: '\e9b6';
$icon-add-user-group: '\e9b7';
$icon-remove-attachments: '\e9b8';
$icon-remove-user-group: '\e9b9';
$icon-attachment: '\e9b2';
$icon-all-attachments: '\e9b3';
$icon-view-link: '\e9a9';
$icon-voice-message-mail: '\e96c';
$icon-salesforce-path1: '\e968';
$icon-salesforce-path2: '\e969';
$icon-sms-phone: '\e96a';
$icon-sms: '\e96b';
$icon-desktop: '\e95f';
$icon-reset: '\e95c';
$icon-minimize: '\e9a6';
$icon-launch: '\e9a3';
$icon-down-arrow: '\e99f';
$icon-up-arrow2: '\e9a0';
$icon-Purl: '\e99a';
$icon-left-chevron: '\e998';
$icon-right-chevron: '\e999';
$icon-postal_new: '\e996';
$icon-back: '\e995';
$icon-target02: '\e997';
$icon-my-account: '\e992';
$icon-webnair: '\e9b1';
$icon-purl-link: '\e961';
$icon-webinar: '\e98f';
$icon-csv1: '\e98d';
$icon-xls: '\e98e';
$icon-sad: '\e980';
$icon-salesfroce_logo: '\ea01';
$icon-database1: '\e97f';
$icon-edit_campaign: '\e97e';
$icon-add-program: '\e979';
$icon-copy_02: '\ea00';
$icon-link1: '\e97b';
$icon-rename: '\e97c';
$icon-Save_02: '\e97d';
$icon-html-widgets: '\e930';
$icon-up-arrow1: '\e91b';
$icon-folder: '\e90e';
$icon-placeholder: '\e967';
$icon-web-image: '\e962';
$icon-browser1: '\e960';
$icon-link: '\e95d';
$icon-test_email: '\e95b';
$icon-Design: '\e95a';
$icon-team: '\e9a8';
$icon-employee: '\e9a7';
$icon-maximize: '\e9a5';
$icon-GURL: '\e9a4';
$icon-search1: '\e9a2';
$icon-lead-alert: '\e9a1';
$icon-contact: '\e99e';
$icon-email: '\e99c';
$icon-LandingPage: '\e99d';
$icon-manage-domain: '\e99b';
$icon-unsubscribe: '\e994';
$icon-web-template: '\e993';
$icon-geo-fence: '\e93b';
$icon-manage-Offers: '\e991';
$icon-inbound: '\e990';
$icon-danger: '\e98c';
$icon-facebook: '\e982';
$icon-linkedin: '\e988';
$icon-mobile: '\e989';
$icon-postal: '\e98a';
$icon-twitter: '\e98b';
$icon-bomb: '\e981';
$icon-Alert: '\e983';
$icon-coding: '\e984';
$icon-Embed_coding: '\e985';
$icon-redirect: '\e986';
$icon-template: '\e987';
$icon-database_add: '\e970';
$icon-calculator: '\e956';
$icon-reload: '\e952';
$icon-refresh: '\e94e';
$icon-view02: '\e94d';
$icon-share: '\e929';
$icon-report: '\e91a';
$icon-csv: '\e959';
$icon-download1: '\e96e';
$icon-encrypted: '\e96f';
$icon-landing-page: '\e971';
$icon-page: '\e974';
$icon-Pin: '\e975';
$icon-Reporting_Schedule: '\e976';
$icon-upload-list: '\e977';
$icon-view: '\e978';
$icon-add: '\e900';
$icon-analytics: '\e901';
$icon-audience: '\e902';
$icon-bill: '\e903';
$icon-billing: '\e904';
$icon-browser: '\e905';
$icon-calendar: '\e906';
$icon-check_list: '\e907';
$icon-chevron: '\e908';
$icon-close_circle: '\e909';
$icon-close_delete_remove: '\e90a';
$icon-close-cross: '\e90b';
$icon-connection-system: '\e90c';
$icon-copy: '\e90d';
$icon-database: '\e90f';
$icon-delete-button: '\e910';
$icon-dots-menu: '\e911';
$icon-download: '\e912';
$icon-edit: '\e913';
$icon-education_school_learn: '\e914';
$icon-ellipsis: '\e915';
$icon-envelope: '\e916';
$icon-exchange: '\e917';
$icon-expand_more: '\e918';
$icon-export-document: '\e919';
$icon-file: '\e91c';
$icon-file_delete: '\e91d';
$icon-file_plus: '\e91e';
$icon-file_remove: '\e91f';
$icon-floppy_disk: '\e920';
$icon-folder_filled-path1: '\e921';
$icon-folder_filled-path2: '\e922';
$icon-folder_filled-path3: '\e923';
$icon-folder_filled-path4: '\e924';
$icon-folder_image: '\e925';
$icon-fork: '\e926';
$icon-gear: '\e927';
$icon-html: '\e928';
$icon-info: '\e92a';
$icon-info_filled: '\e92b';
$icon-insight: '\e92c';
$icon-invoice: '\e92d';
$icon-layout: '\e92e';
$icon-levels-controls: '\e92f';
$icon-list: '\e931';
$icon-listing: '\e932';
$icon-logout: '\e933';
$icon-mail: '\e934';
$icon-manual: '\e935';
$icon-megaphone: '\e936';
$icon-message: '\e937';
$icon-next_play: '\e938';
$icon-pause02: '\e939';
$icon-pause-button: '\e93a';
$icon-play: '\e93c';
$icon-play_circle: '\e93d';
$icon-play_rounded: '\e93e';
$icon-print_mail: '\e93f';
$icon-print_mail_rounded: '\e940';
$icon-progress-report: '\e941';
$icon-question: '\e942';
$icon-questions: '\e943';
$icon-rating: '\e944';
$icon-resize: '\e945';
$icon-right_and_left_arrows: '\e946';
$icon-right-thin-chevron: '\e947';
$icon-ring: '\e948';
$icon-save_icon: '\e949';
$icon-search: '\e94a';
$icon-settings: '\e94b';
$icon-settings_ouline: '\e94c';
$icon-speedometer: '\e94f';
$icon-stats: '\e950';
$icon-support: '\e951';
$icon-up-arrow: '\e953';
$icon-user_black: '\e954';
$icon-user_outline: '\e955';
$icon-video-server: '\e957';
$icon-workflow: '\e958';

/* ================================================================================ */
/* MEDIA QUERY */
/* ================================================================================ */
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

/* ================================================================================ */
/* FONTS */
/* ================================================================================ */

$arial: 'Arial', sans-serif;
$lato-thin: 'Lato Thin', sans-serif;
$lato-light: 'Lato Light', sans-serif;
$lato-regular: 'Lato', sans-serif;
$lato-bold: 'Lato Bold', sans-serif;
$lato-black: 'Lato Black', sans-serif;

$size10: 10px;
$size11: 11px;
$size12: 12px;
$size13: 13px;
$size14: 14px;
$size15: 15px;
$size16: 16px;
$size18: 18px;
$size20: 20px;
$size22: 22px;
$size24: 24px;
$size26: 26px;
$size28: 28px;
$size30: 30px;
$size32: 32px;
$size36: 36px;
$size42: 42px;
$size50: 50px;

/* ================================================================================ */
/* COLORS */
/* ================================================================================ */
$primary-exp: #89c540;
$secundary-exp: #00aeef;
$secondar-light: #F5F8F9;
$tertiary-exp: #0f3f69;
$quaternary-exp: #0b9444;
$silver-light:#f6f6f6;

$primary-ep: #f8d73b;
$secundary-ep: #fd9c2c;
$tertiary-ep: #f76f23;
$quaternary-ep: #c25312;

$body-color: #e8eeef;
$color-font: #0f263e;
$color: #0f263e;
$bordercolor: #dedede;
$borderlightcolor: #eeefef;
$white: #ffffff;

$primary: #89c540;
$secundary: #00aeef;
$tertiary: #0f3f69;
$quaternary: #0b9444;
$black: #000000;
$color: #0f263e;
$body: #e8eeef;

$menubackground: hsl(87, 56%, 45%);
$hoversubmenu: #69a124;
$iconcolor: #7d848e;
$tblbg: #f8fbfb;
$red: #d02a2a;
$yellow: #edb531;
$sugarCRM: #f67e04;
$dynamicsCRM: #001f4e;
$tabbg: #f5f9fa;
$magenta: #511073;
$coffee: #6f4e37;
$lightgreenborder : #e6e6e6;
$lightgreenbg:#f8fbfe;
$lightgrey : #f8f8f8;
$main-color: $primary-exp !default;
$button-text-color: $white;
$button-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.38) !default;
$label-text-color: rgba(255, 255, 255, 1) !default;
$label-background-color: rgba(0, 0, 0, 0.8);

/* ================================================================================ */
/* GUTTER - Create Program - left menu */
/* ================================================================================ */
$grid-gutter-width: 30px;
$input-padding-horizontal: $grid-gutter-width / 3;
$input-padding-vertical: $grid-gutter-width / 3;

/* ================================================================================ */
/* EFFETCS */
/* ================================================================================ */
$effects-zoomin: true !default;
$effects-slidein: true !default;
$effects-fountain: true !default;

/* ================================================================================ */
/* SPEEDS */
/* ================================================================================ */
$delay-staggering-inflate: 0.1s !default;
$slide-speed: 0.3s !default;
$label-hover-off: 0.3s !default;
$label-hover-on: 0.3s !default;

/* ================================================================================ */
/* SIZES */
/* ================================================================================ */
$main-button-size: 56px !default;
$child_button_size: 56px !default;
$border-distance: 25px !default;
$icons-font-size: 18px !default;
$labels-font-size: 14px !default;
$labels-font-weight: normal !default;
$labels-padding-vertical: 4px !default;
$labels-padding-horizontal: 10px !default;

/* ================================================================================ */
/* SPACES */
/* ================================================================================ */
$button-space: 70px !default;
$button-label-space: 70px !default;

/* ================================================================================ */
/* SCAFFOLDING */
/* ================================================================================ */
$font-size-base: 16px;
$line-height-base: 1.428571429;

/* ================================================================================ */
/* OVERWRITE PROPERTY */
/* ================================================================================ */
$reset-margin: 0 !important;
$reset-padding: 0 !important;
$no-border: none !important;
$floatleft: left !important;
$floatright: right !important;

/* ================================================================================ */
/* MEDIA QUERIES */
/* ================================================================================ */
$mobile: 767px;
$tablet: 991px;
$small-desktop: 992px;
$mid-desktop: 1199px;
$large-desktop: 1366px;
