@import './table';

@font-face {
  font-family: experiture;
  src: url(fonts/experiture.eot?njrqa2);
  src: url(fonts/experiture.eot?njrqa2#iefix) format('embedded-opentype'),
    url(fonts/experiture.woff2?njrqa2) format('woff2'),
    url(fonts/experiture.ttf?njrqa2) format('truetype'),
    url(fonts/experiture.woff?njrqa2) format('woff'),
    url(fonts/experiture.svg?njrqa2#experiture) format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'experiture' !important;
  // speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loading {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(102, 102, 102, 0.3);

  img {
    position: fixed;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
}

em {
  color: red;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.p-checkbox .p-checkbox-box:not(.p-disabled).p-focus {
  box-shadow: none;
  border-color: #89c540;
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #89c540;
  background: #89c540;
}

.p-checkbox .p-checkbox-box:not(.p-disabled):hover {
  border-color: #89c540;
}

.p-checkbox .p-checkbox-box.p-highlight:not(.p-disabled):hover {
  border-color: #89c540;
  background: #89c540;
  color: #ffffff;
}

.export-request .p-toast {
  width: 50%;
}

// style for delete confirmation toast(Not using)
.confirm-toast {
  &.p-toast {
    width: auto;
  }

  .toast-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-right: 1rem;

    .toast-btn-group {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: center;
      margin-bottom: 1rem;

      @media (min-width: 640px) {
        flex-direction: row;
      }

      .toast-btn {
        width: 100%;
        margin-bottom: 0.5rem;

        @media (min-width: 640px) {
          width: 8rem;
          margin-right: 0.5rem;
        }
      }
    }

    .toast-text-center {
      text-align: center;
      margin-right: 1rem;
      i {
        margin-bottom: 1.5rem;
        margin-top: 1rem;
      }

      h3 {
        margin-bottom: 1.2rem;
      }
    }
  }
}

.delete-dialog {
  min-width: 30rem;
  .p-dialog-header,
  .p-dialog-content {
    background: #ffecb3;
    border: solid #d9a300;
    border-width: 0 0 0 6px;
    color: #6d5100;
  }

  .dialog-content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    // margin-right: 1rem;

    .dialog-btn-group {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: center;
      // margin-top: 0.5rem;
      margin: 1rem 0;

      @media (min-width: 640px) {
        flex-direction: row;
      }

      .dialog-btn {
        // width: 100%;
        min-width: 10rem;
        margin-bottom: 0.5rem;

        @media (min-width: 640px) {
          width: auto;
          margin-right: 0.5rem;
        }
      }
    }

    .dialog-text-center {
      text-align: center;
      margin-right: 1rem;
      i {
        margin-bottom: 1.5rem;
        margin-top: 1rem;
      }

      h3 {
        margin-bottom: 1.2rem;
      }
    }
  }
}

.modal-loading {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(102, 102, 102, 0.3);
  z-index: 13000;

  img {
    position: fixed;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
    top: 40%;
  }
}

.mobile-fullview {
  &.p-dialog {
    @media screen and (max-width: 639px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
      max-height: 100% !important;
    }
    .p-dialog-content {
      @media screen and (max-width: 639px) {
        height: 100% !important;
      }
    }
  }
}
