@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.section-header 
{
    position: relative;
    padding: 0 0 8px;
   

    h3 
    {
        font-size: 16px;
        font-family: "Lato",sans-serif;
        color: $color-font;
        font-weight: 600;
    }
}

.inner-content 
{
    padding: 15px 20px;
    background: $white;
    overflow: hidden;

    &.myaccount
    {
        min-height: auto;
        margin-bottom: 20px;

        @media screen and (min-width:767px)
        {
            min-height: 383px;
            margin-bottom: 0px;
        }

        ul 
        {
            border-bottom: 1px solid $bordercolor;
            overflow: hidden;
            transition: background-color 0.4 ease-in;

            &:hover
            {
                background-color: #eeefef;
                transition: background-color 0.4 ease-in;        
            }

            li 
            {
               
                font-size: 16px;
                line-height: 24px;
                font-weight: 800;
                padding: 10px 0;
                width: 60px;
                text-align: left;
                float: left;

                @media screen and (min-width:767px)
                {
                   width: 80px;        
                }

                &:last-child
                {
                    width: calc(100% - 60px);
                    text-align: left;

                    @media screen and (min-width:767px)
                    {
                       width: calc(100% - 80px);
                        text-align: left;            
                    }

                    small
                    {
                        display: block;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }

                a 
                {
                    color: $color-font;
                    display: block;

                    i 
                    {
                        font-family: "experiture" !important;
                        color: $iconcolor;
                        font-size: 32px;
                        margin-top: 7px;
                        display: block;
                    }
                }
            }
        }
    }

}

.icon-listing
{
    &:before 
    {
        content: $icon-listing;
    }
} 

.icon-manage-domain
{
    &:before 
    {
        content: $icon-manage-domain;
    }
} 

.icon-Purl
{
    &:before 
    {
        content:$icon-purl;
    }
} 