<div class="section-header">
    <h3>My Account </h3>
</div>
<div class="inner-content myaccount">
    <ul>
        <li><a routerLink="manageprofile"><i class="icon-listing"></i></a></li>
        <li><a routerLink="manageprofile">Organization Profile <small>Create or edit your Company information.</small></a></li>
    </ul>
    <ul>
        <li><a routerLink="managedomain"><i class="icon-Purl"></i></a></li>
        <li><a routerLink="mangageuser">Users <small>Create or edit Users.</small></a></li>
    </ul>
    <ul>
        <li><a routerLink="managedomain"><i class="icon-manage-domain"></i></a></li>
        <li><a routerLink="managedomain">Manage Domains <small>Manage your Domains</small></a></li>
    </ul>
</div>