@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/mixins';

.segment {
  
  
    .segment-nav {
      background-color:$white;
      padding: 1rem;
      margin-bottom: 1rem;
  
      @media screen and (min-width: 640px) {
        display: flex;
        align-content: center;
        justify-content: space-between;
        font-family: 'Lato', sans-serif;
        padding: 10px 20px;
      }
  
      .title {
        padding-bottom: 1rem;
  
        @media screen and (min-width: 640px) {
          padding: 15px 32px 15px 0;
        }
        h2 {
          font-size: 18px;
          font-weight: 600;
          text-align: center;
        }
      }
  
      nav 
          {

            float: right;
            padding: 12px 6px;
            margin-top: 4px;
            border-radius: 25px;
            background: $secondar-light;
            // margin-bottom: 0.75rem;
      
            &.sub_insideNav,
            &.inside-nav 
            {
              @include breakpoint(mobile) 
              {
                border-radius: 0px;
                float: none;
                background-color: $white;
                width: 100%;
                border: solid 1px $bordercolor;
                position: relative;
                padding: 10px 6px;            
              }
      
              @include breakpoint(tablet) {
                border-radius: 0px;
                float: none;
                background-color: $white;
                width: 100%;
                border: solid 1px $bordercolor;
                position: relative;
                padding: 10px 6px;
                max-width: 250px;
              }
      
              .tab_link {
                padding: 0px 10px;
                display: none;
                cursor: pointer;
      
                .icon-down-arrow {
                  float: right;
                  &:before {
                    content: '\e99f';
                  }
                }
                @include breakpoint(mobile) {
                  display: block;
                }
      
                @include breakpoint(tablet) {
                  display: block;
                }
      
                &::after,
                &::before {
                  content: '';
                  display: table;
                  clear: both;
                }
      
                span {
                  float: left;
                  font-size: 14px;
                  letter-spacing: 1px;
                }
      
                i {
                  float: right;
                }
              }
      
              ul {
                @include breakpoint(mobile) {
                  position: absolute;
                  display: none;
                  width: 100%;
                  z-index: 99;
                  background-color: $white;
                  top: 44px;
                  left: 0px;
                  border: solid 1px $bordercolor;
                  border-top: 0px;
                }
                @include breakpoint(tablet) {
                  position: absolute;
                  display: none;
                  width: 100%;
                  z-index: 99;
                  background-color: $white;
                  top: 44px;
                  left: 0px;
                  border: solid 1px $bordercolor;
                  border-top: 0px;
                }
      
                li {
                  @include breakpoint(mobile) {
                    float: none;
                    margin: 0px 0px 5px;
                  }
                  @include breakpoint(tablet) {
                    float: none;
                    margin: 0px 0px 5px;
                  }
      
                  a {
                    @include breakpoint(mobile) {
                      display: block;
                      border-radius: 0px;
                    }
                    @include breakpoint(tablet) {
                      display: block;
                      border-radius: 0px;
                    }
                  }
                }
              }
              &.open {
                .tab_link {
                  span {
                    float: left;
                  }
      
                  i {
                    float: right;
                    transform: rotate(180deg);
                  }
                }
                ul {
                  display: block;
                }
              }
            }
      
            ul {
              list-style: none;
      
              li {
                float: left;
                position: relative;
                margin-right: 5px;
      
                @include breakpoint(desktop) {
                  margin-right: 0;
                }
      
                @include breakpoint(small-desktop) {
                  margin-right: 0;
                }
      
                a {
                  text-decoration: none;
                  padding: 8px 16px;
                  font-size: $size14;
                  border-radius: 20px;
                  color: $color;
      
                  @include breakpoint(small-desktop) {
                    padding: 8px 10px;
                    font-size: $size13;
                  }
                  @include breakpoint(laptop) {
                    padding: 8px 8px;
                  }
                  &:hover,
                  &.sub_active,
                  &.active {
                    background-color: $secundary;
                    color: $white;
                  }
                }
      
                &.drp {
                  ul {
                    @include breakpoint(mobile) {
                      position: relative;
                      top: auto;
                      margin: 0px;
                      padding: 0px;
                    }
      
                    @include breakpoint(tablet) {
                      position: relative;
                      top: auto;
                      margin: 0px;
                      padding: 0px;
                    }
                    li {
                      @include breakpoint(mobile) {
                        margin-bottom: 1px;
                        padding: 0px;
                      }
      
                      @include breakpoint(tablet) {
                        margin-bottom: 1px;
                        padding: 0px;
                      }
                      a {
                        @include breakpoint(mobile) {
                          margin: 0px;
                          padding: 5px 10px;
                          font-size: 13px;
                          line-height: 18px;
                        }
      
                        @include breakpoint(tablet) {
                          margin: 0px;
                          padding: 5px 10px;
                          font-size: 13px;
                          line-height: 18px;
                        }
                      }
                    }
                  }
                  & > a {
                    padding-right: 10px;
                    margin-right: 0px;
      
                    i {
                      margin-left: 10px;
                      vertical-align: middle;
                    }
                  }
                }
              }
            }
          }
    }
  }
.custom_object
{
  width: 100%;
  padding: 15px;
}
.row
{
  flex-flow: column;

  @media screen and (min-width: 992px)
  {
    flex-flow: row;
  }

}
.custom_object .col-2 
{
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;

    @media screen and (min-width:992px)
    {
      flex: 0 0 25%;
      max-width: 25%;  
    }

    @media screen and (min-width: 1024px)
    {
      flex: 0 0 25%;
      max-width: 25%;       
    }
    @media screen and (min-width: 1400px)
    {
      width: 15.8333333333%;
    }
}
.custom_object .col-10 
{
    width: 100%;
    max-width: 100%;

    @media screen and (min-width:992px)
    {
      flex: 0 0 75%;
      max-width: 75%;
    }

    @media screen and (min-width: 1024px)
    {
      flex: 0 0 75%;
      max-width: 75%;       
    }

    @media screen and (min-width: 1400px)
    {
      width: 83.1666666667%;
    }
}
.searchbox
{
  width:100%;
}
