<div class="lstContainer  custom_object">
    <div class="row">
        <div class="col-2 column">
            <app-lefttablelist></app-lefttablelist>
        </div>
        <div class="col-10 grid_cnt column">
            <section class="segment">
                <div class="segment-nav">
                    <div class="title">
                        <h2>{{ getTitle() }}</h2>
                    </div>
                    <nav class="inside-nav" [ngClass]="{ open: showMenu }">
                        <div #menuRef class="tab_link" (click)="toggleMenu()">
                          <span>Related Links</span><i class="icon-down-arrow"></i>
                        </div>
                        <ul class="nav-smenu">
                        <li>
                            <a routerLink="custom-field" routerLinkActive="active"
                            >Relational Tables</a
                            >
                        </li>
                        <li>
                            <a routerLink="custom-object" routerLinkActive="active"
                            >Relational Table Data</a
                            >
                        </li>          
                        </ul>
                    </nav>
                </div>
                    <router-outlet></router-outlet>
            </section>
        </div>
    </div>
</div>


  