.header {
  padding: 20px 28px 14px 28px;

  .gen-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @media (min-width: 640px) {
      flex-direction: row;
    }

    .left-sec {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.8rem;

      @media (min-width: 640px) {
        margin-bottom: 0;
      }

      .target-count {
        border-right: 1px solid #dedede;

        .icon-view {
          color: #0f263e;
          margin-right: 10px;
          font-size: 30px;
          vertical-align: middle;
          line-height: 27px;

          &:before {
            content: '\e978';
          }
        }

        span {
          color: #0f263e;
          font-size: 20px;
          line-height: 24px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 24px;

          em {
            font-style: normal;
            font-size: 13px;
            line-height: 15px;
            color: #0f263e;
            display: block;
          }
        }
      }

      .add-data {
        margin-left: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          color: #0f263e;
          font-size: 16px;
          text-decoration: none;
          margin-right: 24px;

          .icon-add-program {
            color: #7d848e;
            font-size: 24px;
            vertical-align: middle;
            margin-right: 10px;

            &:before {
              content: '\e979';
            }
          }
        }
      }
    }

    .right-sec {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .search-sec {
        .search-inp {
          border: none;
          border-bottom: 1px solid #dedede;
          border-radius: 0;

          @media (min-width: 640px) {
            width: 300px;
          }

          &:hover,
          &:active {
            border-color: #89c540;
          }
        }
      }

      .searchBtn {
        margin: 0 10px;

        .icon-search {
          font-size: 21px;
          line-height: 27px;
          color: #7d848e;
          &:before {
            content: '\e9a2';
          }
        }
      }

      .undoBtn {
        margin-left: 10px;

        @media (min-width: 640px) {
          margin-bottom: 0;
        }
        .icon-reload {
          font-size: 21px;
          line-height: 27px;
          color: #7d848e;
          &:before {
            content: '\e952';
          }
        }
      }
    }
  }
}
