<div class="loading" *ngIf="loading">
  <img src="../../../../assets/images/loader.gif" alt="" />
</div>

<p-table
  #table
  styleClass="p-datatable-grid"
  [value]="listData"
  [columns]="columns"
  [rows]="10"
  [autoLayout]="true"
  [responsive]="true"
  [paginator]="paginator"
  paginatorPosition="both"
  [showCurrentPageReport]="true"
  [currentPageReportTemplate]="
    loading
      ? 'Loading...'
      : 'Showing {first} to {last} of {totalRecords} entries'
  "
  [rowsPerPageOptions]="[10, 25, 50, 100]"
  [totalRecords]="tRecords"
  [lazy]="true"
  [scrollable]="!paginator"
  [scrollHeight]="'48vh'"
  [virtualScroll]="!paginator"
  [virtualRowHeight]="34"
  (onLazyLoad)="nextPage($event)"
>
  <ng-container *ngIf="!paginator">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col style="width: 60px;" />
        <col style="width: 60px;" />
        <col style="width: 50px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 50px;" />
        <col style="width: 50px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 400px;" />
      </colgroup>
    </ng-template>
  </ng-container>
  <ng-template pTemplate="caption">
    <div class="header">
      <div class="gen-top">
        <div class="left-sec">
          <div class="target-count">
            <i class="icon-view"></i>
            <span
              ><span *ngIf="targetCountLoading; else TargetTemp">
                <img
                  style="width: 50px;"
                  src="../../../../assets/images/cus-loding.gif"
                  alt=""
                />
              </span>
              <ng-template #TargetTemp>
                {{ targetCount | number }}
                <em>Segments</em>
              </ng-template>
            </span>
          </div>
          <div class="add-data">
            <a (click)="createSegmentHandler()">
              <i class="icon-add-program"></i> Create Segment</a
            >
          </div>
        </div>
        <div class="right-sec">
          <div class="search-sec">
            <span class="p-float-label">
              <input
                #searchText
                class="search-inp"
                type="text"
                id="inputtext"
                pInputText
              />
              <label for="inputtext">Search by Name</label>
            </span>
          </div>
          <a
            (click)="table.filterGlobal(searchText.value, 'contains')"
            id="btnSearch"
            title="Search"
            class="searchBtn"
            ><i class="icon-search"></i
          ></a>
          <a (click)="resetPage()" id="btnReset" title="Reset" class="undoBtn"
            ><i class="icon-reload"></i
          ></a>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <ng-container *ngFor="let col of columns">
        <th *ngIf="col.sortable" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th *ngIf="!col.sortable">
          {{ col.header }}
        </th>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-rowData let-rowIndex="rowIndex">
    <tr class="p-selectable-row">
      <td>
        <span class="p-column-title">{{ columns[0].header }}</span>
        <a (click)="showEditDialog(item, rowIndex)">
          <i class="icon-edit" title="Edit" style="font-size: large;"></i>
        </a>
      </td>
      <td [pTooltip]="item.listName | addSpace: 20">
        <span class="p-column-title">{{ columns[1].header }}</span>
        {{ item.listName | slice: 0:20 }}
        <span *ngIf="item.listName.length > 20" class="position-relative"
          ><i class="pi pi-ellipsis-h ellipsis-h"></i
        ></span>
      </td>
      <td>
        <span class="p-column-title">{{ columns[2].header }}</span>
        {{ item.listRecordCount | number }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[3].header }}</span>
        <a>
          <i
            (click)="showAllTargets(item)"
            class="icon-view02"
            title="View List"
          ></i>
        </a>
      </td>
      <td>
        <span class="p-column-title">{{ columns[4].header }}</span>
        <a (click)="onExportList(item)">
          <i
            class="icon-csv1"
            title="CSV"
            id="exbtncsv"
            style="font-size: 1.7em;"
          ></i>
        </a>
      </td>
      <td>
        <span class="p-column-title">{{ columns[5].header }}</span
        >{{ item.validEmailCount | number }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[6].header }}</span
        >{{ item.invalidEmailCount | number }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[7].header }}</span
        >{{ item.deliverableCount | number }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[8].header }}</span
        >{{ item.bounceCount | number }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[9].header }}</span
        >{{ item.unsubscribeCount | number }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[10].header }}</span
        >{{ item.validSMSCount | number }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[11].header }}</span
        >{{ item.validPushNotificationsCount | number }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[12].header }}</span
        >{{ item.createdDate | date: 'MM/dd/yyyy' }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[13].header }}</span>
        <a (click)="showDeleteDialog(item, rowIndex)">
          <i class="icon-delete-button" id="delbtn"></i>
        </a>
      </td>
      <td>
        <span class="p-column-title">{{ columns[14].header }}</span>
        0
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="16" style="text-align: center;">No record found.</td>
    </tr>
  </ng-template>
  <ng-container *ngIf="paginator">
    <ng-template pTemplate="paginatorleft" let-state>
      <div class="paginator-left">
        <a (click)="onRefresh()"><i class="icon-refresh"></i>Refresh</a>
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <div class="jump">
        <label>Go to:</label>
        <input
          #pageNo
          class="jump-input"
          name="inputpagenoTop"
          type="text"
          size="4"
          pInputText
        />
        <button
          (click)="gotoPage(pageNo.value)"
          pButton
          pRipple
          type="button"
          label="Go"
          class="p-button-raised jump-btn"
        ></button>
        <!-- </div> -->
      </div>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="!paginator">
    <ng-template pTemplate="loadingbody" let-columns="columns">
      <tr style="height: 34px;">
        <td *ngFor="let col of columns">
          <div class="loading-text"></div>
        </td>
      </tr>
    </ng-template>
  </ng-container>
</p-table>

<ng-container *ngIf="exportModal">
  <app-export-notification
    [(visible)]="exportModal"
    (exporthandler)="exporthandler($event)"
  >
  </app-export-notification>
</ng-container>

<ng-container *ngIf="deleteModal">
  <app-delete-dialog
    [(visible)]="deleteModal"
    (deleteItem)="deleteHandler($event)"
    confirmLabel="YES, DELETE THIS VIEW"
    denyLabel="NO, KEEP THE VIEW"
  >
  </app-delete-dialog>
</ng-container>
