@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/mixins';

.header 
{
  padding: 20px 28px 14px 28px;

  .gen-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @media (min-width: 640px) {
      flex-direction: row;
    }

    .left-sec {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.8rem;

      @media (min-width: 640px) {
        margin-bottom: 0;
      }

      .target-count 
      {
        border-right: 1px solid $bordercolor;

        .icon-view {
          color: $color-font;
          margin-right: 10px;
          font-size: 30px;
          vertical-align: middle;
          line-height: 27px;

          &:before {
            content: $icon-view;
          }
        }

        span {
          color: $color-font;
          font-size: 20px;
          line-height: 24px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 24px;

          em {
            font-style: normal;
            font-size: 13px;
            line-height: 15px;
            color: $color-font;
            display: block;
          }
        }
      }

      .add-data {
        margin-left: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          color: $color-font;
          font-size: 16px;
          text-decoration: none;
          margin-right: 24px;

          .icon-add-program {
            color: $iconcolor;
            font-size: 24px;
            vertical-align: middle;
            margin-right: 10px;

            &:before {
              content: $icon-add-program;
            }
          }
        }
      }
    }

    .right-sec {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .search-sec {
        .search-inp {
          border: none;
          border-bottom: 1px solid $bordercolor;
          border-radius: 0;

          @media (min-width: 640px) {
            width: 300px;
          }

          &:hover,
          &:active {
            border-color: $primary;
          }
        }
      }

      .searchBtn {
        margin: 0 10px;

        .icon-search {
          font-size: 21px;
          line-height: 27px;
          color: $iconcolor;
          &:before {
            content:$icon-search;
          }
        }
      }

      .undoBtn {
        margin-left: 10px;

        @media (min-width: 640px) {
          margin-bottom: 0;
        }
        .icon-reload {
          font-size: 21px;
          line-height: 27px;
          color:$iconcolor;
          &:before {
            content: $icon-reload;
          }
        }
      }
    }
  }
}

p {
  margin-bottom: 0;
}

.add-program {
  width: 150px;
}

:host ::ng-deep .dialog-container {
  .p-dialog-header,
  .p-dialog-content
  {
    background: #ffecb3;
    border: solid #d9a300;
    border-width: 0 0 0 6px;
    color: #6d5100;
  }

  .dialog-content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    // margin-right: 1rem;

    .dialog-btn-group {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: center;
      // margin-top: 0.5rem;
      margin: 1rem 0;

      @media (min-width: 640px) {
        flex-direction: row;
      }

      .dialog-btn {
        width: 100%;
        margin-bottom: 0.5rem;

        @media (min-width: 640px) {
          width: auto;
          margin-right: 0.5rem;
        }
      }
    }

    .dialog-text-center 
    {
      text-align: center;
      margin-right: 1rem;

      i 
      {
        margin-bottom: 1.5rem;
        margin-top: 1rem;
      }

      h3 
      {
        margin-bottom: 1.2rem;
      }

    }
  }
}
.pull_left 
{
  width: 100%;
  float: left;
  
  @media screen and (min-width:1024px) 
  {
    width: 50%;
  }
}

.pull_right 
{
  width: 100%;
  position: relative;
  float: right;
  
  @media screen and (min-width:1024px) 
  {
    width: 50%;
  }
}

.lstContainer.campaign 
{
  padding: 0px 0px 15px;
  position: relative;
  margin-top: 1px;
}

.sngContainer, .sngContainers 
{
  padding: 12px;
}

.top_container 
{
  @include calc( width, '100% - 0px');
  display: block;
  margin: 0px auto 30px auto;
  padding: 0px 10px;
  display: flex;
  flex-flow: column;

  @media screen and (min-width:992px) 
  {
    flex-flow: row;
  }
}
.leftControl
{
  background-color: $white;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 20px;

  @media screen and (min-width:992px) 
  {
    width: 199px;
    margin-bottom: 0px;
  }

  h5
  {
    font-family: "Lato",sans-serif;
    border-bottom: solid 1px $lightgreenborder;
    background: $lightgreenbg;
    font-size: 18px;
    padding: 10px;
  }
  .cntrl 
  {
    width: 100%;
    position: relative;
    padding: 0px 0px 0px;
    clear: both;
    display: block;

    @media screen and (min-width:992px) 
    {
        width: 199px;
    }

    h6 
    {
      font-size: 14px;
      padding: 9px 18px 9px 18px;
      font-weight: bold;
      @include button-bg($lightgrey);
      cursor: pointer;
      margin-bottom: 6px;

      .icon-expand_more
      {
        float: right;
        font-size: 16px;
        margin-top: 3px;

        &::before
        {
          content: $icon-expand_more;
        }
      }

      &.active
      {

        .icon-expand_more 
        {
          transform: rotate(180deg);
        }
        
      }
    }
    
    .acc_panel
    {
      clear: both;
      margin: 0px;
      padding: 0px;
      overflow: hidden;

      a
      {
        display: block;
        padding: 7px 0 7px 36px;
        text-decoration: none;
        margin: 18px 15px 10px 18px;
        cursor: pointer;
        background-position: 10px 50%;
        background-repeat: no-repeat;
        border-radius: 5px;
        clear: both;
        border: dashed 1px $bordercolor;
        color: $color-font;
        transition: all 0.4s ease-in;
        
        &#email
        {
          background-image: url(../../../../../assets/images/segEmail.png);
        }

        &#source
        {
          background-image: url(../../../../../assets/images/segSource.png);
        }

        &#owner
        {
          background-image: url(../../../../../assets/images/segOwner.png);
        }

        &#profile
        {
            background-image: url(../../../../../assets/images/segProfile.png);
        }

        &#lp 
        {
          background-image: url(../../../../../assets/images/segLp.png);
        }
        &#form
        {
          background-image: url(../../../../../assets/images/segForm.png);
        }
        &.offer
        {
            background-image: url(../../../../../assets/images/segFund.png);
        }

        &::after, &::before 
        {
          content: "";
          display: block;
          margin: 0px;
          padding: 0px;
          clear: both;
        }

        &:hover
        {
          transition: all 0.4s ease-out;
          background-color: $primary-exp;
          border: solid 1px $primary-exp;
          color: $white;
        }
        
      }
    }
    
  }
}
.rightSection
{
  @include calc( width, '100% - 0px');
  box-sizing: content-box;

  @media screen and (min-width:992px) 
  {
    @include calc( width, '100% - 210px');
  }

  .section_header 
  {
    border-bottom: solid 1px $lightgreenborder;
    background: $lightgreenbg;
    display: block;
    margin: 0px;
    padding: 6px 10px;
    min-height: 90px;
    
    @media screen and (min-width:1024px) 
    {
      min-height:auto;
    }

    &::before,&::after 
    {
      content: "";
      display: block;
      margin: 0px;
      padding: 0px;
      clear: both;
    }

    h5 
    {
      font-size: 14px;
      padding: 7px 0px;
      text-align: left;
      font-family: "Lato",sans-serif;
      font-weight: 600;
      color: $color-font;
      line-height: 22px;
    }

    label 
    {
        float: left;
        margin: 0px;
        padding: 7px 0px;
        width: 120px;
        text-align: left;
        font-size: 14px;
    }

    textarea
    {
      float: left;
      @include calc( width, '100% - 180px');    
      margin: 0px;
      height: 22px;
      padding: 7px;
      transition: all 0.5s ease;
      box-sizing: content-box;
      color: $color-font;
      border: solid 1px $bordercolor;
      background-color: $white;
      resize: none;
      
      @media screen and (min-width:768px) 
      {            
        height: 18px;
      }

    }

    .help_icon
    {
        float: left;
        margin: 10px 0px 10px 15px;
        padding: 0px;
        display: block;

        i
        {
          float: left;
          margin: 0px;
          padding: 0px;
          display: block;
        
        }

        .exm
        {
          display: none;
          position: absolute;
          margin: 0px;
          padding: 0px;
          top: -33px;
          right: 0px;
          padding: 5px;
          border-radius: 5px;
          background-color:$white;
          border: solid 1px $primary-exp;
          color: $primary-exp;
        }

        &:hover
        {
          .exm
          {
            display: block;
          }
        }

        .icon-question
        {
          &::before
          {
            content: $icon-question;
          }
        }
    }

    .inputwrapper 
    {
      float: right;
      margin: 0px;
      padding: 0px;
      background: none transparent;
      width: 100%;
      z-index: 99;
      position: absolute;
    }

  }

  .section_item
  {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;

          &::before,&::after
          {
            content: "";
            display: block;
            margin: 0px;
            padding: 0px;
            clear: both;
          }
  }

  .content
  {
    margin: 0px auto;
    padding: 0px 0px 0px;
    text-align: center;
    @include calc( width, '100% - 0px');
    box-sizing: content-box;
    display:flex;
    position: relative;
    height: 100%;
    flex-flow: column;

    @media screen and (min-width:768px) 
    {
      flex-flow: row;
    }

    .pnlC 
    {
      background-color: $white;
      margin: 0px auto 20px;
      padding: 0px 0px 0px;
      text-align: center;
      @include calc( width, '100% - 0px');
      box-sizing: content-box;
      display: block;
      height: 100%;
      position: relative;

      @media screen and (min-width:768px) 
      {
        margin-bottom: 0px;
        @include calc( width, '100% - 310px');
        margin-left: 0px;

      }
      @media screen and (min-width:992px) 
      {
        margin-bottom: 0px;
        margin-left: 0px;
        @include calc( width, '100% - 310px');
      }

      fieldset 
      {
        position: relative;
        display: block;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        outline: 0px;
        box-shadow: none;
        background-color: $white;
        border: 0px;
        border-bottom: solid 1px $bordercolor;
        overflow: hidden;

        legend 
        {
          display: block;
          float: left;
          margin: 0px 0px 0px 0px;
          padding: 0px 0px;
          white-space: nowrap;
          position: absolute;
          font-size: 32px;
          font-weight: bold;
          writing-mode: tb-rl;
          transform: rotate(-180deg);
          height: 300px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: right;
          left: 20px;
          top: 45px;
          background-color:$white;
          width: 45px;
        }

        span 
        {
          float: right;
          position: relative;
          display: block;
          @include calc( width, '100% - 80px');
          background-color: $white;
          margin: 0px;
          padding: 0px;
        }

        .grppnl 
        {
          display: block;
          margin: 5% 1%;
          padding: 0px;
          position: relative;
          width: 96%;
          float: left;
          background: $white;
          box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
          border-top: solid 2px $black;

          @media screen and (min-width:575px) 
          {
            width: 46%;
          }

          @media screen and (min-width:768px) 
          {
            width: 46%;
          }

          @media screen and (min-width:992px) 
          {
            width: 96%;
          }
          @media screen and (min-width:1024px) 
          {
            width: 46%;
          }
          @media screen and (min-width:1366px) 
          {
            width: 30%;
          }
          
          &::before,&::after
          {
            content: "";
            display: block;
            margin: 0px;
            padding: 0px;
            clear: both;
          }

          .delete 
          {
              position: absolute;
              width: 20px;
              height: 20px;
              cursor: pointer;
              top: 5px;
              right: 5px;
              background-image: url(../../../../../assets/images/close-css.png);
              background-position: center center;
              display: block;
              background-repeat: no-repeat;
          }
          .inner 
          {
            padding: 15px 15px 5px 15px;
            @include calc( width, '100% - 30px');
            box-sizing: content-box;

            &::before,&::after
            {
              content: "";
              display: block;
              margin: 0px;
              padding: 0px;
              clear: both;
            }
            h3 
            {
              font-size: 14px;
              padding: 0 0 0px 25px;
              margin: 0px 0px 15px;
              text-align: left;
              
            }

            label 
            {
              text-align: left;
              display: block;
              width: 100%;
              padding: 0px 0px 0px;
              margin: 0px 0px 5px;
              font-family: "Lato",sans-serif;
              font-weight: 400;
              font-size: 14px;
              line-height: 19px;
              box-sizing: content-box;
            }

            select 
            {
              margin: 0px 0px 10px;
              @include calc( width, '100% - 22px');
              height: 32px;
              padding: 0px 10px;
              box-sizing: content-box;
              background-color: $white;
              border: solid 1px $bordercolor;
              @include  border-radius(3px);
            }

            input[type="text"] 
            {
              margin: 0px 0px 10px;
              @include calc( width, '100% - 22px');
              height: 32px;
              padding: 0px 10px;
              box-sizing: content-box;
              background-color: $white;
              border: solid 1px $bordercolor;
              @include  border-radius(3px);
            }

          }

          &.pnlSource
          {
            border-color: $secundary-exp;

            h3
            {
              background: url(../../../../../assets/images/segSource.png) 0 0 no-repeat;
            }
            
          }
          &.pnlOwner 
          {
            border-color: $primary-exp;

            h3 
            {
              background: url(../../../../../assets/images/segOwner.png) 0 0 no-repeat;
            }
          }
          &.pnlProfile 
          {
            border-color: $sugarCRM;

            h3 
            {
              background: url(../../../../../assets/images/segProfile.png) 0 0 no-repeat;
            }
          }
          
          &.pnlOffer 
          {
            border-color: $quaternary;

            h3 
            {
              background: url(../../../../../assets/images/segFund.png) 0 0 no-repeat;
            }
          }
          &.pnlOffer 
          {
            border-color: $quaternary;

            h3 
            {
              background: url(../../../../../assets/images/segFund.png) 0 0 no-repeat;
            }
          }
          &.pnlEmail
          {
            border-color: #c2e39a;

            h3 
            {
              background: url(../../../../../assets/images/segEmail.png) 0 0 no-repeat;
            }
          }
          &.pnlLp
          {
            border-color: #fdca96;

            h3 
            {
              background: url(../../../../../assets/images/segLp.png) 0 0 no-repeat;
            }
          }
          &.pnlForm
          {
            border-color: $tertiary-exp;

            h3 
            {
              background: url(../../../../../assets/images/segForm.png) 0 0 no-repeat;
            }

            .frmchild 
            {
              display: block;
              margin-left: 0px;

              .fldcrtr 
              {
                margin: 10px;
                padding: 10px 20px 10px 10px;
                position: relative;
                border: solid 1px $bordercolor;

                label 
                {
                  color: $color-font;
                  display: block;
                  text-align: left;

                  strong 
                  {
                    display: block;
                  }
                }
                select 
                {
                  display: block;
                  @include calc( width, '100% - 22px');
                  border: solid 1px $bordercolor;
                  margin-bottom: 10px;
                  margin-top: 5px;
                  @include  border-radius(3px);
                  padding: 0px 10px;
                  height: 32px;
                  box-sizing: content-box;
                }
                input[type="text"] 
                {
                  margin: 0px 0px 10px;
                  @include calc( width, '100% - 22px');
                  height: 32px;
                  padding: 0px 10px;
                  box-sizing: content-box;
                  background-color: $white;
                  border: solid 1px $bordercolor;
                  @include  border-radius(3px);
                }
              }
            }
          }


        }
      }
      #Panel_source
      {
        fieldset
        {
          legend 
          {
            color: $secundary-exp;
          }
        }
      }
      #Panel_owner 
      {       
        fieldset
        {
          legend 
          {
            color: $primary-exp;
          }
        }
      }
      #Panel_profile
      {       
        fieldset
        {
          legend 
          {
            color: $sugarCRM;
          }
        }
      }
      #custom_Panel1
      {       
        fieldset
        {
          legend 
          {
            color: $quaternary;
          }
        }
      }
      #Panel_email
      {       
        fieldset
        {
          legend 
          {
            color: #fdca96;
          }
        }
      }
      #Panel_lp
      {       
        fieldset
        {
          legend 
          {
            color: #c2e39a;
          }
        }
      }
      #Panel_form
      {       
        fieldset
        {
          legend 
          {
            color: $tertiary-exp;
          }
        }
      }

    }

    .segmention_behaviour_section
    {
      width: 100%;
      height: 100%;
      box-sizing: content-box;
      display: block;

      @media screen and (min-width:768px) 
      {            
        width: 300px;
      }
      
      h5 
      {
        font-size: 18px;
        padding: 10px;
        text-align: left;
        border-bottom: solid 1px $lightgreenborder;
        background: $lightgreenbg;
      }

      h4 
      {
        font-size: 14px;
        line-height: 18px;
        padding: 0px 0px 5px 0px;
        text-align: left;
        font-weight: normal;
        margin-top: 0px;
      }
      #divRandomSample
      {
        margin-top: 0px;

        &::before,&::after
        {
          content: "";
          display: block;
          margin: 0px;
          padding: 0px;
          clear: both;
        }

      }
      input[type="text"]
      {
          @include calc( width, '100% - 22px');
          margin: 5px 0px;
          color: $color-font;
          border: solid 1px $bordercolor;
          background-color: $white;
          height: 32px;
          padding: 0px 10px;
          box-sizing: content-box;
      }

      textarea
      {
          margin: 5px 0px 15px;
          @include calc( width, '100% - 22px');
          color: $color-font;
          border: solid 1px $bordercolor;
          background-color: $white;
          height: 65px;
          padding: 0px 10px;
          box-sizing: content-box;
      }
      input[type="checkbox"] 
      {
        float: left;
        margin: 0px 10px 0px 0px;
        padding: 0px;
        width: 20px;
        height: 20px;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
        font-weight: normal;
      }

      label
      {
        @include calc( width, '100% - 30px');
        float: left;
        margin: 0px;
        padding: 0px;
        line-height: 18px;
        text-align: left;
        display: block;
        font-size: 15px;
        font-family: "Lato",sans-serif;
      }

      #ulsegmenttype 
      {
        padding: 0px 0px 10px;

        &::before,&::after
        {
          content: "";
          display: block;
          margin: 0px;
          padding: 0px;
          clear: both;
        }

        li 
        {
          margin: 0px 0px 0px;
          line-height: 31px;
          float: left;
          width: 50%;
          text-align: left;

          input[type="radio"]
          {
            float: left;
            margin: 0px 10px 0px 0px;
            padding: 0px;
            width: 20px;
            height: 20px;
        }
      }
    }
    
    #divNotToSupressFromProgram 
    {
      padding: 0px;
      margin: 10px 0px;

      &::before,&::after
      {
        content: "";
        display: block;
        margin: 0px;
        padding: 0px;
        clear: both;
      }

      input[type="checkbox"] 
      {
        float: left;
        margin: 0px 10px 0px 0px;
        padding: 0px;
        width: 20px;
        height: 20px;
      }
      label 
      {
        @include calc( width, '100% - 30px');
        float: left;
        margin: 0px;
        padding: 0px;
        line-height: 18px;
        text-align: left;
      }
    }
      .segment_height 
      {
        background-color: $white;
      }

      .segment_wrapper 
      {
        width: 100%;
        margin: 0px;
        padding: 10px 30px 0px;

        &::before,&::after
        {
          content: "";
          display: block;
          margin: 0px;
          padding: 0px;
          clear: both;
        }

        .btnPnl 
        {
          padding-top: 20px;
        }

      }
    }
    
  }
 
}
.button
{
  font-family: "Lato",sans-serif;
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid $color-font;
  padding: 8px 18px;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 18px;
  display: inline-block;
  border-radius: 2px;
  margin-bottom: 10px;
  background: $white;
  color: $color-font;

  &.green-button 
  {
    background: $primary-exp;
    color: $white;
    border-color: $primary-exp;
    margin-right: 10px;
  }
}
.alrtRd {
  background: #FFF1F0;
  border: 1px solid #F9D8CF;
  color: #DE5C49;
  position: relative;
  font-size: 13px;
  line-height: 16px;
  width: 100%;
  padding: 10px 30px 10px 10px;
}
.alrtdel {
  position: absolute;
  width: 7px;
  height: 7px;
  padding: 5px;
  background: url(../../../../../assets/images/iconPprgdel.png) 3px 3px no-repeat;
  top: 35%;
  right: 10px;
  cursor: pointer;
  margin: 0px 0px 10px;
  text-align: left;
}