<div class="lstContainer campaign">
    <div class="sngContainer sgmntCont">
        <div class="top_container">
            <div class="leftControl">
                <h5>Selection criteria</h5>
                <div class="cntrl columnX">
                    <h6 class="acc_ctrl active">Main Objects <i class="icon-expand_more"></i></h6>                
                    <div class="acc_panel active" style="display:block;">
                        <a id="source">Source</a>
                        <a id="owner">Lead Owner</a>
                        <a id="profile">Profile</a>
                        <a id="offer" style="display:none;">Offer</a>
                        <a id="status" style="display:none;">Status</a>
                        <a id="score" style="display:none;">Score</a>
                        <a id="geofence" style="display:none;">Geofence</a>
                        <a id="mobileapp" style="display:none;">Mobile App</a>
                    </div>                
                    <h6 id="header_Custom" class="acc_ctrl">Custom Objects <i class="icon-expand_more"></i></h6>
                    <div class="acc_panel" style="display:none;">
                        <a id="custom_link1" class="offer">
                            <span id="link1_Name">Gaming Offers</span>
                        </a>
                        <a id="custom_link2" class="offer">
                            <span id="link2_Name">Hotel Data</span>
                        </a>
                        <a id="custom_link3" class="offer">
                            <span id="link3_Name">POS</span>
                        </a>

                    </div>             
                    <h6 id="divActivity" class="acc_ctrl">Activity Objects <i class="icon-expand_more"></i></h6>
                    <div class="acc_panel" style="display:none;">
                        <a id="email">Email</a>
                        <a id="lp">Landing Page</a>
                        <a id="form">Form</a>
                    </div>
              
                        
                </div>
            </div>
            <div class="rightSection">
                <div class="content">
                        <div class="pnlC">
                            <div class="section_header">
                                <div class="pull_left">
                                    <h5>Select from one or more criteria to build a Segment</h5>
                                </div>
                                <div class="pull_right">
                                    <div class="inputwrapper">
                                        <label>Logical Grouping</label>
                                        <textarea 
                                        (focus)='onChangeHeight($event.target)' 
                                        (blur)='onResetHeight($event.target)' name="logicalgrouping" id="logicalgrouping"></textarea>                                                                    
                                        <span class="help_icon">
                                                <i class="icon-question"></i>
                                                <span class="exm">Ex. ( S1 and S2 ) or ( S1 and ( P1 or p2 ))</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="section_item">
                                <div id="Panel_source" style="display:none;">
                                  <fieldset>
                                    <legend> List Source </legend>
                                    <span id="ph_source"></span>
                                  </fieldset>
                                </div>
                                <div id="Panel_owner" style="display:none;">
                                  <fieldset>
                                    <legend> Lead Owner </legend>
                                    <span id="ph_owner"></span>
                                  </fieldset>
                                </div>
                                <div id="Panel_profile" style="display:none;">
                                  <fieldset>
                                    <legend> Profile </legend>
                                    <span id="ph_profile"></span>
                                  </fieldset>
                                </div>
                                <div id="Panel_offer" style="display:none;">
                                  <fieldset>
                                    <legend> Offer </legend>
                                    <span id="ph_offer"></span>
                                  </fieldset>
                                </div>
                                <div id="Panel_geofence" style="display:none;">
                                  <fieldset>
                                    <legend> Geofence </legend>
                                    <span id="ph_geofence"></span>
                                  </fieldset>
                                </div>
                                <div id="Panel_mobileapp" style="display:none;">
                                  <fieldset>
                                    <legend> Mobile App </legend>
                                    <span id="ph_mobileapp"></span>
                                  </fieldset>
                                </div>
                                <div id="Panel_pushnotification" style="display:none;">
                                  <fieldset>
                                    <legend> Push Notification </legend>
                                    <span id="ph_pushnotification"></span>
                                  </fieldset>
                                </div>
                                <div id="Panel_status" style="display:none;">
                                  <fieldset>
                                    <legend> Status </legend>
                                    <span id="ph_status"></span>
                                  </fieldset>
                                </div>
                                <div id="Panel_score" style="display:none;">
                                  <fieldset>
                                    <legend> Score </legend>
                                    <span id="ph_score"></span>
                                  </fieldset>
                                </div>
                                <div id="Panel_email" style="display:none;">
                                  <fieldset>
                                    <legend> Email </legend>
                                    <span id="ph_email"></span>
                                  </fieldset>
                                </div>
                                <div id="Panel_lp" style="display:none;">
                                  <fieldset>
                                    <legend> Landing Page </legend>
                                    <span id="ph_lp"></span>
                                  </fieldset>
                                </div>
                                <div id="Panel_form" style="display:block;">
                                  <fieldset>
                                    <legend> Form </legend>
                                    <!-- <span id="ph_form"></span> -->
                                    <span id="ph_form"><div id="form_3" class="grppnl pnlForm"><a class="delete" title="Delete" onclick="javascript:removeMe(&quot;form_3&quot;,&quot;form&quot;)"></a><div class="inner"><h3>F3 <a onclick="javascript:AddFormFieldCriteria(&quot;form_3&quot;,&quot;formfields&quot;,&quot;3&quot;)"><img src="../images/addformfield.png" alt="">Add Form Field Criteria</a></h3><div class="frm"><label>Program</label><select id="form_p_3" name="form_p_3" runat="server" onchange="javascript:changeContents(&quot;form_p_3&quot;,this,&quot;form&quot;,this.value,&quot;form_c_3&quot;);"><option value="0"></option><option value="78496" selected="">G2E 2021 NURTURING V2</option><option value="78404">G2E 2021 GURL</option><option value="78320">G2E 2021 NURTURING</option><option value="78080">RRD QR Code Project</option><option value="77510">Print Purl</option><option value="77507">Test Program</option><option value="76729">Delta Offline Page</option><option value="76223">test 2603</option><option value="76205">test 2503</option><option value="75880">test frm2</option><option value="75879">test frm</option><option value="75757">test 0802</option><option value="75729">Scroll Test</option><option value="75656">Rule Test 290121</option><option value="75568">Gaming Experiture V2</option><option value="75550">Gaming ROI Form</option><option value="75510">Gaming Experiture Footer Form</option><option value="75509">Gaming Experiture</option><option value="75268">PracticeCampaign_12112020</option><option value="75251">test1209</option><option value="75250">PracticeCampaign_12102020</option><option value="75205">PracticeCampaign_12062020</option><option value="75109">Testlanding</option><option value="75005">Prattest1116</option><option value="74988">PURL Test</option><option value="74968">testurlcontrol</option><option value="74966">test exp 1111 frm</option><option value="74872">Casino Marketing Campaign Nov 2020</option><option value="74734">trackable test</option><option value="74563">Test Multiple LPs</option><option value="74447">PurlGenTest01</option><option value="73959">Experiture Support</option><option value="73916">Test Program Demo</option><option value="73902">Test email 333444</option><option value="73737">Ashish Test 1</option><option value="73697">Test Purl 070820</option><option value="73494">Test_Program_19062020_New_4</option><option value="73471">test</option><option value="73454">Mortgage Microsite GURL</option><option value="73349">Mortgage Experiture Footer Form</option><option value="73302">ROI Form</option><option value="73250">Mortgage Experiture</option><option value="71277">Sample Drag and Drop</option><option value="71182">Indros Group Contact Form</option><option value="71181">Birthday Campaign</option><option value="71125">Webinar - G2E Go Omni-Channel or Go Home Webinar-Copy</option><option value="71087">Webinar - G2E Go Omni-Channel or Go Home Webinar</option><option value="71009">G2E Internal Campaigns-Copy</option><option value="70884">G2E RSVP Form</option><option value="70794">Download eBook Page V4</option><option value="70788">Create Your Own Purl Form</option><option value="70779">Download eBook Page</option><option value="70778">Create Your Own PURL Page</option><option value="70755">G2E Internal Campaigns</option><option value="70735">Experiture Landing Page 9_27</option><option value="70707">G2E Landing Page</option><option value="69917">CMTC 2019</option><option value="69909">CMTC 2019 Preshow-Echo Show</option><option value="69718">Experiture Blog Right Form</option><option value="69468">Experiture Request a Demo Form</option><option value="69459">Experiture Request a Demo Form New</option><option value="69437">CMTC 2019 Pre-Show</option><option value="69436">CMTC 2019 Workflow</option><option value="69435">CMTC Show 2019</option><option value="68192">NIGA2019 GURL</option><option value="68189">NIGA 2019</option><option value="67352">Rule Demo 1</option><option value="67314">Raving Next 2019 pre-show</option><option value="67226">wysiwyg samples two</option><option value="67154">Raving Next 2018 Preshow-PURL based</option><option value="66917">Sample WYSIWYG 2</option><option value="66914">Sample WYSIWYG</option><option value="66902">Sample Landing Page ANG</option><option value="66900">NIGA Sample ANG</option><option value="66234">End of Year Casino Campaign</option><option value="66227">Gaming Nurturing Campaign</option><option value="66110">G2E Post Show Thanks Email-Copy</option><option value="66014">G2E 2018 Post-show</option><option value="65966">simple email</option><option value="65718">G2E 2018 New</option><option value="65672">G2E 2018</option><option value="65186">Lead new 6thaugn</option><option value="54893">CMTC 2018 New</option><option value="54412">B2B internal Marketing 2018</option><option value="54259">Aboutpurls_Try_Now_V2</option><option value="54258">Purls_google_free_ebook</option><option value="54257">Aboutpurls_ebook_download</option><option value="54255">Aboutpurls_Try_Now</option><option value="53858">Niga_2018_gurl</option><option value="53805">NIGA Show 2018</option><option value="53467">GURL Leadscon2018</option><option value="53440">Leads_Con2018</option><option value="53436">LeadsCon 2018</option><option value="53317">2-21</option><option value="53029">Raving 2018 Preshow</option><option value="52888">G2E 2018 Preshow-PURL based</option><option value="52654">Experiture Trade show Event Marketing sample</option><option value="52276">LN — Experiture B2B (2017)</option><option value="51944">g2edemo2</option><option value="51943">g2edemo</option><option value="51714">G2E 2017 Preshow-PURL based</option><option value="51711">G2E 2017 Experiture Dot Promo</option><option value="51652">Wayne at Experiture</option><option value="51650">G2E 2017 Preshow</option><option value="51058">Leads_Con</option><option value="51053">Leads Con</option><option value="50706">Aboutpurs_Ebook_Download_New</option><option value="50705">Aboutpurls_New</option><option value="50696">ContactForm_41829_New</option><option value="50695">Landing_Form_New</option><option value="50693">Contact_114281_New</option><option value="50692">LandingPage_Form_Reseller_New</option><option value="50691">MainForm_New</option><option value="50688">ThanksgivingForm_108726_New</option><option value="50687">demoform_91264_103961_103963_103965_New</option><option value="50686">demoform_91264_103961_103963_New</option><option value="50685">demoform_91264_103961_New</option><option value="50684">LandingPage_Form_New2</option><option value="50683">LandingPage_Form_New</option><option value="50682">Experiture Webinar GURL Form_90785_New</option><option value="50627">Easypurl Website Email Purls</option><option value="50626">Easypurl Website Direct mail purls</option><option value="49678">NIGA 2017 Pre-show Email Signup</option><option value="49566">Beta_Company_Easypurl_ContactUs</option><option value="49565">Beta_re-sellers_Easypurl_ContactUs</option><option value="49564">Beta_campaignServices_Easypurl_ContactUs</option><option value="49562">Beta_marketingsoftware_EasypurlContactUs</option><option value="49559">Beta_feature-tour_Easypurl_ContactUs</option><option value="49558">Beta_PersonalizedURLs_Easypurl_ContactUs</option><option value="49505">ContactUs_Easypurl_Beta</option><option value="38263">Experiture Blog Signup Form Bottom</option><option value="38262">Experiture Blog Signup Form Right</option><option value="38245">LN- Easypurl Reseller (2016)</option><option value="38235">LN- Experiture B2B (2016)</option><option value="38226">Experiture Blog Signup Form</option><option value="38222">LN-Easypurl B2C</option><option value="38056">G2E 2016 Plain Text Pre-show Mailing</option><option value="38052">G2E 2016 FREE App Offer</option><option value="38051">G2E 2016 Preshow Email General</option><option value="38046">G2E 2016 Preshow Official Announcement</option><option value="38042">G2E 2016 FREE App Preshow Email</option><option value="38030">Experiture Newsletter</option><option value="38015">Subscribe</option><option value="37867">Te</option><option value="37792">SEO Landing Page</option><option value="37682">AboutPurls Spanish Lead Page</option><option value="37681">AboutPurls French Lead page</option><option value="37676">Get Information about Experiture</option><option value="37546">Demo 511</option><option value="37415">Get a Quote_Easypurl</option><option value="37370">NIGA Post-show Email</option><option value="37336">NIGA Pre-show Email Signup (FINAL)</option><option value="37310">LN - Experiture Features (Post-Demo)</option><option value="37248">NEW EXPERITURE DEMO</option><option value="37246">About Purl New</option><option value="37238">Sample Print Campaign</option><option value="37229">Lead Nurturing Campaign</option><option value="37219">Fall Offer</option><option value="37194">LN - Easypurl Pre-demo Nurturing</option><option value="37192">LN - Experiture Generic and B2C Nurturing</option><option value="37136">EXPERITURE Retailer</option><option value="37133">Freetrial</option><option value="37126">EXPERITURE FINANCE Micro Site</option><option value="37111">EASYPURL-INDUSTRY-NONPROFIT_FORM</option><option value="37110">EASYPURL-INDUSTRY-EDUCATION_FORM</option><option value="37109">EASYPURL-INDUSTRY-GAMING_FORM</option><option value="37108">EASYPURL-INDUSTRY-TRAVEL_FORM</option><option value="37107">EASYPURL-INDUSTRY-FINANCE_FORM</option><option value="37106">EASYPURL-INDUSTRY-HEALTHCARE_FORM</option><option value="37105">EASYPURL-INDUSTRY-RETAIL_FORM</option><option value="37104">EASYPURL-INDUSTRY-AUTOMOTIVE_FORM</option><option value="37100">Easypurl_Player_Engagement_Form</option><option value="37095">EASYPURL_RESELLER FORM</option><option value="37094">EASYPURL_CONTACTUS FORM</option><option value="37091">EASYPURL_FREEDEMO FORM</option><option value="37090">EASYPURL_QUICKCONTACT FORM</option><option value="37089">EASYPURL_PURL GENERATION FORM</option><option value="37072">alfred angelo form</option><option value="36889">EP Thanksgiving 2015 GURL</option><option value="36856">MarketingAutomation_Blog_Form</option><option value="36852">New York City Sweepstakes</option><option value="36779">Easypurl - Halloween 2015 Gurl Campaign</option><option value="36602">Experiture_Player_Engagement_Form</option><option value="36522">G2E Preshow Email General Signup</option><option value="36485">G2E Trade Show GURL</option><option value="36484">Easypurl PURL pages Webinar GURL</option><option value="36448">Experiture Sept Education Webinar GURL</option><option value="36394">Contact Us Sticky Experiture</option><option value="36393">Free Trial Sticky Experiture</option><option value="36391">4 Minutes Demo Sticky Experiture</option><option value="36289">Experiture Website Footer New</option><option value="36259">ILG - B2B</option><option value="36258">LN - Experiture B2B</option><option value="36255">Experiture_Postage_Bolg</option><option value="36250">Experiture DL - MA Infographic</option><option value="36061">OIGA15 Trade Show GURL</option><option value="35991">Experiture-Education-Marketing</option><option value="35989">Experiture-Nonprofit</option><option value="35987">Experiture-Casino-Marketing Alert</option><option value="35984">Experiture-Travel-Hospitality-Marketing</option><option value="35983">Experiture-Personal-Consumer-Finance</option><option value="35979">Experiture-Healthcare-Marketing-Solution</option><option value="35978">Experiture-Retail-Marketing-Solutions</option><option value="35977">Experiture-Automotive-Marketing-Solution</option><option value="35974">LEAD GENERATED FOLLOWUP EXPERITURE</option><option value="35973">Experiture Become an Application Partner</option><option value="35970">Experiture Become a Reseller</option><option value="35913">CMTC15 Trade Show GURL</option><option value="35822">Experiture Inbounce Marketing Leads Gen</option><option value="35800">Experiture V3 Lead Page</option><option value="35726">Trade Show GURL</option><option value="35671">B2B Video - Campaign Mgmt</option><option value="35670">B2B Video - Cust Exp Mrktng</option><option value="35669">B2B Video - Email Mrktng</option><option value="35272">B2B Video - PPC Backup</option><option value="35178">Marketing Automation, Evolved.</option><option value="35160">PPC Redirect to WP</option><option value="35156">Experiture Website Footer</option><option value="35112">Easypurl E-Book Download - Retargeting</option><option value="35111">Easypurl E-Book Download - PPC</option><option value="35102">EXP DL – Marketing to Humans</option><option value="35100">EXP DL – Guide to MC Mktng</option><option value="35086">EXP DL - Personalization + MA</option><option value="35085">Lead Page Source</option><option value="25074">EXP Download - Multichannel Guide</option><option value="25073">EXP Download - 1-1 Customer Journeys</option><option value="25072">EXP Download - Personalization BP</option><option value="25071">EXP Download - Personalization + MA</option><option value="25070">Experiture Download - Personalization-MA</option><option value="25001">B2B Video - PPC</option><option value="24992">Easypurl E-Book Download 2015_New</option><option value="24962">Easypurl E-Book Download 2015</option><option value="24950">Experiture B2B Video (Retargetting)</option><option value="24922">Experiture B2B Video</option><option value="24870">Experiture Webinar GURL</option><option value="24863">education-marketing-solutions Form</option><option value="24861">nonprofit-marketing-solutions</option><option value="24860">entertainment-casino-marketing Form</option><option value="24859">Travel-hospitality-marketing Form</option><option value="24858">Financial-services-marketing Form</option><option value="24855">healthcare-marketing-solutions form</option><option value="24843">retail-marketing-solutions form</option><option value="24842">automotive-marketing-solutions form</option><option value="24704">Request More Information</option><option value="24680">Experiture Request Information</option><option value="24679">Experiture Website Request Information</option><option value="24678">Experiture Website Request a Demo Form</option><option value="24668">Easypurl 9 GURL</option><option value="24552">Experiture Website Contact Us</option><option value="24264">DMA Easypurl RSVP GURL</option><option value="24248">DMA Experiture</option><option value="24243">DMA pump up</option><option value="24192">DMA Rules Experiture</option><option value="24189">DMA Rules Easypurl</option><option value="24176">DMA2014  - Experiture ...</option><option value="24149">CEW 2014</option><option value="24132">Experiture Video</option><option value="13823">design-form</option><option value="13652">CrossTouchAppAnnouncementLeadpage</option><option value="12948">sample program 123</option><option value="12895">PURLS IN DIRECT MAIL - GURL</option><option value="12873">PURLS IN EMAIL - GURL</option><option value="12789">EXPERITURE WEBINAR</option><option value="12751">NAPCO USPS OFFER (Interstitial and banners)</option><option value="12749">Partner Program</option><option value="12435">LEAD GENERATED FOLLOWUP EASYPURL</option><option value="12315">DISPLAY (NAPCO) - BAHAMAS</option><option value="12261">WEB SITE (EASYPURL) - QUOTE</option><option value="11879">TRADESHOW (DMA)</option><option value="11875">START</option><option value="11818">WEB SITE (EASYPURL) - RETAIL DEMO</option><option value="11817">WEB SITE (EASYPURL) - TRAVEL DEMO</option><option value="11816">WEB SITE (EASYPURL) - GAMING DEMO</option><option value="11815">WEB SITE (EASYPURL) - AUTO DEMO</option><option value="11814">WEB SITE (EASYPURL) - HEALTHCARE DEMO</option><option value="11533">BUSINESS CARDS</option><option value="11265">WEBINAR (INBOUND)</option><option value="10959">DRAFT - WEB SITE LEAD</option><option value="10887">DRAFT - DRAFT INBOUND MARKETING</option><option value="10695">Survey eBook Followup  - starbucks gift card</option><option value="10673">DISPLAY (DMNEWS)</option><option value="10556">RETARGETING (EASYPURL) - E-BOOK</option><option value="10434">WEB SITE (EASYPURL) - PURL GENERATION</option></select><label>Component</label><select id="form_c_3" name="form_c_3" runat="server" onchange="javascript:changeContents(&quot;form_c_3&quot;,this,&quot;form&quot;,this.value,&quot;form_f_3&quot;);"><option value=""></option><option value="220608" selected="">NIGA 2018 Landing Page</option></select><label>Form Name</label><select id="form_f_3" name="form_f_3" runat="server" onchange="javascript:changeContents(&quot;form_f_3&quot;,this,&quot;form&quot;,&quot;&quot;,&quot;&quot;)"><option value="97303">G2E_Form_220608</option></select><select id="form_r_3" name="form_r_3" runat="server" onchange="javascript:changeContents(&quot;form_r_3&quot;,this,&quot;form&quot;,&quot;&quot;,&quot;&quot;)"><option value="Responded">Responded</option><option value="Not Responded">Not Responded</option></select></div><div class="fldcrtrCont"></div></div><div class="frmchild"><div id="formfield_4" class="fldcrtr"><a class="delete" title="Delete" onclick="javascript:removeMe(&quot;formfield_4&quot;,&quot;formfields&quot;)"></a><label><strong>F3</strong> Form Field</label><input type="hidden" class="txtbox" id="formfield_rowid_4" name="formfield_rowid_4" value="3" runat="server"><input type="hidden" class="txtbox" id="formfield_campid_4" name="formfield_campid_4" value="220608" runat="server"><input type="hidden" class="txtbox" id="formfield_formid_4" name="formfield_formid_4" value="97303" runat="server"><select id="formfield_f_4" name="formfield_f_4" runat="server" onchange="javascript:changeContents(&quot;formfield_f_4&quot;,this,&quot;formfields&quot;,&quot;&quot;,&quot;&quot;)"><option></option><option value="F1">First Name</option><option value="F2">Last Name</option><option value="F3">Title</option><option value="F4">Company Name</option><option value="F5">PHONE</option><option value="F6">Email Address</option><option value="F7">Meeting Date</option><option value="F8">Text Message Reminder</option></select><label>Condition</label><select id="formfield_c_4" name="formfield_c_4" runat="server" onchange="javascript:changeContents(&quot;formfield_c_4&quot;,this,&quot;formfields&quot;,&quot;&quot;,&quot;&quot;)"><option value="Like">Contains</option><option value="Not Like">Does Not Contain</option><option value="In">Contains (Multiple)</option><option value="Not In">Does Not Contain (Multiple)</option><option value="Equal to">Equal To</option><option value="Not Equal to">Not Equal To</option><option value="Is Not Null">Is Not Null</option><option value="Is Null">Is Null</option></select><label>Value</label><input type="text" autocomplete="off" id="formfield_v_4" name="formfield_v_4" runat="server" onchange="javascript:changeContents(&quot;formfield_v_4&quot;,this,&quot;formfields&quot;,&quot;&quot;,&quot;&quot;)"></div><div id="PlaceHolderFormField_form_3"></div></div></div></span>
                                  </fieldset>
                                </div>
                                <div id="Panel_inboundform" style="display:none;">
                                  <fieldset>
                                    <legend> Inbound Form </legend>
                                    <span id="ph_inboundform"></span>
                                  </fieldset>
                                </div>
                                <div id="Panel_agreement" style="display:none;">
                                  <fieldset>
                                    <legend> Agreement </legend>
                                    <span id="ph_agreement"></span>
                                  </fieldset>
                                </div>
                                <div id="Panel_fund" style="display:none;">
                                  <fieldset>
                                    <legend> Fund </legend>
                                    <span id="ph_fund"></span>
                                  </fieldset>
                                </div>
                                <div id="Panel_transaction" style="display:none;">
                                  <fieldset>
                                    <legend> Transaction </legend>
                                    <span id="ph_transaction"></span>
                                  </fieldset>
                                </div>
                                <!--  Start Custom Object Panel -->
                                <div id="custom_Panel1" class="custom_pannel" style="display:block;">
                                  <fieldset>
                                    <legend> Gaming Offers </legend>
                                    <!-- <span id="custom_ph1"></span> -->
                                    <span id="custom_ph1">
                                        <div id="customobject_1_24_1" class="grppnl pnlOffer"><a class="delete" title="Delete" onclick="javascript:removeMe_Custom(&quot;customobject_1_24_1&quot;,&quot;customobject&quot;,&quot;1&quot;,&quot;1&quot;)"></a><div class="inner"><h3>H1_1</h3><label>Field</label><select id="customobjectf_1_24_1" name="customobjectf_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectf_1_24_1&quot;,this,&quot;customobject&quot;,this.value,&quot;customobjectc_1_24_1&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)"><option></option></select><label id="customobjectagl_cust_1_24_1" style="display:none;">Aggregate</label><select id="customobjectagg_cust_1_24_1" name="customobjectagg_cust_1_24_1" style="display:none;" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectagg_cust_1_24_1&quot;,this,&quot;customobject&quot;,this.value,&quot;customobjectagg_cust_1_24_1&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)"><option value="">None</option><option value="sum">Sum</option><option value="count">Count</option><option value="min">Min</option><option value="max">Max</option><option value="avg">Average</option></select><label>Condition</label><select id="customobjectc_1_24_1" name="customobjectc_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectc_1_24_1&quot;,this,&quot;customobject&quot;,&quot;&quot;,&quot;&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)"><option value="Like">Contains</option><option value="Not Like">Does Not Contain</option><option value="In">Contains (Multiple)</option><option value="Not In">Does Not Contain (Multiple)</option><option value="Equal to">Equal To</option><option value="Not Equal to">Not Equal To</option><option value="Is Not Null">Is Not Null</option><option value="Is Null">Is Null</option></select><label id="customobjecttd1_1_24_1">Value</label><input class="dtpicker" type="text" autocomplete="off" id="customobjectv_1_24_1" name="customobjectv_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectv_1_24_1&quot;,this,&quot;customobject&quot;,&quot;&quot;,&quot;&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)"><label id="customobjecttd2_1_24_1"></label><input class="dtpicker" type="text" autocomplete="off" id="customobjectv1_1_24_1" name="customobjectv1_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectv1_1_24_1&quot;,this,&quot;customobject&quot;,&quot;&quot;,&quot;&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)" style="display:none;"><select id="customobjectsv_1_24_1" name="customobjectsv_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectsv_1_24_1&quot;,this,&quot;customobject&quot;,&quot;&quot;,&quot;&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)" style="display:none;"><option></option></select><select id="customobjectmv_1_24_1" name="customobjectmv_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectmv_1_24_1&quot;,this,&quot;customobject&quot;,&quot;&quot;,&quot;&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)" size="4" multiple="" style="display:none;"><option></option></select></div><div class="clear"></div></div>
                                        <div id="customobject_1_24_1" class="grppnl pnlOffer"><a class="delete" title="Delete" onclick="javascript:removeMe_Custom(&quot;customobject_1_24_1&quot;,&quot;customobject&quot;,&quot;1&quot;,&quot;1&quot;)"></a><div class="inner"><h3>H1_1</h3><label>Field</label><select id="customobjectf_1_24_1" name="customobjectf_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectf_1_24_1&quot;,this,&quot;customobject&quot;,this.value,&quot;customobjectc_1_24_1&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)"><option></option></select><label id="customobjectagl_cust_1_24_1" style="display:none;">Aggregate</label><select id="customobjectagg_cust_1_24_1" name="customobjectagg_cust_1_24_1" style="display:none;" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectagg_cust_1_24_1&quot;,this,&quot;customobject&quot;,this.value,&quot;customobjectagg_cust_1_24_1&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)"><option value="">None</option><option value="sum">Sum</option><option value="count">Count</option><option value="min">Min</option><option value="max">Max</option><option value="avg">Average</option></select><label>Condition</label><select id="customobjectc_1_24_1" name="customobjectc_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectc_1_24_1&quot;,this,&quot;customobject&quot;,&quot;&quot;,&quot;&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)"><option value="Like">Contains</option><option value="Not Like">Does Not Contain</option><option value="In">Contains (Multiple)</option><option value="Not In">Does Not Contain (Multiple)</option><option value="Equal to">Equal To</option><option value="Not Equal to">Not Equal To</option><option value="Is Not Null">Is Not Null</option><option value="Is Null">Is Null</option></select><label id="customobjecttd1_1_24_1">Value</label><input class="dtpicker" type="text" autocomplete="off" id="customobjectv_1_24_1" name="customobjectv_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectv_1_24_1&quot;,this,&quot;customobject&quot;,&quot;&quot;,&quot;&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)"><label id="customobjecttd2_1_24_1"></label><input class="dtpicker" type="text" autocomplete="off" id="customobjectv1_1_24_1" name="customobjectv1_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectv1_1_24_1&quot;,this,&quot;customobject&quot;,&quot;&quot;,&quot;&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)" style="display:none;"><select id="customobjectsv_1_24_1" name="customobjectsv_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectsv_1_24_1&quot;,this,&quot;customobject&quot;,&quot;&quot;,&quot;&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)" style="display:none;"><option></option></select><select id="customobjectmv_1_24_1" name="customobjectmv_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectmv_1_24_1&quot;,this,&quot;customobject&quot;,&quot;&quot;,&quot;&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)" size="4" multiple="" style="display:none;"><option></option></select></div><div class="clear"></div></div>
                                        <div id="customobject_1_24_1" class="grppnl pnlOffer"><a class="delete" title="Delete" onclick="javascript:removeMe_Custom(&quot;customobject_1_24_1&quot;,&quot;customobject&quot;,&quot;1&quot;,&quot;1&quot;)"></a><div class="inner"><h3>H1_1</h3><label>Field</label><select id="customobjectf_1_24_1" name="customobjectf_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectf_1_24_1&quot;,this,&quot;customobject&quot;,this.value,&quot;customobjectc_1_24_1&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)"><option></option></select><label id="customobjectagl_cust_1_24_1" style="display:none;">Aggregate</label><select id="customobjectagg_cust_1_24_1" name="customobjectagg_cust_1_24_1" style="display:none;" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectagg_cust_1_24_1&quot;,this,&quot;customobject&quot;,this.value,&quot;customobjectagg_cust_1_24_1&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)"><option value="">None</option><option value="sum">Sum</option><option value="count">Count</option><option value="min">Min</option><option value="max">Max</option><option value="avg">Average</option></select><label>Condition</label><select id="customobjectc_1_24_1" name="customobjectc_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectc_1_24_1&quot;,this,&quot;customobject&quot;,&quot;&quot;,&quot;&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)"><option value="Like">Contains</option><option value="Not Like">Does Not Contain</option><option value="In">Contains (Multiple)</option><option value="Not In">Does Not Contain (Multiple)</option><option value="Equal to">Equal To</option><option value="Not Equal to">Not Equal To</option><option value="Is Not Null">Is Not Null</option><option value="Is Null">Is Null</option></select><label id="customobjecttd1_1_24_1">Value</label><input class="dtpicker" type="text" autocomplete="off" id="customobjectv_1_24_1" name="customobjectv_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectv_1_24_1&quot;,this,&quot;customobject&quot;,&quot;&quot;,&quot;&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)"><label id="customobjecttd2_1_24_1"></label><input class="dtpicker" type="text" autocomplete="off" id="customobjectv1_1_24_1" name="customobjectv1_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectv1_1_24_1&quot;,this,&quot;customobject&quot;,&quot;&quot;,&quot;&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)" style="display:none;"><select id="customobjectsv_1_24_1" name="customobjectsv_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectsv_1_24_1&quot;,this,&quot;customobject&quot;,&quot;&quot;,&quot;&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)" style="display:none;"><option></option></select><select id="customobjectmv_1_24_1" name="customobjectmv_1_24_1" runat="server" onchange="javascript:changeContents_Custom(&quot;customobjectmv_1_24_1&quot;,this,&quot;customobject&quot;,&quot;&quot;,&quot;&quot;,&quot;1&quot;,&quot;1&quot;,&quot;24&quot;)" size="4" multiple="" style="display:none;"><option></option></select></div><div class="clear"></div></div>
                                    
                                    </span>
                                  </fieldset>
                                </div>
                                <div id="custom_Panel2" class="custom_pannel" style="display:none;">
                                  <fieldset>
                                    <legend> Hotel Data </legend>
                                    <span id="custom_ph2"></span>
                                  </fieldset>
                                </div>
                                <div id="custom_Panel3" class="custom_pannel" style="display:none;">
                                  <fieldset>
                                    <legend> POS </legend>
                                    <span id="custom_ph3"></span>
                                  </fieldset>
                                </div>
                                <div id="custom_Panel4" class="custom_pannel" style="display:none;"> <span id="custom_ph4"></span> </div>
                                <div id="custom_Panel5" class="custom_pannel" style="display:none;"> <span id="custom_ph5"></span> </div>
                                <div id="custom_Panel6" class="custom_pannel" style="display:none;"> <span id="custom_ph6"></span> </div>
                                <div id="custom_Panel7" class="custom_pannel" style="display:none;"> <span id="custom_ph7"></span> </div>
                                <div id="custom_Panel8" class="custom_pannel" style="display:none;"> <span id="custom_ph8"></span> </div>
                                <div id="custom_Panel9" class="custom_pannel" style="display:none;"> <span id="custom_ph9"></span> </div>
                                <div id="custom_Panel10" class="custom_pannel" style="display:none;"> <span id="custom_ph10"></span> </div>
                                <div id="custom_Panel11" class="custom_pannel" style="display:none;"> <span id="custom_ph11"></span> </div>
                                <div id="custom_Panel12" class="custom_pannel" style="display:none;"> <span id="custom_ph12"></span> </div>
                                <div id="custom_Panel13" class="custom_pannel" style="display:none;"> <span id="custom_ph13"></span> </div>
                                <div id="custom_Panel14" class="custom_pannel" style="display:none;"> <span id="custom_ph14"></span> </div>
                                <div id="custom_Panel15" class="custom_pannel" style="display:none;"> <span id="custom_ph15"></span> </div>
                                <div id="custom_Panel16" class="custom_pannel" style="display:none;"> <span id="custom_ph16"></span> </div>
                                <div id="custom_Panel17" class="custom_pannel" style="display:none;"> <span id="custom_ph17"></span> </div>
                                <div id="custom_Panel18" class="custom_pannel" style="display:none;"> <span id="custom_ph18"></span> </div>
                                <div id="custom_Panel19" class="custom_pannel" style="display:none;"> <span id="custom_ph19"></span> </div>
                                <div id="custom_Panel20" class="custom_pannel" style="display:none;">
                                    <span id="custom_ph20"></span>
                                </div>
                              </div>
                        </div>
                        <div class="segmention_behaviour_section">
                            <h5 id="hsbheader" style="display:block;">Segment Properties</h5>
                            <div class="columnX segment_height">
                                <div id="divSegmentType" class="segmentType" style="display:block;">                        
                                     <div class="segment_wrapper">                                
                                        <h4 id="hviewText">Segment Name</h4>
                                        <input name="txtListName" type="text" id="txtListName">
                                        <input name="SegmentName" type="text" id="SegmentName" style="display:none">
                                        <div class="clear"></div>
                                        <h4>Notes</h4>
                                        <textarea name="txtNotes" rows="2" cols="20" id="txtNotes"></textarea>                
                                        <div class="clear"></div>
                                         <ul id="ulsegmenttype" style="display:block;">
                                            <li><input id="rd_static" type="radio" name="SegmentType" value="rd_static" checked="checked"> <label>Static</label></li>
                                            <li><input id="rd_dynamic" type="radio" name="SegmentType" value="rd_dynamic" ><label>Dynamic</label></li>
                                        </ul>
                                        <div id="divAlert" class="alrtRd" style="display:none;">
                                            Alert: Please note that Dynamic Segments will continue to collect new targets that meet this Segment criteria and push them into all Marketing Programs using this Segment
                                        <a class="alrtdel"></a><a class="alrtdel"></a></div>
                                        <div id="divNotToSupressFromProgram" style="display:none;">
                                          <input  type="checkbox" name="checkNotToSupressFromProgram"><label>Do not suppress targets from associated program when they no longer meet the criteria.</label>
                                        </div>
                                    </div>
                                </div>
                                <div id="div1" class="lgGrp">
                                   <div class="segment_wrapper">
                                        <div id="divRandomSample" style="display:block;">
                                         <h4 id="hRandomSample">
                                             <input id="chkRandomSample" type="checkbox" name="chkRandomSample">
                                             <label>Random Sample</label></h4>
                                         <div id="divSampleSize" style="display:none;">
                                         <h4>Sample Size</h4>
                                             <input name="txtSampleSize" type="text" id="txtSampleSize">
                                         </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="segment_wrapper">
                                        <div class="btnPnl">
                                             <input type="submit" name="btnWidgetBack" value="Back" id="btnWidgetBack" class="green-button button" style="display:none;"> 
                                             <input type="submit" name="btnWidgetNext" value="Next" id="btnWidgetNext" class="green-button button" style="display:none;">  
                                            <input type="submit" name="btnSaveNClose" value="Save &amp; Close"  id="btnSaveNClose" class="green-button button">
                                            <input type="submit" name="btnClose" value="Cancel" id="btnClose" class="button">
                                            <div class="clear"></div>                
                                        </div>
                                        <div class="clear"></div>
                                        <div class="btnPnl" style="display: none;">
                                            <input type="submit" name="btnGetCount" value="Get Count" id="btnGetCount" class="green-button button">
                                            <span id="lblCount"></span>
                                            <div class="clear"></div>
                                         </div>
                                     </div>
                            </div>
                        </div>
                </div>
                
            </div>
            
        </div>
    </div>
</div>
