<p-dialog
  header="Confirmation"
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
  (onHide)="hideDialog($event)"
  [modal]="true"
  [style]="{ width: 'auto' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  styleClass="mobile-fullview delete-dialog"
>
  <div class="dialog-content">
    <div class="dialog-text-center">
      <i class="pi pi-exclamation-triangle" style="font-size: 5rem;"></i>
      <h3>Are you sure?</h3>
      <p>Confirm to proceed</p>
    </div>
    <div class="dialog-btn-group">
      <button
        type="button"
        pButton
        (click)="visible = false"
        [label]="denyLabel"
        class="p-button-secondary dialog-btn"
      ></button>
      <button
        type="button"
        pButton
        (click)="onConfirm()"
        [label]="confirmLabel"
        class="p-button-danger dialog-btn"
      ></button>
    </div>
  </div>
</p-dialog>
