.userprofile-container {
  padding: 1rem;
  .panel-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-content: center;

    .panel-left {
      flex: 0 0 auto;
      // padding: 40px 22px 30px 22px;
      width: 100%;
      min-height: 800px;
      min-width: 400px;
      position: relative;
      display: block;
      transition: all 0.4s ease-in;
      z-index: 2;
      background-color: white;
      margin-bottom: 1rem;
      @media screen and (min-width: 640px) {
        width: 44%;
        margin-bottom: 0;
      }
    }

    .panel-right {
      background-color: white;
      width: 100%;

      @media screen and (min-width: 640px) {
        // width: 44%;
        margin-left: 1rem;
      }
    }

    @media screen and (min-width: 640px) {
      flex-direction: row;
    }
  }
}

.profile {
  // background-color: white;
  // margin: 1rem 0 1rem 1rem;
  padding: 1rem;

  .action-btn {
    display: flex;
    //   align-content: flex-end;
    justify-content: flex-end;

    .save-btn {
      margin: 0.5rem;
      color: #89c540;

      .icon-save_icon {
        font-size: 24px;

        &::before {
          content: '\e949';
        }
      }
    }

    .close-btn {
      margin: 0.5rem;
      color: #d02a2a;

      .icon-close_circle {
        font-size: 24px;
        font-weight: 600;

        &::before {
          content: '\e909';
        }
      }
    }
  }

  .details {
    .profile-pic {
      // border-color: #eeefef;
      width: 100%;
      max-width: 250px;
      background: #e8eeef;
      border-radius: 100%;
    }
  }

  .heading {
    color: #89c540;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .menu {
    margin: 2rem 0;

    a {
      display: inline-block;
      border: 2px solid;
      border-radius: 100%;
      width: 36px;
      height: 36px;
      background: #fff;
      border-color: #7d848e;
      color: #0f263e;
      position: relative;
      font-size: 18px;
      text-align: center;
      line-height: 36px;
    }

    .icon-ellipsis {
      &::before {
        content: '\e915';
        font-size: 16px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .score {
    h5 {
      font-size: 18px;
      font-weight: 700;
      margin-top: 30px;
      color: #89c540;
    }
  }

  .convert-btn {
    margin: 2rem 0.5rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    row-gap: 1rem;

    .btn-saleforce {
      font-size: 1.1rem;
      font-weight: bold;
      text-transform: uppercase;
      background-color: #00aeef;
      border: 1px solid #00aeef;
      font-family: Lato, sans-serif;

      &:focus {
        box-shadow: none;
      }
    }

    .btn-sugarcrm {
      font-size: 1.1rem;
      font-weight: bold;
      text-transform: uppercase;
      background-color: #f67e04;
      border: 1px solid #f67e04;
      font-family: Lato, sans-serif;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .fields-container {
    // margin-left: 1rem;
    display: flex;
    flex-direction: column;

    .cols-6 {
      margin-left: 1rem;
      padding-right: 1rem;
      width: 100%;
      @media screen and (min-width: 1024px) {
        width: 50%;
        padding-right: 0;
      }
    }
    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }

  h5 {
    margin: 1rem 0 0.5rem 0;
    font-weight: bold;
  }

  .read-only {
    margin-left: 1rem;
  }
}

.activity {
  // background-color: white;
  // margin: 1rem 1rem 1rem 0;
  // padding: 1rem;
}

.acc-header {
  display: flex;
  justify-content: space-between;
  align-content: center;

  h4 {
    align-self: center;
  }
}

:host
  ::ng-deep
  .p-accordion
  .p-accordion-header:not(.p-disabled)
  .p-accordion-header-link:focus {
  box-shadow: none;
}

:host ::ng-deep .custom-dropdown {
  width: 100%;

  // @media screen and (min-width: 1024px) {
  //   width: 15rem;
  // }
}
