<!-- <a (click)="backToAllTargets()">Back</a> -->

<div class="userprofile-container">
  <div class="panel-container">
    <div class="panel-left">
      <div class="profile">
        <div class="action-btn">
          <a class="save-btn" (click)="save()"
            ><i class="icon-save_icon" title="Save"></i
          ></a>
          <a class="close-btn" (click)="save()"
            ><i class="icon-close_circle" title="Save"></i
          ></a>
        </div>
        <div class="details">
          <div class="row">
            <div class="col-4">
              <img
                class="profile-pic"
                src="../../../../../assets/images/noimageMan.png"
                alt="dummy"
              />
            </div>
            <div class="col-8">
              <h2 class="heading">AVD102 exp102</h2>
              <div class="menu">
                <a>
                  <i class="icon-ellipsis"> </i>
                  <!-- <p-menu
                    [showTransitionOptions]="'0ms'"
                    [hideTransitionOptions]="'0ms'"
                    #menu
                    [popup]="true"
                    [model]="detailItems"
                  ></p-menu>
                  <button
                    type="button"
                    pButton
                    icon="pi pi-list"
                    label="Show"
                    (click)="menu.toggle($event)"
                  ></button> -->
                </a>
              </div>
              <div class="score">
                <h5>Score</h5>
                <div class="row">
                  <div class="col-6 score-profile">
                    <strong>Profile:</strong>
                    <img
                      src="../../../../../assets/images/starBlank.png"
                      alt="start"
                    />
                  </div>
                  <div class="col-6 score-behavior">
                    <strong>Behavior:</strong>
                    <img
                      src="../../../../../assets/images/flameBlank.png"
                      alt="start"
                    />
                  </div>
                </div>
              </div>
              <div class="convert-btn">
                <button
                  pButton
                  type="button"
                  label="Convert to saleforce lead"
                  class="btn-saleforce"
                ></button>
                <button
                  pButton
                  type="button"
                  label="Convert to saleforce contact"
                  class="btn-saleforce"
                ></button>
                <button
                  pButton
                  type="button"
                  label="Convert to sugarcrm leads"
                  class="btn-sugarcrm"
                ></button>
                <button
                  pButton
                  type="button"
                  label="Convert to sugarcrm contact"
                  class="btn-sugarcrm"
                ></button>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="fields-container">
          <div class="cols-6">
            <h5>Single</h5>
            <p-dropdown
              [options]="leadOwners"
              [(ngModel)]="selectedLead"
              placeholder="Select a City"
              optionLabel="name"
              [showClear]="true"
              styleClass="custom-dropdown"
            ></p-dropdown>
          </div>
          <div class="cols-6">
            <h5>Date Created:</h5>
            <p-dropdown
              [options]="leadOwners"
              [(ngModel)]="selectedLead"
              placeholder="Select a City"
              optionLabel="name"
              [showClear]="true"
              styleClass="custom-dropdown"
            ></p-dropdown>
          </div>
        </div>
        <div class="row">
          <div class="col-12 read-only">
            <h5>Date Created:</h5>
            <p>10/13/2020 1:33:21 PM</p>
          </div>
        </div>
        <hr />
        <p-accordion>
          <p-accordionTab [selected]="true">
            <p-header>
              <h4>Contact Information</h4>
            </p-header>
            Body Content
          </p-accordionTab>
          <p-accordionTab>
            <p-header>
              <h4>Address Information</h4>
            </p-header>
            <ng-template pTemplate="content">Body Content</ng-template>
          </p-accordionTab>

          <p-accordionTab>
            <p-header style="width: 100%;">
              <div class="acc-header">
                <h4>Additional Information</h4>
                <button
                  pButton
                  pRipple
                  type="button"
                  label="Add Field"
                  class="p-button-outlined p-button-secondary"
                ></button>
              </div>
            </p-header>
            <ng-template pTemplate="content">Body Content</ng-template>
          </p-accordionTab>

          <p-accordionTab>
            <p-header style="width: 100%;">
              <div class="acc-header">
                <h4>Custom Fields</h4>
                <button
                  pButton
                  pRipple
                  type="button"
                  label="Add Field"
                  class="p-button-outlined p-button-secondary"
                ></button>
              </div>
            </p-header>
            <ng-template pTemplate="content">Body Content</ng-template>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
    <div class="panel-right">
      <div class="activity">Right Section</div>
    </div>
  </div>
</div>
