@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/mixins';

.header {
  padding: 15px;

  @media (min-width: 768) {
     padding: 20px 28px 14px 28px;
  }
  
    .gen-top 
    {
      display: flex;
      justify-content: space-between;
      align-items:self-start;
      flex-direction: column;
  
      @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
      }
  
      .left-sec 
      {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.8rem;
  
        @media (min-width: 768px) {
          margin-bottom: 0;
        }
  
        .target-count 
        {         

          img
          {
              width: 35px;
              height: auto;
          }
  
          span 
          {
            display: inline-block;
            border-left: 1px solid $bordercolor;
            color: $color-font;
            font-size: 20px;
            line-height: 24px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
            padding: 10px 0px 10px 15px;
  
            em {
              font-style: normal;
              font-size: 13px;
              line-height: 15px;
              color: $color-font;
              display: block;
            }
          }
        }
  
      }
  
      .right-sec 
      {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .spprDmn
        {
            display: flex;
            flex-flow: row;

            label
            {
                color: $color-font;
                font-size: 14px;
                display: block;
                line-height: 30px;
                margin-right: 10px;
                font-weight: normal;
            }
            #txtDomain
            {
                font-size: 14px;
                border: 0px;
                border-bottom: 1px solid $bordercolor;
                margin-right: 5px;
            }    
        }    
      }
    }
  }
  
  .paginator-left
  {
    .supp-export 
    {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 1rem;
      color: $color-font;
      font-weight: bold;
    }

    .icon-csv1 
    {
      color: $iconcolor;
      font-size: 21px;
      line-height: 27px;
    }
  }
  
  p 
  {
    margin-bottom: 0;
  }
  
  .add-program 
  {
    width: 150px;
  }
 
 .button
  {
    font-family: "Lato",sans-serif;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid $bordercolor;
        background-color: $white;
        color: $color-font;
        padding: 8px 18px;
        text-transform: uppercase;
        cursor: pointer;
        line-height: 18px;
        display: inline-block;
        @include  border-radius(2px);
        
        &:hover
        {
            border: 1px solid $primary-exp;
            background-color: $primary-exp;
            color: $white;
        }
    }
.icon-delete-button
{
  color: $red;
  font-size: 18px;
  &::before
  {
    content: $icon-delete-button;
  }
}