<div class="prgtrgtCont">
    
    <p-table
      #table
      styleClass="p-datatable-grid"
      [value]="listData"
      [columns]="columns"
      [rows]="10"
      [autoLayout]="true"
      [responsive]="true"
      [paginator]="paginator"
      paginatorPosition="both"
      [(selection)]="selectedTarget"
      [showCurrentPageReport]="true"
      [currentPageReportTemplate]="
        loading
          ? 'Loading...'
          : 'Showing {first} to {last} of {totalRecords} entries'
      "
      [rowsPerPageOptions]="[10, 25, 50, 100]"
      [totalRecords]="tRecords"
      [lazy]="true"
      [scrollable]="!paginator"
      [scrollHeight]="'48vh'"
      [virtualScroll]="!paginator"
      [virtualRowHeight]="34"
      
    >
      <ng-container *ngIf="!paginator">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width: 20%;" />
            <col style="width: 20%;" />
            <col style="width: 20%;" />
            <col style="width: 20%;" />
            <col style="width: 20%;" />
          </colgroup>
        </ng-template>
      </ng-container>
      <ng-template pTemplate="caption">
        <div class="header">
          <div class="gen-top">
            <div class="left-sec">
              <div class="target-count">
                  
                <img src="../../../../..//assets/images/suppressDomain.png">
                <span
                  >
                  {{ targetCount | number }}
                <em>Suppressed Domains</em>
                </span>
              </div>               
            </div>
          
            <div class="right-sec">
                <div class="spprDmn">
                    <label>Suppress Domain</label>
                    <input name="txtDomain" type="text" id="txtDomain" placeholder="Domain name">
                    <input type="submit" name="btnSuppDmnAdd" value="Suppress" id="btnSuppDmnAdd" class="button">
               </div>
            </div>
             

          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th> <p-tableCheckbox [value]="item"></p-tableCheckbox></th>
          <th>Domain Name</th>  
          <th>Client Name</th> 
          <th>Unsubscribe Date</th> 
          <th></th>    
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-rowData let-rowIndex="rowIndex">
        <tr class="p-selectable-row">
          <td> <p-tableCheckbox [value]="item"></p-tableCheckbox></td>
          <td>{{item.listSource}}</td>
          <td>{{item.listName}}</td>
          <td>{{item.listSourceType}}</td>   
          <td><i class="icon-delete-button"></i></td>             
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6" style="text-align: center;">No record found.</td>
        </tr>
      </ng-template>
    
        <ng-template pTemplate="paginatorright">
          <div class="jump">
            <label>Go to:</label>
            <input  #pageNo  class="jump-input"  name="inputpagenoTop"   type="text"  size="4" pInputText />
            <button
              (click)="gotoPage(pageNo.value)"
              pButton
              pRipple
              type="button"
              label="Go"
              class="p-button-raised jump-btn"
            ></button>
          </div>
        </ng-template>
     
      <ng-container *ngIf="!paginator">
        <ng-template pTemplate="loadingbody" let-columns="columns">
          <tr style="height: 34px;">
            <td *ngFor="let col of columns">
              <div class="loading-text"></div>
            </td>
          </tr>
        </ng-template>
      </ng-container>
    </p-table>
    <ng-container *ngIf="exportModal">
      <app-export-notification
        [(visible)]="exportModal"
        (exporthandler)="exporthandler($event)"
      >
      </app-export-notification>
    </ng-container>
    
    <ng-container *ngIf="unsuppressedModal">
      <app-delete-dialog
        [(visible)]="unsuppressedModal"
        (deleteItem)="unsuppressedHandler($event)"
        denyLabel="No"
        confirmLabel="Yes"
      >
      </app-delete-dialog>
    </ng-container>
     
</div>
