<section [ngClass]="loading ? 'loading-content' : ''">
  <ng-container *ngIf="loading">
    <div class="modal-loading" style="text-align: center;">
      <img src="../../../../assets/images/loader.gif" alt="" />
    </div>
  </ng-container>

  <p-table [value]="items">
    <ng-template pTemplate="header">
      <tr>
        <th>UPLOAD LIST FIELDS</th>
        <th>SAMPLE VALUES</th>
        <th>EXPERITURE FIELDS</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.listFields }}</td>
        <td>{{ item.sampleData }}</td>
        <td>
          <span class="exp-field">
            <p-dropdown
              name="expOption"
              optionLabel="label"
              [options]="expOption"
              [(ngModel)]="item.fieldId"
              [showClear]="true"
              placeholder="Select the field"
              optionDisabled="inactive"
              (onChange)="expFieldChange($event, item)"
            ></p-dropdown>
          </span>

          <ng-container *ngIf="item.showNewCustomField">
            <span class="custom-field">
              <input
                [ngClass]="{ warn: item.isCustomFieldRequired }"
                placeholder="Enter Custom Field"
                type="text"
                pInputText
                [(ngModel)]="item.newCustomFieldValue"
              />
            </span>
            <p class="custom-field-label">
              Enter/Update your Custom Field Name
            </p>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="pt-3 pb-2">
    <button
      (click)="saveAndUpload()"
      pButton
      pRipple
      type="button"
      label="Save & Upload"
      class="ml-4 mr-4 p-button-raised"
    ></button>
    <button
      (click)="deny()"
      pButton
      pRipple
      type="button"
      label="Cancel"
      class="p-button-outlined p-button-secondary"
    ></button>
  </div>
</section>
