.loading-content {
  height: 250px;
}

.exp-field {
  margin-right: 5px;
}

.custom-field {
  display: inline-block;
  margin-top: 8px;

  .warn {
    border-color: red;
  }

  input {
    min-width: 211px;
  }
}

.custom-field-label {
  margin: 0;
  font-size: 11px;
  color: #666;
  font-style: normal;
  padding-top: 4px;
}
