.category-section {
  .list-section {
    list-style-type: none;
    margin-left: 20px;
    display: flex;
    align-content: center;
    align-items: center;
    column-gap: 5px;
    flex-wrap: wrap;

    .custom-checkbox {
      width: 120px;
      //   overflow: hidden;
      margin: 5px;
    }
  }
}

// .example-margin {
//     margin: 0 12px;
//   }

//   ul {
//     list-style-type: none;
//     margin-top: 4px;
//     margin-left: 20px;
//   }

.radio-group {
  display: flex;
  flex-direction: column;
  //   margin: 15px 0;
}

.radio-button {
  margin: 5px;
}
