<ng-container *ngIf="loading">
  <div class="modal-loading" style="text-align: center;">
    <img src="../../../../assets/images/loader.gif" alt="" />
  </div>
</ng-container>
<div class="pt-2 mb-3">
  <mat-radio-group
    class="radio-group"
    color="primary"
    [(ngModel)]="selectedOption"
    (change)="optionHandler()"
  >
    <mat-radio-button class="radio-button" value="1"
      >Skip Duplicate Records</mat-radio-button
    >
    <mat-radio-button class="radio-button" value="2"
      >Update Duplicate Records with information from this file or data
      connection</mat-radio-button
    >
  </mat-radio-group>
  <div class="ml-5">
    <mat-radio-group
      class="radio-group"
      color="primary"
      [(ngModel)]="selectedSubOption"
      [disabled]="selectedOption === '1'"
    >
      <mat-radio-button class="radio-button" value="3"
        >Overwrite entire Record</mat-radio-button
      >
      <mat-radio-button class="radio-button" value="4"
        >Update missing fields only</mat-radio-button
      >
    </mat-radio-group>
  </div>
</div>
<div class="pb-3">
  <strong>Select Email Category(s) for subscription:</strong><br />
</div>

<section class="category-section">
  <span>
    <mat-checkbox
      class="custom-checkbox"
      [checked]="task.completed"
      [color]="task.color"
      [indeterminate]="someComplete()"
      (change)="setAll($event.checked)"
    >
      {{ task.name }}
    </mat-checkbox>
  </span>
  <span>
    <ul class="list-section">
      <li *ngFor="let subtask of task.subtasks">
        <mat-checkbox
          class="custom-checkbox"
          [(ngModel)]="subtask.completed"
          [color]="subtask.color"
          (ngModelChange)="updateAllComplete()"
        >
          {{ subtask.name | slice: 0:15 }}
        </mat-checkbox>
      </li>
    </ul>
  </span>
</section>

<div class="pt-3 pb-2">
  <button
    (click)="saveAndContinue()"
    pButton
    pRipple
    type="button"
    [label]="sourceData.buttonLabel"
    class="ml-4 mr-4 p-button-raised"
  ></button>
  <button
    (click)="deny()"
    pButton
    pRipple
    type="button"
    label="Cancel"
    class="p-button-outlined p-button-secondary"
  ></button>
</div>
