<p-dialog
  header="Show / Hide Fields"
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
  [modal]="true"
  [style]="{ width: '900px' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hideDialog($event)"
  styleClass="mobile-fullview"
>
  <div cdkDropListGroup>
    <div class="row mb-4">
      <div class="col">
        <h5 class="text-center mb-4">Available fields</h5>
        <div
          cdkDropList
          [cdkDropListData]="items"
          cdkDropListSortingDisabled
          class="field-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="field-box" *ngFor="let item of items" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>
      <div class="col">
        <h5 class="text-center mb-4">Selected fields</h5>

        <div
          cdkDropList
          [cdkDropListData]="basket"
          class="field-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="field-box" *ngFor="let item of basket" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [style]="{ 'text-align': 'center' }">
    <button
      (click)="updateFields()"
      pButton
      pRipple
      type="button"
      label="Update"
      class="p-button-raised fields-update-btn"
    ></button>
  </div>
</p-dialog>
