<section class="frequency-cls">
  <span class="req-info"><em>*</em> Indicates required field</span>
  <p>Please choose frequency of fetching targets.</p>
  <h4>Frequency:</h4>
  <form [formGroup]="frequencyForm">
    <div class="form-group">
      <mat-radio-group
        color="primary"
        [(ngModel)]="frequency"
        aria-label="Select an option"
      >
        <mat-radio-button value="1">Daily</mat-radio-button>
        <mat-radio-button value="2">Minute Interval</mat-radio-button>
        <mat-radio-button value="3">Weekly</mat-radio-button>
        <mat-radio-button value="4">Monthly</mat-radio-button>
      </mat-radio-group>
    </div>

    <ng-container *ngIf="frequency === '1'">
      <div class="form-group">
        <label for="destination">Start Time <em>*</em></label>
        <div>
          <p-dropdown
            styleClass="custom-dropdown"
            [options]="timeList"
            [(ngModel)]="startTime"
            optionLabel="displayName"
            [showClear]="true"
            placeholder="Select Time"
          ></p-dropdown>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="frequency === '2'">
      <div class="form-group">
        <label for="destination">Every <em>*</em></label>
        <div>
          <p-inputNumber
            class="mr-3"
            inputStyleClass="custom-input"
            inputId="integeronly"
            [(ngModel)]="minute"
          >
          </p-inputNumber>
          <p-dropdown
            styleClass="custom-dropdown"
            [options]="timeTypes"
            [(ngModel)]="timeType"
            optionLabel="displayName"
            [showClear]="true"
            placeholder="Select Time"
          ></p-dropdown>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="frequency === '3'">
      <div class="form-group">
        <label for="destination">Start Time <em>*</em></label>
        <div class="mb-3">
          <p-dropdown
            styleClass="custom-dropdown"
            [options]="timeList"
            [(ngModel)]="startTime"
            optionLabel="displayName"
            [showClear]="true"
            placeholder="Select Time"
          ></p-dropdown>
        </div>
        <div>
          <mat-checkbox
            class="custom-checkbox"
            [color]="weekly.color"
            [checked]="weekly.completed"
            [indeterminate]="someComplete()"
            (change)="setAll($event.checked)"
          >
            {{ weekly.name }}
          </mat-checkbox>
        </div>
        <span class="mr-3" *ngFor="let subtask of weekly.subtasks">
          <mat-checkbox
            class="custom-checkbox"
            [(ngModel)]="subtask.completed"
            [color]="subtask.color"
            (ngModelChange)="updateAllComplete()"
          >
            {{ subtask.name }}
          </mat-checkbox>
        </span>
      </div>
    </ng-container>

    <ng-container *ngIf="frequency === '4'">
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <label for="destination">Start Time <em>*</em></label>
            <div>
              <p-dropdown
                styleClass="custom-dropdown"
                [options]="timeList"
                [(ngModel)]="startTime"
                optionLabel="displayName"
                [showClear]="true"
                placeholder="Select Time"
              ></p-dropdown>
            </div>
          </div>
          <div class="col-6">
            <label for="destination">Day of the month <em>*</em></label>
            <div>
              <p-inputNumber
                inputStyleClass="custom-input"
                inputId="integeronly"
                [(ngModel)]="day"
              >
              </p-inputNumber>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="form-group">
      <mat-checkbox
        color="primary"
        class="custom-checkbox"
        [(ngModel)]="checked"
        >Enabled</mat-checkbox
      >
    </div>

    <div class="pt-3 pb-3 action-cls">
      <button
        pButton
        pRipple
        type="button"
        label="Next"
        class="mr-2 p-button-raised"
        [disabled]="!isValid"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Back"
        class="mr-2 p-button-outlined"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Cancel"
        class="p-button-outlined p-button-secondary"
      ></button>
    </div>
  </form>
</section>
