.frequency-cls {
  .req-info {
    font-style: italic;
    float: right;
  }
  h4 {
    font-size: 1.5rem;
    color: #0f263e;
    margin-bottom: 1rem;
  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  // .mat-radio-button ~ .mat-radio-button {
  //   margin-left: 16px;
  // }

  .mat-radio-button {
    margin-right: 1.5rem;
  }

  .enabled-cls {
    font-family: 'Lato', sans-serif;
  }

  .action-cls {
    text-align: center;
    // margin-top: 8rem;
    // margin-bottom: 2rem;
  }
}

:host ::ng-deep {
  .custom-dropdown {
    width: 150px;
    margin-right: 1rem;
  }
  .custom-input {
    width: 150px;
  }
  // .custom-checkbox {
  //   .mat-checkbox-inner-container {
  //     height: 18px;
  //     width: 18px;
  //   }
  // }
}
