<section class="frequency-cls">
  <span class="req-info"><em>*</em> Indicates required field</span>
  <p>Please choose frequency of fetching targets.</p>
  <h4>Frequency:</h4>
  <form [formGroup]="frequencyForm">
    <div class="form-group">
      <mat-radio-group
        color="primary"
        formControlName="frequency"
        aria-label="Select an option"
        (change)="frequencyHandler()"
      >
        <mat-radio-button value="1">Daily</mat-radio-button>
        <mat-radio-button value="2">Minute Interval</mat-radio-button>
        <mat-radio-button value="3">Weekly</mat-radio-button>
        <mat-radio-button value="4">Monthly</mat-radio-button>
      </mat-radio-group>
    </div>

    <ng-container *ngIf="toggleFrequency === '1'">
      <div class="form-group">
        <label for="destination">Start Time <em>*</em></label>
        <div>
          <p-dropdown
            styleClass="custom-dropdown"
            [options]="timeList"
            formControlName="startTime"
            optionLabel="displayName"
            [showClear]="true"
            placeholder="Select Time"
          ></p-dropdown>
          <p
            *ngIf="
              frequencyForm.get('startTime').invalid &&
              frequencyForm.get('startTime').dirty
            "
            class="mt-1"
            style="color: red;"
          >
            Please select time
          </p>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="toggleFrequency === '2'">
      <div class="form-group">
        <label for="destination">Every <em>*</em></label>
        <div class="row">
          <div class="col-6">
            <p-inputNumber
              class="mr-3"
              inputStyleClass="custom-input"
              inputId="integeronly"
              formControlName="interval"
            >
            </p-inputNumber>
            <p
              *ngIf="
                frequencyForm.get('interval').invalid &&
                frequencyForm.get('interval').dirty
              "
              class="mt-1"
              style="color: red;"
            >
              Please enter every interval
            </p>
          </div>
          <div class="col-6">
            <p-dropdown
              styleClass="custom-dropdown"
              [options]="timeTypes"
              formControlName="timeType"
              optionLabel="displayName"
              [showClear]="true"
              placeholder="Select Time"
            ></p-dropdown>
            <p
              *ngIf="
                frequencyForm.get('timeType').invalid &&
                frequencyForm.get('timeType').dirty
              "
              class="mt-1"
              style="color: red;"
            >
              Please select time(hr/min)
            </p>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="toggleFrequency === '3'">
      <div class="form-group">
        <label for="destination">Start Time <em>*</em></label>
        <div class="mb-3">
          <p-dropdown
            styleClass="custom-dropdown"
            [options]="timeList"
            formControlName="startTime"
            optionLabel="displayName"
            [showClear]="true"
            placeholder="Select Time"
          ></p-dropdown>
          <p
            *ngIf="
              frequencyForm.get('startTime').invalid &&
              frequencyForm.get('startTime').dirty
            "
            class="mt-1"
            style="color: red;"
          >
            Please select time
          </p>
        </div>
        <div>
          <mat-checkbox
            class="custom-checkbox"
            [color]="weekly.color"
            [checked]="weekly.completed"
            [indeterminate]="someComplete()"
            (change)="setAll($event.checked)"
          >
            {{ weekly.name }}
          </mat-checkbox>
        </div>
        <ng-container formArrayName="weekday">
          <span
            class="mr-3"
            *ngFor="let subtask of weekly.subtasks; let i = index"
          >
            <mat-checkbox
              class="custom-checkbox"
              [formControlName]="i"
              [color]="subtask.color"
              (change)="updateAllComplete(subtask, i)"
            >
              {{ subtask.name }}
            </mat-checkbox>
          </span>
        </ng-container>
        <p
          *ngIf="
            frequencyForm.get('weekday').invalid &&
            frequencyForm.get('weekday').dirty
          "
          class="mt-1"
          style="color: red;"
        >
          Please specify day of week
        </p>
      </div>
    </ng-container>

    <ng-container *ngIf="toggleFrequency === '4'">
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <label for="destination">Start Time <em>*</em></label>
            <div>
              <p-dropdown
                styleClass="custom-dropdown"
                [options]="timeList"
                formControlName="startTime"
                optionLabel="displayName"
                [showClear]="true"
                placeholder="Select Time"
              ></p-dropdown>
              <p
                *ngIf="
                  frequencyForm.get('startTime').invalid &&
                  frequencyForm.get('startTime').dirty
                "
                class="mt-1"
                style="color: red;"
              >
                Please select time
              </p>
            </div>
          </div>
          <div class="col-6">
            <label for="destination">Day of the month <em>*</em></label>
            <div>
              <p-inputNumber
                inputStyleClass="custom-input"
                inputId="integeronly"
                formControlName="dayDate"
              >
              </p-inputNumber>
              <p
                *ngIf="
                  frequencyForm.get('dayDate').invalid &&
                  frequencyForm.get('dayDate').dirty
                "
                class="mt-1"
                style="color: red;"
              >
                Please enter day of month
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="form-group">
      <mat-checkbox
        color="primary"
        class="custom-checkbox"
        formControlName="isEnabled"
        >Enabled</mat-checkbox
      >
    </div>

    <div class="pt-3 pb-3 action-cls">
      <button
        pButton
        pRipple
        type="button"
        label="Next"
        class="mr-2 p-button-raised"
        (click)="submitForm()"
        [disabled]="frequencyForm.invalid"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Back"
        class="mr-2 p-button-outlined"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Cancel"
        class="p-button-outlined p-button-secondary"
      ></button>
    </div>
  </form>
</section>
