<div class="loading" *ngIf="loading">
  <img src="../../../../assets/images/loader.gif" alt="" />
</div>

<p-table
  #table
  styleClass="p-datatable-grid"
  [value]="listData"
  [columns]="columns"
  [rows]="10"
  [autoLayout]="true"
  [responsive]="true"
  [paginator]="paginator"
  paginatorPosition="both"
  [(selection)]="selectedTarget"
  [showCurrentPageReport]="true"
  [currentPageReportTemplate]="
    loading
      ? 'Loading...'
      : 'Showing {first} to {last} of {totalRecords} entries'
  "
  [rowsPerPageOptions]="[10, 25, 50, 100]"
  [totalRecords]="tRecords"
  [lazy]="true"
  [scrollable]="!paginator"
  [scrollHeight]="'48vh'"
  [virtualScroll]="!paginator"
  [virtualRowHeight]="34"
  (onLazyLoad)="nextPage($event)"
>
  <ng-container *ngIf="!paginator">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col style="width: 60px;" />
        <col style="width: 60px;" />
        <col style="width: 50px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 50px;" />
        <col style="width: 50px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 400px;" />
      </colgroup>
    </ng-template>
  </ng-container>
  <ng-template pTemplate="caption">
    <div class="header">
      <div class="gen-top">
        <div class="left-sec">
          <div class="target-count">
            <!-- <i class="icon-view"></i> -->
            <span
              ><span *ngIf="targetCountLoading; else TargetTemp">
                <img
                  style="width: 50px;"
                  src="../../../../assets/images/cus-loding.gif"
                  alt=""
                />
              </span>
              <ng-template #TargetTemp>
                {{ targetCount | number }}
                <em>Suppressed Targets</em>
              </ng-template>
            </span>
          </div>
          <div class="add-data">
            <a (click)="addToSuppressed()">
              <i class="icon-database_add"></i> Add to Suppressed</a
            >
          </div>
        </div>
        <div class="right-sec">
          <div class="search-sec">
            <span class="p-float-label">
              <input
                #searchText
                class="search-inp"
                type="text"
                id="inputtext"
                pInputText
              />
              <label for="inputtext">Search...</label>
            </span>
          </div>
          <div class="fields-sec">
            <p-dropdown
              name="fieldsType"
              optionLabel="label"
              [options]="searchFields"
              [(ngModel)]="selectedField"
              styleClass="fields-dropdown"
            ></p-dropdown>
          </div>
          <a
            (click)="table.filterGlobal(searchText.value, 'contains')"
            id="btnSearch"
            title="Search"
            class="searchBtn"
            ><i class="icon-search"></i
          ></a>
          <a (click)="resetPage()" id="btnReset" title="Reset" class="undoBtn"
            ><i class="icon-reload"></i
          ></a>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <ng-container *ngFor="let col of columns">
        <th *ngIf="col.sortable" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th *ngIf="!col.sortable">
          {{ col.header }}
        </th>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-rowData let-rowIndex="rowIndex">
    <tr class="p-selectable-row">
      <td>
        <p-tableCheckbox [value]="item"></p-tableCheckbox>
      </td>
      <td>
        <span class="p-column-title">{{ columns[0].header }}</span>
        {{ item.listSource }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[1].header }}</span>
        {{ item.listName }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[2].header }}</span>
        {{ item.listSourceType }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[3].header }}</span>
        {{ item.listRecordCount | number }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[4].header }}</span>
        {{ item.validEmailCount }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6" style="text-align: center;">No record found.</td>
    </tr>
  </ng-template>
  <ng-container *ngIf="paginator">
    <ng-template pTemplate="paginatorleft" let-state>
      <div class="paginator-left">
        <a class="supp-export" (click)="exportTargets()"
          ><span>Export:</span><i class="icon-csv1"></i>
        </a>
      </div>
      <div class="delete-btn">
        <button
          (click)="unsuppressSelection()"
          pButton
          pRipple
          type="button"
          label="Unsuppress Selection"
          class="p-button-outlined p-button-danger"
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <div class="jump">
        <label>Go to:</label>
        <input
          #pageNo
          class="jump-input"
          name="inputpagenoTop"
          type="text"
          size="4"
          pInputText
        />
        <button
          (click)="gotoPage(pageNo.value)"
          pButton
          pRipple
          type="button"
          label="Go"
          class="p-button-raised jump-btn"
        ></button>
      </div>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="!paginator">
    <ng-template pTemplate="loadingbody" let-columns="columns">
      <tr style="height: 34px;">
        <td *ngFor="let col of columns">
          <div class="loading-text"></div>
        </td>
      </tr>
    </ng-template>
  </ng-container>
</p-table>

<ng-container *ngIf="exportModal">
  <app-export-notification
    [(visible)]="exportModal"
    (exporthandler)="exporthandler($event)"
  >
  </app-export-notification>
</ng-container>

<ng-container *ngIf="unsuppressedModal">
  <app-delete-dialog
    [(visible)]="unsuppressedModal"
    (deleteItem)="unsuppressedHandler($event)"
    denyLabel="No"
    confirmLabel="Yes"
  >
  </app-delete-dialog>
</ng-container>
