<p-dialog
  [header]="header"
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
  [modal]="true"
  [style]="{ width: '50%' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hideDialog($event)"
  styleClass="mobile-fullview"
>
  <ng-container *ngIf="showDefault">
    <section>
      <div class="row">
        <div class="col">
          <div class="px-3">
            <p class="font-weight-bold">
              Please enter your Salesforce.com User Account Details
            </p>
            <form [formGroup]="addSourceForm">
              <div class="form-group">
                <label for="username">User Name : <em>*</em> </label>
                <input
                  formControlName="username"
                  type="text"
                  class="form-control"
                  id="username"
                />
                <span
                  *ngIf="
                    addSourceForm.get('username').invalid &&
                    addSourceForm.get('username').touched
                  "
                  style="color: red;"
                  >Please enter user name</span
                >
              </div>
              <div class="form-group">
                <label for="">Password : <em>*</em></label>
                <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                  id="password"
                />
                <span
                  *ngIf="
                    addSourceForm.get('password').invalid &&
                    addSourceForm.get('password').touched
                  "
                  style="color: red;"
                  >Please enter password</span
                >
              </div>
              <div class="form-group">
                <label for="">Security Token : <em>*</em></label>
                <input
                  formControlName="token"
                  type="text"
                  class="form-control"
                  id="token"
                />
                <span
                  *ngIf="
                    addSourceForm.get('token').invalid &&
                    addSourceForm.get('token').touched
                  "
                  style="color: red;"
                  >Please enter security token</span
                >
              </div>
              <div class="pb-2">
                <p-checkbox
                  name="group1"
                  value="all"
                  label="Remenber the Username/Password"
                  [formControl]="addSourceForm.controls['remberme']"
                ></p-checkbox>
              </div>
              <div class="pt-3">
                <button
                  (click)="next()"
                  pButton
                  pRipple
                  type="button"
                  label="Next"
                  class="mr-2 p-button-raised"
                  [disabled]="!addSourceForm.valid"
                ></button>
                <button
                  (click)="visible = false"
                  pButton
                  pRipple
                  type="button"
                  label="Cancel"
                  class="p-button-outlined p-button-secondary"
                ></button>
              </div>
            </form>
          </div>
        </div>
        <div class="col middle-item">
          <p class="note">
            <em>NOTE:</em> Please select "Remember Username/Password" to have
            records update between Experiture and Salesforce.com without having
            to enter your username and password each time a change is made.
          </p>
        </div>
      </div>
      <div class="info">
        <h5 class="font-weight-bold mb-2">
          Trouble Connecting with Salesforce.com?
        </h5>
        <p>
          If you are having trouble connecting to Salesforce.com, it may be
          because your security token has been reset.
          <a class="link" (click)="openSalesforce()">Click here</a> &nbsp; for
          instructions on retrieving your security token.
        </p>
        <h5 class="font-weight-bold mb-2">Change password?</h5>
        <p>
          <a class="link" (click)="openResetPass()">Click here</a> &nbsp; to
          reset your password for. Salesforce.com.
        </p>
      </div>
    </section>
  </ng-container>
  <ng-container *ngIf="showSalesforce">
    <section class="section">
      <img alt="" src="../../../../assets/images/circle-1.png" />
      <div class="section-item">
        <h5>Login to Salesforce and navigate to Personal Setup</h5>
        <!-- <div class="slsimg"><img alt="" src="images/Sforce1.gif" /></div> -->
        <p>
          Visit
          <a href="http://www.salesforce.com" target="_blank"
            >www.salesforce.com</a
          >
          and log into your salesforce.com account. Once you are logged in,
          locate the <u>Setup</u> link on the top right hand side of your
          screen. Click this link to enter the Personal Setup screen, and then
          proceed to the next step below.
        </p>
      </div>
    </section>
    <section class="section">
      <img alt="" src="../../../../assets/images/circle-2.png" />
      <div class="section-item">
        <h5>Reset your security token</h5>
        <!-- <div class="slsimg"><img alt="" src="images/Sforce2.gif" /></div> -->
        <p>
          Locate the link <u>Reset your Security Token</u> in the
          <u>Personal Setup</u> section. After you have reset your token, a new
          security token will be generated, that will be sent to your email
          address.
          <strong
            >NOTE: CONSULT YOUR NETWORK ADMIN BEFORE COMPLETING THIS STEP.
            RESETTING YOUR SECURITY TOKEN MAY UNINSTALL APPS YOU CURRENTLY
            HAVE.</strong
          >
          When you have received the security token in your email, proceed to
          next step below.
        </p>
      </div>
    </section>
    <section class="section">
      <img alt="" src="../../../../assets/images/circle-3.png" />
      <div class="section-item">
        <h5>Enter your information below</h5>
        <div class="section-form">
          <form [formGroup]="saveInfoForm">
            <div class="form-group">
              <label for="">Password : <em>*</em></label>
              <input
                formControlName="password"
                type="password"
                class="form-control"
                id="password"
              />
              <span
                *ngIf="
                  saveInfoForm.get('password').invalid &&
                  saveInfoForm.get('password').touched
                "
                style="color: red;"
                >Please enter password</span
              >
            </div>
            <div class="form-group">
              <label for="">Security Token : <em>*</em></label>
              <input
                formControlName="token"
                type="text"
                class="form-control"
                id="token"
              />
              <span
                *ngIf="
                  saveInfoForm.get('token').invalid &&
                  saveInfoForm.get('token').touched
                "
                style="color: red;"
                >Please enter security token</span
              >
            </div>
            <div class="py-3">
              <button
                (click)="next()"
                pButton
                pRipple
                type="button"
                label="Save"
                class="mr-2 p-button-raised"
                [disabled]="!addSourceForm.valid"
              ></button>
              <button
                (click)="backtoHome()"
                pButton
                pRipple
                type="button"
                label="Back"
                class="p-button-outlined p-button-secondary"
              ></button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </ng-container>
  <ng-container *ngIf="showResetPass">
    <section class="section">
      <img alt="" src="../../../../assets/images/circle-1.png" />
      <div class="section-item">
        <h5>Login to Salesforce and select "Password Reset"</h5>
        <!-- <div class="slsimg"><img alt="" src="images/Sforce1.gif" /></div> -->
        <p>
          Visit
          <a href="http://www.salesforce.com" target="_blank"
            >www.salesforce.com</a
          >
          and select "Log In". Locate the <u>Password Reset</u> on the signup
          screen. Click this link, follow the onscreen instructions, and then
          proceed to the next step below.
        </p>
      </div>
    </section>
    <section class="section">
      <img alt="" src="../../../../assets/images/circle-2.png" />
      <div class="section-item">
        <h5>Enter your information below</h5>
        <div class="section-form">
          <form [formGroup]="saveInfoForm">
            <div class="form-group">
              <label for="">Password : <em>*</em></label>
              <input
                formControlName="password"
                type="password"
                class="form-control"
                id="password"
              />
              <span
                *ngIf="
                  saveInfoForm.get('password').invalid &&
                  saveInfoForm.get('password').touched
                "
                style="color: red;"
                >Please enter password</span
              >
            </div>
            <div class="form-group">
              <label for="">Security Token : <em>*</em></label>
              <input
                formControlName="token"
                type="text"
                class="form-control"
                id="token"
              />
              <span
                *ngIf="
                  saveInfoForm.get('token').invalid &&
                  saveInfoForm.get('token').touched
                "
                style="color: red;"
                >Please enter security token</span
              >
            </div>
            <div class="py-3">
              <button
                (click)="next()"
                pButton
                pRipple
                type="button"
                label="Save"
                class="mr-2 p-button-raised"
                [disabled]="!addSourceForm.valid"
              ></button>
              <button
                (click)="backtoHome()"
                pButton
                pRipple
                type="button"
                label="Back"
                class="p-button-outlined p-button-secondary"
              ></button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </ng-container>
</p-dialog>
