.middle-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.note {
  background-color: #fff8d0;
  color: #a66f10;
  border: 1px solid #ece1a3;
  padding: 10px;
}
.note em {
  color: unset;
}

:host ::ng-deep .p-checkbox-label {
  margin: 0;
  padding-left: 1em;
}

.info {
  margin: 1em;
  padding: 1em;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

.link {
  // display: inline-block;
  background-color: #89c540;
  color: white;
  // margin-top: 0.2rem;
  padding: 1px 3px;
  border-radius: 3px;
}

// :host ::ng-deep .p-checkbox .p-checkbox-box:not(.p-disabled).p-focus {
//   box-shadow: none;
// }

.section {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;

  & img {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
  }

  & .section-item {
    padding: 15px 10px 10px 60px;
  }

  & h5 {
    font-weight: bold;
    margin-bottom: 10px;
  }

  & .section-form {
    width: 50%;
  }
}
