.all-targets {
  padding: 10px;

  .header {
    padding: 20px 28px 14px 28px;

    .mono-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 14px;
      .list-name {
        .back-btn {
          display: inline-block;
          background-color: #7abf5c;
          border-radius: 3px;
          .back-img {
            margin: 6px;
          }
        }
        span {
          margin-left: 5px;
          font-size: 16px;
        }
      }
    }

    .gen-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;

      .left-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .target-count {
          height: 40px;
          border-right: 1px solid #dedede;

          //   &:after {
          //     content: '';
          //     position: absolute;
          //     box-sizing: border-box;
          //     width: 1px;
          //     height: 40px;
          //     background: #dedede;
          //   }

          .icon-database {
            color: #0f263e;
            //   display: inline-block;
            margin-right: 10px;
            font-size: 30px;
            vertical-align: middle;
            line-height: 27px;

            &:before {
              content: '\e90f';
            }
          }

          span {
            color: #0f263e;
            font-size: 20px;
            line-height: 24px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 24px;

            em {
              font-style: normal;
              font-size: 13px;
              line-height: 15px;
              color: #0f263e;
              display: block;
            }
          }
        }

        .add-data {
          margin-left: 24px;
          height: 40px;
          border-right: 1px solid #dedede;
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            color: #0f263e;
            font-size: 16px;
            text-decoration: none;
            margin-right: 24px;

            .icon-database_add {
              color: #7d848e;
              font-size: 24px;
              vertical-align: middle;
              margin-right: 10px;

              &:before {
                content: '\e970';
              }
            }
          }
        }

        .showhide-btn {
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 24px;
          padding-right: 24px;
          border-right: 1px solid #dedede;
        }

        .crt-new {
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 24px;
          margin-right: 24px;
        }

        .p-button-secondary,
        .p-button-raised {
          font-size: 16px;
        }
      }

      .right-sec {
        .search-sec {
          display: inline-block;

          .search-inp {
            border: none;
            border-bottom: 1px solid #dedede;
            border-radius: 0;

            &:hover,
            &:active {
              border-color: #89c540;
            }
          }
        }
        .fields-sec {
          display: inline-block;

          //   :host ::ng-deep .fields-dropdown {
          //     border: none;
          //     width: 500px;
          //   }
        }
        .searchBtn {
          display: inline-block;
          margin: 0 10px;
          .icon-search {
            font-size: 21px;
            line-height: 27px;
            color: #7d848e;
            &:before {
              content: '\e9a2';
            }
          }
        }

        .undoBtn {
          display: inline-block;
          margin-left: 10px;
          .icon-reload {
            font-size: 21px;
            line-height: 27px;
            color: #7d848e;
            &:before {
              content: '\e952';
            }
          }
        }
      }
    }
  }
}

:host ::ng-deep .fields-dropdown {
  border: none;
  border-bottom: 1px solid #dedede;
  border-radius: 0;
}
