<div class="loading" *ngIf="loading">
  <img src="../../../../assets/images/loader.gif" alt="" />
</div>

<section class="all-targets">
  <p-table
    #table
    styleClass="p-datatable-grid"
    [value]="allTargetData"
    [columns]="columns"
    [rows]="10"
    [autoLayout]="true"
    [responsive]="true"
    [paginator]="paginator"
    paginatorPosition="both"
    [(selection)]="selectedTarget"
    [showCurrentPageReport]="true"
    [currentPageReportTemplate]="
      loading
        ? 'Loading...'
        : 'Showing {first} to {last} of {totalRecords} entries'
    "
    [rowsPerPageOptions]="[10, 25, 50, 100]"
    [totalRecords]="tRecords"
    [lazy]="true"
    [scrollable]="!paginator"
    [scrollHeight]="'48vh'"
    [virtualScroll]="!paginator"
    [virtualRowHeight]="34"
    (onLazyLoad)="nextPage($event)"
  >
    <ng-container *ngIf="!paginator">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col style="width: 150px;" />
          <col style="width: 75px;" />
          <col style="width: 75px;" />
          <col style="width: 50px;" />
          <col style="width: 50px;" />
          <col style="width: 100px;" />
          <col style="width: 100px;" />
          <col style="width: 100px;" />
          <col style="width: 100px;" />
          <col style="width: 100px;" />
          <col style="width: 100px;" />
          <col style="width: 100px;" />
          <col style="width: 100px;" />
        </colgroup>
      </ng-template>
    </ng-container>
    <ng-template pTemplate="caption">
      <div class="header">
        <div class="mono-top" *ngIf="paramId !== 'all'">
          <div class="list-name">
            <a class="back-btn" (click)="navigateBack()">
              <img
                class="back-img"
                src="../../../../../assets/images/backBtn.png"
                alt="Back"
              />
            </a>
            <span>ListName</span>
          </div>
          <div class="right-panel">
            <div *ngIf="paramId !== 'all'" class="res-drop">
              <p-dropdown
                name="respondedType"
                optionLabel="label"
                [options]="respondedType"
                [(ngModel)]="selectedType"
              ></p-dropdown>
            </div>

            <div class="showhide-btn">
              <button
                (click)="fieldsModal = true"
                pButton
                pRipple
                type="button"
                label="Show / Hide Fields"
                class="p-button-outlined p-button-secondary"
              ></button>
            </div>
            <div class="crt-new">
              <button
                (click)="createNewView()"
                pButton
                pRipple
                type="button"
                label="Create New View"
                class="p-button-raised"
              ></button>
            </div>
          </div>
        </div>
        <div class="gen-top">
          <div class="left-sec">
            <div class="target-count">
              <i class="icon-database"></i>
              <span
                ><span *ngIf="targetCountLoading; else TargetTemp">
                  <img
                    style="width: 50px;"
                    src="../../../../assets/images/cus-loding.gif"
                    alt=""
                  />
                </span>
                <ng-template #TargetTemp>
                  {{ targetCount | number }}
                  <em>Targets</em>
                </ng-template>
              </span>
            </div>
            <div class="add-data">
              <a (click)="addTargetModal = true">
                <i class="icon-database_add"></i> Add Targets</a
              >
            </div>
          </div>
          <div *ngIf="paramId === 'all'" class="mid-sec">
            <div class="showhide-btn">
              <button
                (click)="fieldsModal = true"
                pButton
                pRipple
                type="button"
                label="Show / Hide Fields"
                class="p-button-outlined p-button-secondary"
              ></button>
            </div>
            <div class="crt-new">
              <button
                (click)="createNewView()"
                pButton
                pRipple
                type="button"
                label="Create New View"
                class="p-button-raised"
              ></button>
            </div>
          </div>
          <div class="right-sec">
            <div class="search-sec">
              <span class="p-float-label">
                <input
                  #searchText
                  class="search-inp"
                  type="text"
                  id="inputtext"
                  pInputText
                />
                <label for="inputtext">Search...</label>
              </span>
            </div>
            <div class="fields-sec">
              <p-dropdown
                name="fieldsType"
                optionLabel="label"
                [options]="columnHeaders"
                [(ngModel)]="selectedField"
                styleClass="fields-dropdown"
              ></p-dropdown>
            </div>
            <a
              (click)="table.filterGlobal(searchText.value, 'contains')"
              id="btnSearch"
              title="Search"
              class="searchBtn"
              ><i class="icon-search"></i
            ></a>
            <a (click)="resetPage()" id="btnReset" title="Reset" class="undoBtn"
              ><i class="icon-reload"></i
            ></a>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <ng-container *ngFor="let col of columns">
          <th *ngIf="col.sortable" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th *ngIf="!col.sortable">
            {{ col.header }}
          </th>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowData let-rowIndex="rowIndex">
      <tr class="ui-selectable-row">
        <td>
          <p-tableCheckbox [value]="item"></p-tableCheckbox>
        </td>
        <td>
          <span class="p-column-title">{{ columns[0].header }}</span>
          <a (click)="editLead(item, rowIndex)">
            <i class="icon-edit" title="Edit" style="font-size: large;"></i>
          </a>
        </td>
        <td>
          <span class="p-column-title">{{ columns[1].header }}</span>
          {{ item.firstName }}
        </td>
        <td>
          <span class="p-column-title">{{ columns[2].header }}</span>
          {{ item.lastName }}
        </td>
        <td>
          <span class="p-column-title">{{ columns[3].header }}</span
          >{{ item.stateProvince }}
        </td>
        <td>
          <span class="p-column-title">{{ columns[4].header }}</span>
          {{ item.company }}
        </td>
        <td>
          <span class="p-column-title">{{ columns[5].header }}</span>
          {{ item.isOfferRedeemed }}
        </td>
        <td>
          <span class="p-column-title">{{ columns[6].header }}</span
          >{{ item.tenure }}
        </td>
        <td>
          <span class="p-column-title">{{ columns[7].header }}</span
          >{{ item.emailAddress }}
        </td>
        <td>
          <span class="p-column-title">{{ columns[8].header }}</span
          >{{ item.city }}
        </td>
        <td>
          <span class="p-column-title">{{ columns[9].header }}</span
          >{{ item.stateProvince }}
        </td>
        <td>
          <span class="p-column-title">{{ columns[10].header }}</span
          >{{ item.age }}
        </td>
        <td>
          <span class="p-column-title">{{ columns[11].header }}</span
          >{{ item.lastModifiedDate }}
        </td>
        <td>
          <span class="p-column-title">{{ columns[12].header }}</span
          >{{ item.listType }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="16" style="text-align: center;">No record found.</td>
      </tr>
    </ng-template>
    <ng-container *ngIf="paginator">
      <ng-template pTemplate="paginatorleft" let-state>
        <div class="paginator-left">
          <!-- <div *ngIf="paramId === 'all'" class="paginator-left"> -->
          <label for="fileType">Filter By View : </label>
          <p-dropdown
            name="viewType"
            optionLabel="label"
            [options]="viewList"
            [(ngModel)]="selectedView"
            styleClass="fields-dropdown filter-view"
            (onChange)="viewChangeHandler()"
          ></p-dropdown>
        </div>
        <div class="delete-btn">
          <button
            (click)="deleteTargets()"
            pButton
            pRipple
            type="button"
            label="Delete Selected Targets"
            class="p-button-outlined p-button-danger"
          ></button>
        </div>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <div class="jump">
          <label>Go to:</label>
          <input
            #pageNo
            class="jump-input"
            name="inputpagenoTop"
            type="text"
            size="4"
            pInputText
          />
          <button
            (click)="gotoPage(pageNo.value)"
            pButton
            pRipple
            type="button"
            label="Go"
            class="p-button-raised jump-btn"
          ></button>
        </div>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="!paginator">
      <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr style="height: 34px;">
          <td *ngFor="let col of columns">
            <div class="loading-text"></div>
          </td>
        </tr>
      </ng-template>
    </ng-container>
  </p-table>
</section>

<ng-container *ngIf="fieldsModal">
  <app-fields-modal [(visible)]="fieldsModal" [selectedFields]="columnHeaders">
  </app-fields-modal>
</ng-container>

<ng-container *ngIf="deleteModal">
  <app-delete-dialog
    [(visible)]="deleteModal"
    (deleteItem)="deletehandler($event)"
    confirmLabel="YES, DELETE SELECTED TARGET(S)"
    denyLabel="NO, KEEP SELECTED TARGET(S)"
  >
  </app-delete-dialog>
</ng-container>

<!-- <p-dialog
  header="Confirmation"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: 'auto' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  styleClass="dialog-container"
  position="bottom"
>
  <div class="dialog-content">
    <div class="dialog-text-center">
      <i class="pi pi-exclamation-triangle" style="font-size: 5rem;"></i>
      <h3>Are you sure?</h3>
      <p>Confirm to proceed</p>
    </div>
    <div class="dialog-btn-group">
      <button
        type="button"
        pButton
        (click)="displayModal = false"
        label="NO, KEEP SELECTED TARGET(S)"
        class="p-button-secondary dialog-btn"
      ></button>
      <button
        type="button"
        pButton
        (click)="onConfirm()"
        label="YES, DELETE SELECTED TARGET(S)"
        class="p-button-danger dialog-btn"
      ></button>
    </div>
  </div>
</p-dialog> -->
