.all-targets {
  padding: 10px;

  .header {
    padding: 20px 28px 14px 28px;

    // .push-right {
    //   justify-content: flex-end !important;
    // }

    .mono-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 14px;

      @media (min-width: 640px) {
        flex-direction: row;
      }

      .list-name {
        margin-bottom: 1rem;

        @media (min-width: 640px) {
          margin-bottom: 0;
        }

        .back-btn {
          display: inline-block;
          background-color: #7abf5c;
          border-radius: 3px;
          .back-img {
            margin: 6px;
          }
        }
        span {
          margin-left: 5px;
          font-size: 16px;
        }
      }

      .right-panel {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .res-drop,
        .showhide-btn {
          margin-right: 1rem;
        }

        // .p-button-secondary,
        // .p-button-raised {
        //   font-size: 16px;
        // }
      }
    }

    .gen-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;

      @media (min-width: 1024px) {
        flex-direction: row;
      }

      .left-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.8rem;

        @media (min-width: 1024px) {
          margin-bottom: 0;
        }

        .target-count {
          border-right: 1px solid #dedede;

          .icon-database {
            color: #0f263e;
            margin-right: 10px;
            font-size: 30px;
            vertical-align: middle;
            line-height: 27px;

            &:before {
              content: '\e90f';
            }
          }

          span {
            color: #0f263e;
            font-size: 20px;
            line-height: 24px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 24px;

            em {
              font-style: normal;
              font-size: 13px;
              line-height: 15px;
              color: #0f263e;
              display: block;
            }
          }
        }

        .add-data {
          margin-left: 24px;
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            color: #0f263e;
            font-size: 16px;
            text-decoration: none;
            margin-right: 24px;

            .icon-database_add {
              color: #7d848e;
              font-size: 24px;
              vertical-align: middle;
              margin-right: 10px;

              &:before {
                content: '\e970';
              }
            }
          }
        }
      }

      .mid-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.8rem;

        @media (min-width: 1024px) {
          margin-bottom: 0;
        }

        .showhide-btn,
        .crt-new {
          margin-right: 1rem;
        }
      }

      .right-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search-sec {
          .search-inp {
            border: none;
            border-bottom: 1px solid #dedede;
            border-radius: 0;

            @media (min-width: 1024px) {
              width: 250px;
            }

            &:hover,
            &:active {
              border-color: #89c540;
            }
          }
        }

        .searchBtn {
          margin: 0 10px;

          .icon-search {
            font-size: 21px;
            line-height: 27px;
            color: #7d848e;
            &:before {
              content: '\e9a2';
            }
          }
        }

        .undoBtn {
          margin-left: 10px;

          @media (min-width: 640px) {
            margin-bottom: 0;
          }
          .icon-reload {
            font-size: 21px;
            line-height: 27px;
            color: #7d848e;
            &:before {
              content: '\e952';
            }
          }
        }
      }
    }
  }
}
