<div class="section-header">
    <h3>My Programs </h3>
</div>
<div class="inner-content">
    <div class="grpnl rcntprg">
        <div class="dshdrpdwCnt">
            <a class="button small"  routerLink="createProgram">Create Program</a>
            <a class="button small"  routerLink="viewall">View All Program</a>
            <div class="dshdrpdw sdp">
                <label (click)="toggle()"><span id="lblShowStatus" >Recent Activity</span><i class="icon-expand_more"></i></label>
                <ng-container *ngIf="show">
                <div class="dp">
                    <a routerLink="recentlycreated" routerLinkActive="active sub_active">Recently Created</a>
                    <a routerLink="recentactivity" routerLinkActive="active sub_active">Recent Activity</a>
                </div>
            </ng-container>
            </div>
        </div>
        <div class="dashprgdata">
            <p-table [value]="programlists">
                <!-- <ng-template pTemplate="header">
                     <tr>
                    <th>Name</th>	
                    <th>Author</th>
                    <th>Price In Dollars</th>          
                      </tr>
                  </ng-template> -->
                  <ng-template pTemplate="body" let-programlist>
                      <tr>
                          <td class="prg_name">{{programlist.ProgName}}<span class="prog_start">{{programlist.StartDate}}</span></td>                          
                          <td class="report_link"><a [routerLink]="programlist.Report"  target="_blank">
                            <i class="icon-progress-report"></i>
                          </a>
                        </td>          
                      </tr>
                  </ng-template>
                </p-table>
        </div>
    </div>
</div>