@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.section-header 
{
    position: relative;
    padding: 0 0 8px;
   

    h3 
    {
        font-size: 16px;
        font-family: "Lato",sans-serif;
        color: $color-font;
        font-weight: 600;
    }
}

.inner-content 
{
    padding: 15px 20px;
    margin-bottom: 20px;
    background: $white;
    overflow: hidden;

    @media screen and (min-width:767px)
    {
        padding: 15px 20px;
        margin-bottom: 20px;
    }
    
    .dshdrpdw 
    {
        background: $white;
        border: solid 1px $bordercolor;
        position: relative;
        float: right;
        z-index: 5;
        font-size: 12px;
        font-weight: 700;

        label 
        {
            cursor: pointer;
            padding: 4px 20px 4px 12px;
            display: block;
            margin-bottom: 0px;

            i 
            {
                position: absolute;
                top: 7px;
                right: 4px;
            }
        }

        .dp 
        {
            position: absolute;
            top: 25px;
            left: -1px;
            width: 100%;
            background: $white;
            border: solid 1px $bordercolor;

            a 
            {
                padding: 6px;
                display: block;
                font-weight: 400;
                text-decoration: none;
                color: $color-font;  
                @include button-bg($white);
                transition: all  0.4 ease-in;                
            }
        }
    } 
    .prg_name
    {
        font-size: 14px;
        font-weight: 600;
        color: $color-font;

        a
        {
            color: $color-font;
            text-decoration: none;

            &:hover
            {
                text-decoration: underline;
            }
            
            span.prog_start
            {
                display: block;
                font-size: 12px;
                color: $iconcolor;
            }
        }

        span.prog_start
        {
            display: block;
            font-size: 12px;
            color: $iconcolor;
        }
    }


    .report_link 
    {
        text-align: right;
    }
}

.button, a.button
{

    &.small 
    {
        padding: 4px 12px;
        font-size: 12px;
        background: $white;
        color: $color-font;
        font-family: "Lato",sans-serif;
        font-size: 13px;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        border: 1px solid $bordercolor;
        margin-left: 5px;
        transition: all  0.4 ease-in;  

        &:hover
        {
            background-color:$primary;
            color: $white;
            border: 1px soldi $primary;
            transition: all  0.4 ease-in;  
        }
    }
}

.dshdrpdwCnt
{
    .button:first-child
    {
        margin-left: 0px;
    }
}
.icon-expand_more
{
    &::before
    {
        content: $icon-expand_more;
    }
}


.icon-progress-report
{
    font-size: 18px;
    color: $iconcolor;

    &::before
    {
        content:$icon-progress-report;
    }
}