@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.lstContainer 
{
    padding: 10px;
    position: relative;
    
    .quick-nav-container 
    {
        background: $white;
        font-family: 'Lato', sans-serif;
        padding: 10px 20px;
        margin-bottom: 10px;
      
        &::after,
        &::before {
          content: '';
          display: table;
          margin: 0px;
          padding: 0px;
          clear: both;
        }
        .pull-left {
          width: 50%;
          float: left;
      
          @include breakpoint(mobile) {
            width: 100%;
            clear: both;
            float: none;
          }
      
          @include breakpoint(tablet) {
            width: 40%;
          }
      
          @include breakpoint(small-desktop) {
            width: 40%;
          }
      
          @include breakpoint(laptop) {
            width: 40%;
          }
      
          h2 {
            font-size: $size18;
            font-weight: 600;
            display: inline-block;
            padding: 15px 32px 15px 0;
            color: $color;
            border-color: $bordercolor;
      
            @include breakpoint(mobile) {
              padding: 0px 0px 10px;
              font-size: $size16;
            }
      
            @include breakpoint(tablet) {
              padding: 0px 0px 10px;
              font-size: $size16;
            }
          }
        }
        .pull-right {
          width: 50%;
          float: right;
      
          @include breakpoint(mobile) {
            width: 100%;
            clear: both;
            float: none;
          }
      
          @include breakpoint(tablet) {
            width: 60%;
          }
      
          @include breakpoint(small-desktop) {
            width: 60%;
          }
      
          @include breakpoint(laptop) {
            width: 60%;
          }
      
          nav 
          {

            float: right;
            padding: 12px 6px;
            margin-top: 4px;
            border-radius: 25px;
            background: $secondar-light;
            // margin-bottom: 0.75rem;
      
            &.sub_insideNav,
            &.inside-nav 
            {
              @include breakpoint(mobile) 
              {
                border-radius: 0px;
                float: none;
                background-color: $white;
                width: 100%;
                border: solid 1px $bordercolor;
                position: relative;
                padding: 10px 6px;
              }
      
              
      
              .tab_link {
                padding: 0px 10px;
                display: none;
                cursor: pointer;
      
                .icon-down-arrow {
                  float: right;
                  &:before {
                    content: '\e99f';
                  }
                }
                @include breakpoint(mobile) {
                  display: block;
                }
      
               
      
                &::after,
                &::before {
                  content: '';
                  display: table;
                  clear: both;
                }
      
                span {
                  float: left;
                  font-size: 14px;
                  letter-spacing: 1px;
                }
      
                i {
                  float: right;
                }
              }
      
              ul {
                @include breakpoint(mobile) {
                  position: absolute;
                  display: none;
                  width: 100%;
                  z-index: 99;
                  background-color: $white;
                  top: 44px;
                  left: 0px;
                  border: solid 1px $bordercolor;
                  border-top: 0px;
                }
                
      
                li {
                  @include breakpoint(mobile) {
                    float: none;
                    margin: 0px 0px 5px;
                  }
                
                  a {
                    @include breakpoint(mobile) {
                      display: block;
                      border-radius: 0px;
                    }                  
                  }
                }
              }
              &.open {
                .tab_link {
                  span {
                    float: left;
                  }
      
                  i {
                    float: right;
                    transform: rotate(180deg);
                  }
                }
                ul {
                  display: block;
                }
              }
            }
      
            ul {
              list-style: none;
      
              li {
                float: left;
                position: relative;
                margin-right: 5px;
      
                @include breakpoint(desktop) {
                  margin-right: 0;
                }
      
                @include breakpoint(small-desktop) {
                  margin-right: 0;
                }
      
                a {
                  text-decoration: none;
                  padding: 8px 16px;
                  font-size: $size14;
                  border-radius: 20px;
                  color: $color;
      
                  @include breakpoint(small-desktop) {
                    padding: 8px 10px;
                    font-size: $size13;
                  }
                  @include breakpoint(laptop) {
                    padding: 8px 8px;
                  }
                  &:hover,
                  &.sub_active,
                  &.active {
                    background-color: $secundary;
                    color: $white;
                  }
                }
      
                &.drp {
                  ul {
                    @include breakpoint(mobile) {
                      position: relative;
                      top: auto;
                      margin: 0px;
                      padding: 0px;
                    }
      
                    @include breakpoint(tablet) {
                      position: relative;
                      top: auto;
                      margin: 0px;
                      padding: 0px;
                    }
                    li {
                      @include breakpoint(mobile) {
                        margin-bottom: 1px;
                        padding: 0px;
                      }
      
                      @include breakpoint(tablet) {
                        margin-bottom: 1px;
                        padding: 0px;
                      }
                      a {
                        @include breakpoint(mobile) {
                          margin: 0px;
                          padding: 5px 10px;
                          font-size: 13px;
                          line-height: 18px;
                        }
      
                        @include breakpoint(tablet) {
                          margin: 0px;
                          padding: 5px 10px;
                          font-size: 13px;
                          line-height: 18px;
                        }
                      }
                    }
                  }
                  & > a {
                    padding-right: 10px;
                    margin-right: 0px;
      
                    i {
                      margin-left: 10px;
                      vertical-align: middle;
                    }
                  }
                }
              }
            }
          }
          ul {
            &.subnav3 {
              position: absolute;
              top: 34px;
              right: 0px;
              width: 150px;
              background: none;
              z-index: 3;
              box-shadow: 0 5px 5px $bordercolor;
              li {
                margin-right: 0px;
                width: 100%;
                border: 0px;
                padding: 0px;
                border-bottom: 1px dotted $bordercolor;
                background: $secondar-light;
                a {
                  display: block;
                  color: $black;
                }
                &:first-child {
                  border-right: 1px solid $white;
                  &:hover {
                    border-right: 1px solid $white;
                  }
                }
                &:hover {
                  border: 0px !important;
                  border-bottom: 1px dotted $iconcolor;
                  background: $secundary;
                  color: $white;
                }
                .sub_active {
                  background: none !important;
                }
              }
            }
          }
        }
      }      

    .leadpage-dashboard 
    {
        margin-bottom: 10px;
        background-color: $white;
        padding: 20px;
    }
}
.rptpanel
{
    background: $silver-light;
    border: 1px solid $bordercolor;
    margin-bottom: 10px;  
    padding: 10px;
    display: flex;
    flex-flow: row;
    justify-content:space-between;

    @include breakpoint(mobile) 
    {     
      flex-flow: column;
    }
    
    .input-wrapper 
    {
      &:last-child
      {
        margin-bottom: 0px;
      }
    }
}

.clear 
{
    clear: both;
    font-size: 0;
    height: 0;
    display: block;
}

.repotbox
{
    background: $silver-light;
    border: 1px solid $bordercolor;
    margin-bottom: 10px;
    padding: 10px;
}

.input-wrapper 
{
    width: 33.33%;
    flex-flow: row;
    justify-content: stretch;
    
    @include breakpoint(mobile) 
    {
      width: 100%;
      flex-flow: column;
      margin-bottom: 15px
    }
    
    .calendarinput
    {
      @include calc( width, '100% - 90px');
      display: inline-flex;
    
      @include breakpoint(mobile) 
      {     
        @include calc( width, '100% - 60px');
      }
    }

    span
    {
      width: 50px;
      display: inline-block;
      margin: 0px 10px 0px 0px;
      padding: 0px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      color:$color-font;
      line-height: 35px;
    }

    input[type="text"]
    {
      margin: 0px 0px 0px;
      width: -moz-calc(100% - 150px);
      width: -webkit-calc(100% - 150px);
      width: calc(100% - 150px);
      height: 32px;
      padding: 0px 10px;
      box-sizing: content-box;
    }

    .formcontrol-submit
    {
      background: $white;
      color: $color-font;
      font-size: 16px;
      font-weight: bold;
      border: solid 1px $borderlightcolor;
      transition: all 0.4s ease-in;
      text-transform: uppercase;
      padding: 5px 10px;
      margin: 0px;
      
      @include breakpoint(mobile) 
      {
        float:right; 
      }  

      &:hover
      {
        background-color: $primary;
        color: $white;
        border: solid 1px $primary;
        transition: all 0.4s ease-in;
      }
    }


}
.fa-calendar
{
  color: $iconcolor;
  font-size: 18px;
  margin-left: 10px;
}

::ng-deep
{
  .p-calendar
  {
    width: 100%;
  }

  .p-button
  {
    color: $white;
    border:solid 1px $secundary-exp;
    background-color: $secundary-exp;
  }

}
.col-6
{
    @include breakpoint(mobile) 
   {
    flex: 0 0 100%;
    max-width: 100%;
   }
}