<app-header></app-header>

<div class="lstContainer">
  <div class="quick-nav-container">
    <div class="pull-left">
      <h2>Lead Dashboard Reports</h2>
    </div>
    <div class="pull-right">
      <nav class="inside-nav" [ngClass]="{ open: showMenu }">
        <div #menuRef class="tab_link" (click)="toggleMenu()">
          <span>Related Links</span><i class="icon-down-arrow"></i>
        </div>
        <ul class="nav-smenu">
          <li>
            <a routerLink="/dashboard/lead" routerLinkActive="active">Lead Analytics</a>
          </li>
          <li>
            <a routerLink="leadpage" routerLinkActive="active">Lead Pages</a>
          </li>
          <li>
            <a routerLink="responses" routerLinkActive="active">Responses</a>
          </li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
  </div>

  <div class="leadpage-dashboard">
    <div class="rptpanel clearfix">
      <div class="input-wrapper">
        <span> From: </span>
        <p-calendar  [(ngModel)]="fromdateValue"  dateFormat="dd.mm.yy" class="calendarinput" [showIcon]="true"></p-calendar>
      </div>
      <div class="input-wrapper">
        <span>To:</span>
        <p-calendar  [(ngModel)]="todateValue"  dateFormat="dd.mm.yy" class="calendarinput" [showIcon]="true"></p-calendar>
      </div>
      <div class="input-wrapper">
        <input class="formcontrol-submit" type="button" value="Show" />
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="repotbox">Report Content Box</div>
      </div>
      <div class="col-6">
        <div class="repotbox">Report Content Box</div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="row">
      <div class="col-6">
        <div class="repotbox">Report Content Box</div>
      </div>
      <div class="col-6">
        <div class="repotbox">Report Content Box</div>
      </div>
    </div>
  </div>
</div>
