
.segment {
  margin: 1rem;

  .segment-nav
  {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;

    @media screen and (min-width: 768px) 
    {
      display: flex;
      align-content: center;
      justify-content: space-between;
      font-family: 'Lato', sans-serif;
      padding: 10px 20px;
    }

    .title 
    {
      padding-bottom: 1rem;

      @media screen and (min-width: 768px) 
      {
        padding: 15px 32px 15px 0;
      }

      h2 
      {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
      }
    }

    .inside-nav 
    {
      background-color: white;

      @media screen and (min-width: 768px) {
        background-color: #f5f8f9;
        margin-top: 4px;
        padding: 12px 6px;
        border: none;
        margin-bottom: 0;
        border-radius: 25px;
      }

      &.open 
      {
        .icon-down-arrow 
        {
          transform: rotate(180deg);
        }
      }

      .tab_link 
      {
        border: solid 1px #eeefef;
        padding: 10px 16px;

        @media screen and (min-width: 768px) {
          display: none;
        }

        .icon-down-arrow 
        {
          float: right;
          &:before {
            content: '\e99f';
          }
        }
      }

      .nav-smenu {
        display: none;

        @media screen and (max-width: 768px) {
          &.open {
            display: block;
            width: 100%;
            z-index: 99;
            background-color: #fff;
            top: 44px;
            left: 0px;
            border: solid 1px #eeefef;
            border-top: 0px;
            li {
              margin-top: 0.5rem;
            }
          }
        }

        @media screen and (min-width: 768px) 
        {
          display: flex;
          justify-content: center;
          align-content: center;
          column-gap: 0.5rem;
        }

        a {
          color: #0f263e;
          font-size: 14px;
          padding: 8px 8px;
          display: block;

          &.active,
          &:hover {
            background-color: #00aeef;
            color: #fff;
          }

          @media screen and (min-width:768px)
          {
            border-radius: 20px;
            display: inline;
          }
        }
      }
    }
  }
}
