<section class="segment">
  <div class="segment-nav">
    <div class="title">
      <h2>{{ getTitle() }}</h2>
    </div>
    <nav class="inside-nav" [ngClass]="{ open: showMenu }">
      <div #menuRef class="tab_link" (click)="toggleMenu()">
        <span>Related Links</span><i class="icon-down-arrow"></i>
      </div>
      <ul class="nav-smenu" [ngClass]="{ open: showMenu }">
        <li>
          <a routerLink="optedout" routerLinkActive="active"
            >Opted Out Targets</a
          >
        </li>
        <li>
          <a routerLink="suppression" routerLinkActive="active"
            >Suppression List</a
          >
        </li>
        <li>
          <a routerLink="suppressed" routerLinkActive="active"
            >Suppressed Domains</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
</section>
