<div class="containerManageField">
    <p-table #dt [value]="customdatalists" [(selection)]="selectedlist" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0">
    <ng-template pTemplate="caption">
        <div class="gridTop">
           <div class="gridFilterL">
               <h2>
                Table: Profile (Main)
                </h2>
           </div>
           <div class="gridFilterR srch">
               <div class="searchbox">
                <span class="p-input-icon-left">
                    
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search... " />
                    <a id="btnSearch" title="Search" class="searchBtn"><i class="icon-search1"></i></a>
                    <a id="btnReset" title="Reset" class="undoBtn"><i class="icon-reload"></i></a>
                </span>
               </div>
               <div class="btnAddRowPanel">
                    <input type="button" name="btnAddRow" value="Add Custom Field" class="button green-button">
               </div>
           </div>           
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">
                <div class="p-d-flex p-jc-between p-ai-center">
                    FieldName                    
                </div>
            </th>
            <th pSortableColumn="country.name">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Field Type
                  
                </div>
            </th>
            <th pSortableColumn="representative.name">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Relational Field                   
                </div>
            </th>
            <th pSortableColumn="date">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Options
                   
                </div>
            </th>
            <th pSortableColumn="balance">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Modified Date                  
                </div>
            </th>
            <th pSortableColumn="status">
                <div class="p-d-flex p-jc-between p-ai-center">
                       Status              
                </div>
            </th>
         
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customdatalist>
        <tr>
            <td>
              {{customdatalist.FieldName}}
            </td>
            <td>
                {{customdatalist.FieldType}}
            </td>
            <td> 
                {{customdatalist.RelationalField}}
            </td>
            <td>
                {{customdatalist.Options}}
            </td>
            <td>
                {{customdatalist.ModifiedDate}}
            </td>
            <td>
                {{customdatalist.Status}}
            </td>     
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No customers found.</td>
        </tr>
    </ng-template>
</p-table>
</div>
