@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/mixins';

.containerManageField
{
    height: auto;
    overflow: hidden;
    width: 100%;
    background: $white;
    display: flex;
}
.gridTop
{
    &::after,&::before
    {
        clear: both;
        margin: 0px;
        padding: 0px;
        content: "";
        display: table;
    }
    .btnAddRowPanel 
    {
        float: right;
    }
    .searchbox
    {
        float: left;
    }
    .gridFilterR
    {
        a 
        {            
            font-size: 24px;            
        }
    }
}
.button
{
    font-family: "Lato",sans-serif;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid $primary-exp;
    background-color: $primary-exp;
    color: $white;
    padding: 8px 18px;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 18px;
    display: inline-block;
    @include  border-radius(2px)
}
.icon-search1
{
    font-size: 24px;
    &::before
    {
        content: $icon-search1;
    }
}
.icon-reload
{
    &::before
    {
        content: $icon-reload;
    }
}