.sngContainers {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;

  p {
    // font-size: 1.2rem;
    min-height: 30px;
  }

  .choose-btn {
    // font-size: 1.2rem;
    background: rgb(122, 191, 92);
    text-transform: uppercase;
  }
}

.trgtupinf {
  h3 {
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: bold;
  }

  .infhlp {
    font-size: 12px;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: dashed 1px #d9d9d9;

    h5 {
      color: #0f263e;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 5px;
    }
  }
}

.target-info {
  display: flex;

  .infpnl {
    padding: 0 1rem;
    // background-color: #f2f2f2;

    .contnet_wrapper {
      background-color: #f2f2f2;
      padding: 1rem 2rem;

      h5 {
        font-weight: bold;
        margin-bottom: 1rem;
      }

      ul,
      li {
        list-style: disc;
      }
    }
  }
}

.processing-cls {
  height: 250px;
  strong {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  p {
    text-align: center;
    font-size: 1.5rem;
  }
}
