<ng-container *ngIf="!showProcessingFile">
  <div class="experiture popup">
    <form name="tmpForm">
      <div class="sngContainers">
        <p>
          Choose a CSV / Excel (XLSX) file to upload your
          <span id="Span1">Target</span> List.
        </p>
        <div class="uptrgFlchs list_up pb-3">
          <!-- <input
            (click)="Uploader1.click()"
            name="SelectFile"
            type="submit"
            id="SelectFile"
            class="blBtn"
            title="Select File"
            value="Choose your mailing list file"
          /> -->
          <button
            (click)="uploader.click()"
            pButton
            pRipple
            type="button"
            label="Choose your mailing list file"
            class="mr-2 p-button-raised choose-btn"
          ></button>
          <input
            #uploader
            [hidden]="true"
            id="Uploader1"
            name="Uploader1"
            type="file"
            multiple="false"
            accept=".csv, .xlsx"
            (change)="handleFileInput($event.target.files)"
          />

          <div class="clear"></div>
        </div>
        <div class="pb-3" *ngIf="showProgress">
          <!-- <p-progressBar [value]="progressValue"></p-progressBar> -->
          <p-progressBar
            mode="indeterminate"
            [style]="{ height: '6px' }"
          ></p-progressBar>
        </div>
        <div class="pb-3" *ngIf="fileName">
          <div class="pb-3">
            <span class="p-input-icon-left p-input-icon-right">
              <i class="pi pi-paperclip"></i>
              <i
                style="cursor: pointer;"
                class="pi pi-trash"
                (click)="removeFile()"
              >
              </i>
              <input
                type="text"
                pInputText
                readonly
                [value]="fileName"
                [size]="fileName?.length"
              />
            </span>
            <span class="pl-3">
              <i
                *ngIf="progressValue >= 50"
                class="pi pi-check-square"
                style="color: blue;"
              ></i>
            </span>
          </div>
          <div class="pb-3">
            <label class="pr-3">File Type<em>*</em></label>
            <p-dropdown
              name="fileType"
              optionLabel="name"
              [options]="fileType"
              [(ngModel)]="selectedType"
            ></p-dropdown>
            <button
              (click)="uploadFile()"
              pButton
              pRipple
              type="button"
              label="Upload"
              class="ml-4 mr-4 p-button-raised"
            ></button>
            <button
              *ngIf="showProgress"
              (click)="onUploadDeny()"
              pButton
              pRipple
              type="button"
              label="Cancel"
              class="p-button-outlined p-button-secondary"
            ></button>
          </div>
        </div>
        <div class="clear"></div>
        <div class="trgtupinf eqblock">
          <h3><span id="Span2">Target</span> List File Requirements</h3>
          <div class="target-info">
            <div class="infpnl column">
              <div class="contnet_wrapper">
                <h5>
                  WHAT'S NEEDED IN YOUR <span id="Span3">TARGET</span> LIST FILE
                </h5>
                <ul>
                  <li>
                    Your file must be in CSV (Comma-separated Value) or Excel
                    (XLSX) format.
                  </li>
                  <li>
                    All columns must have a label (name) on the first row --
                    called a "header" -- such as "First Name", "Last Name"
                    "Address Line 1", etc.
                  </li>
                  <li>
                    <strong
                      >If you are broadcasting an email to your list</strong
                    >, the file must contain email addresses.
                  </li>
                  <li>
                    <strong
                      >If you are tracking direct mail with Experiture's IMB
                      tracking</strong
                    >, the file must contain 11-digit postnet codes.
                  </li>
                  <li>
                    <strong
                      >If you will require a security code for personalized
                      landing pages</strong
                    >, the file must contain a field with unique alphanumeric
                    values for each record.
                  </li>
                </ul>
              </div>
            </div>
            <div class="infpnl column">
              <div class="contnet_wrapper">
                <h5>PLEASE KEEP IN MIND:</h5>
                <ul>
                  <li>
                    The header (first row) of your
                    <span id="Span4">Target</span> List file
                    <strong>MAY NOT</strong> contain the words "PURL",
                    "personalized URL", "Security Code".
                  </li>
                  <li>
                    The header (first row) of any field (column) that has data
                    <strong>MAY NOT BE BLANK</strong>.
                  </li>
                  <li>
                    BLANK records (rows without values in any fields) are NOT
                    ALLOWED.
                  </li>
                </ul>
              </div>
            </div>
            <div class="infpnl column">
              <div class="contnet_wrapper">
                <h5>BEST PRACTICES FOR FILE CREATION</h5>
                <p>
                  For best results, double-check to make sure your file has all
                  the data you need, and is free of any duplicates.
                </p>
              </div>
            </div>
          </div>

          <!-- <div class="clear"></div> -->
          <div class="infhlp">
            <h5>NEED MORE HELP?</h5>
            <p>
              Need help with your mailing list file? Contact Experiture Support
              or call +1 (888) 950-0700 Ext 2
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="showProcessingFile">
  <div class="processing-cls">
    <strong>Please stand by...</strong>
    <p>We are analizing your list</p>
    <div style="text-align: center;">
      <img src="../../../../../assets/images/loader.gif" alt="" />
    </div>
  </div>
</ng-container>
