<p-dialog
  header="Edit List"
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
  [modal]="true"
  [style]="{ width: '500px' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hideDialog($event)"
  styleClass="mobile-fullview"
>
  <form [formGroup]="listEditForm">
    <div class="p-3">
      <div class="form-group">
        <label for="fileName">File Name :<em>*</em> </label>
        <input
          formControlName="listName"
          type="text"
          class="form-control"
          id="fileName"
        />
        <span
          *ngIf="
            listEditForm.get('listName').invalid &&
            listEditForm.get('listName').touched
          "
          style="color: red;"
          >Please enter list name</span
        >
      </div>
      <div class="form-group">
        <label for="listDescription">List Description :</label>
        <textarea
          formControlName="listDescription"
          class="form-control"
          id="listDescription"
          rows="4"
        ></textarea>
      </div>
      <div class="pt-3 pb-3">
        <button
          (click)="onListEdit()"
          pButton
          pRipple
          type="button"
          label="Update"
          class="mr-2 p-button-raised"
          [disabled]="!listEditForm.valid"
        ></button>
        <button
          (click)="visible = false"
          pButton
          pRipple
          type="button"
          label="Cancel"
          class="p-button-outlined p-button-secondary"
        ></button>
      </div>
    </div>
  </form>
</p-dialog>
