<app-header></app-header>
<div class="dashboard">
  <div class="lstContainer row">
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <app-my-program></app-my-program>
        </div>
        <div class="col-12">
          <app-my-account></app-my-account>
        </div>
      </div>
    </div>
    <div class="col-6">
      <app-dashboard-target></app-dashboard-target>
    </div>
  </div>
</div>
