.dashboard 
{
    padding: 10px;
    
    @media screen and (min-width:768px)
    {
        padding: 20px;
    }

    .lstContainer 
    {
        padding: 0px;

        .col-6
        {
            flex: 0 0 100%;
            max-width: 100%;

            @media screen and (min-width:768px) {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
}