@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/mixins';

.record-container {
  p {
    font-size: 1.2rem;
    min-height: 30px;
  }

  .add-options {
    padding: 30px 0;
    display: flex;
    column-gap: 1rem;
    a {
      height: 12rem;
      display: inline-block;
      text-align: center;
      padding: 20px 16px;
      vertical-align: middle;
      background-color: $borderlightcolor;
      color: $color;

      .icon-plus {
        &:before {
          content: $icon-file_plus;
        }
      }

      .icon-upload {
        &:before {
          content: $icon-upload-list;
        }
      }

      i {
        font-size: 65px;
        color: $iconcolor;
      }

      span {
        display: block;
        text-align: center;
        padding-top: 20px;
        font-weight: 700;
        font-size: 1.2rem;
      }

      &:hover {
        background-color: $primary;
        color: $white;

        i {
          color: $white;
        }
      }
    }
  }
}

::ng-deep .add-record-dialog {
  .p-dialog-header {
    display: block;
    position: absolute;
    padding: 0;
    right: 2rem;
    top: 1rem;
    border-radius: 50%;
    // border: 1px solid black;

    .p-dialog-title {
      display: none;
    }
  }
  .p-dialog-content {
    padding: 1rem;
  }
}
