<p-dialog
  *ngIf="iFrameSrc; else normalFlow"
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
  [modal]="true"
  [style]="{ width: '75vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hideDialog($event)"
  styleClass="mobile-fullview add-record-dialog"
>
  <ng-container *ngIf="loadingModal">
    <div class="modal-loading" style="text-align: center;">
      <img src="../../../../../assets/images/loader.gif" alt="" />
    </div>
  </ng-container>
  <section style="height: '75vh';">
    <iframe
      [src]="iFrameSrc | safe: 'resourceUrl'"
      height="100%"
      width="100%"
      (load)="iFrameLoadEvent()"
      (toggle)="iFrameToggle($event)"
    ></iframe>
  </section>
</p-dialog>

<ng-template #normalFlow>
  <p-dialog
    [header]="header"
    [visible]="visible"
    (visibleChange)="onVisibleChange($event)"
    [modal]="true"
    [style]="{ width: '75vw' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
    (onHide)="hideDialog($event)"
    styleClass="mobile-fullview"
  >
    <ng-container *ngIf="showDefault">
      <section class="record-container">
        <p>
          Please indicate below if you would like to add your
          <strong>Targets</strong> manually or upload from a comma separated
          (CSV) file:
        </p>
        <div class="add-options">
          <a (click)="addTargetClicked()">
            <i class="icon-plus"></i> <span>Add Targets Manually</span>
          </a>
          <a (click)="uploadTargetClicked()">
            <i class="icon-upload"></i> <span>Upload a Target List</span>
          </a>
        </div>
      </section>
    </ng-container>
    <ng-container *ngIf="showAddTarget">
      <h1>Manual Form</h1>
    </ng-container>
  </p-dialog>
</ng-template>
