<section>
  <form [formGroup]="sftpListCreateForm">
    <div class="p-3">
      <p class="py-2 font-weight-bold">File Name and Type</p>
      <div class="form-group">
        <label for="fileName">File Name <em>*</em> </label>
        <input
          formControlName="fileName"
          type="text"
          class="form-control"
          id="fileName"
        />
        <span
          *ngIf="
            sftpListCreateForm.get('fileName').invalid &&
            sftpListCreateForm.get('fileName').touched
          "
          style="color: red;"
          >Please enter file name</span
        >
      </div>
      <div class="form-group">
        <label for="fileType">File Type <em>*</em></label>
        <p-dropdown
          styleClass="full-width"
          [options]="fileType"
          formControlName="fileType"
          optionLabel="name"
          [showClear]="true"
          placeholder="Select"
        ></p-dropdown>
        <span
          *ngIf="
            sftpListCreateForm.get('fileType').invalid &&
            sftpListCreateForm.get('fileType').touched
          "
          style="color: red;"
          >Please select file type</span
        >
      </div>
      <p class="py-2 font-weight-bold">SFTP/FTP Details</p>
      <div class="form-group">
        <label for="ftpType">FTP Type <em>*</em></label>
        <p-dropdown
          styleClass="full-width"
          [options]="ftpType"
          formControlName="ftpType"
          optionLabel="name"
          [showClear]="true"
          placeholder="Select"
        ></p-dropdown>
        <span
          *ngIf="
            sftpListCreateForm.get('ftpType').invalid &&
            sftpListCreateForm.get('ftpType').touched
          "
          style="color: red;"
          >Please select FTP type</span
        >
      </div>
      <div class="form-group">
        <label for="hostName">Host Name <em>*</em> </label>
        <input
          formControlName="hostName"
          type="text"
          class="form-control"
          id="hostName"
        />
        <span
          *ngIf="
            sftpListCreateForm.get('hostName').invalid &&
            sftpListCreateForm.get('hostName').touched
          "
          style="color: red;"
          >Please enter host name</span
        >
      </div>
      <div class="form-group">
        <label for="userName">User Name <em>*</em> </label>
        <input
          formControlName="userName"
          type="text"
          class="form-control"
          id="userName"
        />
        <span
          *ngIf="
            sftpListCreateForm.get('userName').invalid &&
            sftpListCreateForm.get('userName').touched
          "
          style="color: red;"
          >Please enter user name</span
        >
      </div>
      <div class="form-group">
        <label for="password">Password <em>*</em> </label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="password"
        />
        <span
          *ngIf="
            sftpListCreateForm.get('password').invalid &&
            sftpListCreateForm.get('password').touched
          "
          style="color: red;"
          >Please enter password</span
        >
      </div>
      <div class="form-group">
        <label for="port">Port <em>*</em> </label>
        <input
          formControlName="port"
          type="text"
          class="form-control"
          id="port"
        />
        <span
          *ngIf="
            sftpListCreateForm.get('port').invalid &&
            sftpListCreateForm.get('port').touched
          "
          style="color: red;"
          >Please enter port</span
        >
      </div>
      <div class="pt-3 pb-3">
        <button
          (click)="onFtpListCreate()"
          pButton
          pRipple
          type="button"
          [label]="sourceData.buttonLabel"
          class="mr-2 p-button-raised"
          [disabled]="!sftpListCreateForm.valid"
        ></button>
        <button
          (click)="backToCreateList()"
          pButton
          pRipple
          type="button"
          label="Back"
          class="mr-2 p-button-outlined p-button-secondary"
        ></button>
        <button
          (click)="deny()"
          pButton
          pRipple
          type="button"
          label="Cancel"
          class="p-button-outlined p-button-secondary"
        ></button>
      </div>
    </div>
  </form>
</section>
