<p-dialog
  header="Export Notification Settings"
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
  [modal]="true"
  [style]="{ width: '25vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hideDialog($event)"
  styleClass="mobile-fullview"
>
  <ng-container *ngIf="loading">
    <div class="modal-loading" style="text-align: center;">
      <img src="../../../../assets/images/loader.gif" alt="" />
    </div>
  </ng-container>
  <p>
    Enter your Email address to receive a export notification when your export
    is complete.
  </p>
  <form [formGroup]="emailForm">
    <div class="pt-3">
      <span class="p-float-label">
        <input
          formControlName="emailAddress"
          class="inp-email"
          type="text"
          id="inputtext"
          pInputText
          [attr.disabled]="isDisabled ? true : null"
        />
        <label for="inputtext">Enter email</label>
      </span>
    </div>
    <span
      *ngIf="
        emailForm.get('emailAddress').invalid &&
        emailForm.get('emailAddress').touched
      "
      style="color: red;"
      >Please enter a valid email</span
    >
    <div class="py-3">
      <p-checkbox
        [binary]="true"
        label="Use these settings for future export."
        [formControl]="emailForm.controls['isRemember']"
      ></p-checkbox>
    </div>
    <div class="pb-3">
      <button
        (click)="onEdit()"
        pButton
        pRipple
        type="button"
        label="Edit"
        class="mr-2 p-button-raised"
        [disabled]="!isDisabled"
      ></button>
      <button
        (click)="onOkay()"
        pButton
        pRipple
        type="button"
        label="Ok"
        class="p-button-raised"
        [disabled]="!emailForm.valid"
      ></button>
    </div>
  </form>
</p-dialog>
