.inp-email {
  width: 90%;
}

.modal-loading {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(102, 102, 102, 0.3);
  z-index: 100;

  img {
    position: fixed;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
    top: 40%;
  }
}
