<!-- For iFrame -->
<p-dialog
  *ngIf="iFrameSrc; else normalFlow"
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
  [modal]="true"
  [style]="{ width: '75vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hideDialog($event)"
  styleClass="mobile-fullview account-list-dialog"
>
  <ng-container *ngIf="loadingModal">
    <div class="modal-loading" style="text-align: center;">
      <img src="../../../../../assets/images/loader.gif" alt="" />
    </div>
  </ng-container>
  <section style="height: '580px';">
    <iframe
      [src]="iFrameSrc | safe: 'resourceUrl'"
      height="100%"
      width="100%"
      (load)="iFrameLoadEvent()"
    ></iframe>
  </section>
</p-dialog>

<ng-template #normalFlow>
  <p-dialog
    [visible]="visible"
    (visibleChange)="onVisibleChange($event)"
    [modal]="true"
    [style]="{ width: '75vw' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
    (onHide)="hideDialog($event)"
    styleClass="mobile-fullview account-list-dialog"
  >
    <ng-container *ngIf="loadingModal">
      <div class="modal-loading" style="text-align: center;">
        <img src="../../../../../assets/images/loader.gif" alt="" />
      </div>
    </ng-container>
    <section class="account-list">
      <div class="left-section">
        <div class="absolute-center">
          <figure>
            <img
              src="../../../../assets/images/top_logo.png"
              alt="Experiture"
            />
          </figure>
          <h2>Select Account</h2>
          <input
            name="txtClient"
            type="text"
            value="Search Agency Name"
            id="txtClient"
            class="disableText ac_input"
            onfocus="clearText();"
            onblur="resetText();"
            autocomplete="off"
          />
          <input
            type="submit"
            name="btnSearch"
            value="Search"
            onclick="removeText();"
            id="btnSearch"
            title="Show"
          />
          <input
            type="submit"
            name="btnRedirect"
            value=""
            id="btnRedirect"
            class="btnhidden"
            style="width: 0px;"
          />
          <div class="clear"></div>
        </div>
      </div>
      <div class="right-section">
        Right Section
      </div>
    </section>
  </p-dialog>
</ng-template>
