.account-list {
  display: flex;
  flex-direction: row;

  .left-section {
    width: 35%;
    background-color: #89c540;
    height: 580px;

    .absolute-center {
      padding: 0 30px;
      text-align: center;
      margin: 100px 0;
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   bottom: 0;
      //   left: 0;
      height: 370px;

      img {
        height: 150px;
      }
    }
  }

  .right-section {
    width: 65%;
    // background-color: red;
    height: 580px;
  }
}

::ng-deep .account-list-dialog {
  .p-dialog-header {
    display: block;
    position: absolute;
    padding: 0;
    right: 2rem;
    top: 1rem;
    border-radius: 50%;
    // border: 1px solid black;

    .p-dialog-title {
      display: none;
    }
  }
  .p-dialog-content {
    padding: 0;
  }
}
