<ng-container *ngIf="loading">
  <div class="modal-loading" style="text-align: center;">
    <img src="../../../../assets/images/loader.gif" alt="" />
  </div>
</ng-container>
<div class="container">
  <form [formGroup]="emailForm">
    <div class="row">
      <div class="col px-5">
        <ng-container *ngIf="appendingDataLoading; else SuccessTemp">
          <div style="text-align: center;">
            <img src="../../../../assets/images/loader.gif" alt="" />
          </div>
          <!-- <span id="lblSuccessMessage" class="alrtGr"
          >Data appended successfully</span
        > -->
          <p>
            Your mailing list records are getting appended. You can close this
            window anytime.
          </p>
        </ng-container>
        <ng-template #SuccessTemp>
          <p-messages [(value)]="msgs"></p-messages>
        </ng-template>
      </div>
      <div class="col px-5">
        <h4>Notification Settings</h4>
        <p>
          Enter your Email address to receive a notification when your file
          upload is complete.
        </p>
        <div class="py-3">
          <span class="p-float-label">
            <input
              formControlName="emailAddress"
              style="width: 100%;"
              id="float-input"
              type="text"
              pInputText
            />
            <label for="float-input">Enter email</label>
          </span>
        </div>
        <p-checkbox
          [binary]="true"
          label="Use these settings for future uploads."
          [formControl]="emailForm.controls['isRemember']"
        ></p-checkbox>
      </div>
    </div>
    <div class="row">
      <div class="col px-5">
        <div class="py-3">
          <button
            (click)="deny()"
            pButton
            pRipple
            type="button"
            label="Cancel"
            class="p-button-outlined p-button-secondary"
          ></button>
        </div>
      </div>
      <div class="col px-5">
        <div class="py-3">
          <button
            (click)="saveFile()"
            pButton
            pRipple
            type="button"
            label="Save"
            class="p-button-raised"
          ></button>
        </div>
      </div>
    </div>
  </form>
</div>
