<div class=" grid_prof ">
<div class="create_tab" style="display: block;">
    <input type="button" id="btncrtObj" value="Create New Table" class="button">
    <div class="crtObjtbl" id="crtObjtbl" style="display: none;">
        <input name="txtObjectDisplay" type="text" id="txtObjectDisplay" placeholder="Table Name">                      
        <div class="clear"></div>
        <input type="submit" name="btnCreateObject" value="Create" id="btnCreateObject" class="green-button button">
        <input type="button" value="cancel" id="btnObjCancle" class="button">
    </div>
</div>
<div class="clear"></div>
<ul>
    <li class="active">
        <a title="Profile (Main)" id="a0">Profile (Main)</a>
    </li>
    <li>
        <a title="PlayerOffers" id="a119">PlayerOffers</a>
    </li>
    <li>
        <a title="OfferImages" id="a120">OfferImages</a>
    </li>
    <li>
        <a title="Player_Offers" id="a175">Player_Offers</a>
    </li>
</ul>
</div>