@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/mixins';

.grid_prof 
{
    background: $white;
    padding: 0 10px;

    .create_tab 
    {
        padding: 20px 20px 0;
        margin-bottom: 0;
        text-align: center;
    }
    ul 
    {
        padding-top: 20px;

        li
        {
            font-size: 14px;
            line-height: 28px;
            a
            {
                text-decoration: none;
                padding: 8px 20px;
                display: block;
            }
            &.activer
            {
                a 
                {
                    font-weight: 700;
                    background: $tabbg;
                    color: $color-font;
                }
            }
            &:hover
            {
                a 
                {                
                    background: $tabbg;
                    color: $color-font;
                }
            }
        }
    }

}
.button
{
    font-family: "Lato",sans-serif;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid $bordercolor;
    background-color: $white;
    color: $color-font;
    padding: 8px 18px;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 18px;
    display: inline-block;
    @include  border-radius(2px);

    &:hover
    {
        border: 1px solid $primary-exp;
        background-color: $primary-exp;
        color: $white;
    }
}
