<section>
  <ng-container *ngIf="loading">
    <div class="modal-loading" style="text-align: center;">
      <img src="../../../../assets/images/loader.gif" alt="" />
    </div>
  </ng-container>
  <form [formGroup]="listCreateForm">
    <div class="p-3">
      <p>Please name your List and provide an optional List description.</p>
      <div class="form-group">
        <label for="fileName">File Name <em>*</em> </label>
        <input
          formControlName="listName"
          type="text"
          class="form-control"
          id="fileName"
        />
        <span
          *ngIf="
            listCreateForm.get('listName').invalid &&
            listCreateForm.get('listName').touched
          "
          style="color: red;"
          >Please enter list name</span
        >
      </div>
      <p class="py-2 font-italic">
        Give your List a name for easy reference in the future
      </p>
      <div class="form-group">
        <label for="listDescription">List Description </label>
        <textarea
          formControlName="listDescription"
          class="form-control"
          id="listDescription"
          rows="4"
        ></textarea>
      </div>
      <p class="py-2 font-italic">Choose destination data object</p>
      <div class="form-group">
        <label for="destination" class="pr-3"
          >Select Destination Data Object <em>*</em></label
        >
        <p-dropdown
          [options]="destinationData"
          formControlName="destination"
          optionLabel="displayName"
          [showClear]="true"
          placeholder="Select a Destination"
        ></p-dropdown>
      </div>
      <div class="pt-3 pb-3">
        <button
          (click)="onListCreate(sourceData.creationType)"
          pButton
          pRipple
          type="button"
          [label]="sourceData.buttonLabel"
          class="mr-2 p-button-raised"
          [disabled]="!listCreateForm.valid"
        ></button>
        <button
          (click)="deny()"
          pButton
          pRipple
          type="button"
          label="Cancel"
          class="p-button-outlined p-button-secondary"
        ></button>
      </div>
    </div>
  </form>
</section>
