<section class="segment">
  <div class="segment-nav">
    <div class="title">
      <h2>Segments</h2>
    </div>
    <nav class="inside-nav" [ngClass]="{ open: showMenu }">
      <div #menuRef class="tab_link" (click)="toggleMenu()">
        <span>Related Links</span><i class="icon-down-arrow"></i>
      </div>
      <ul class="nav-smenu" [ngClass]="{ open: showMenu }">
        <li>
          <a routerLink="view" routerLinkActive="active"
            >Create/Edit Segments</a
          >
        </li>
        <li>
          <a routerLink="conditional" routerLinkActive="active"
            >Conditional Segments</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
</section>
