<div class="loading" *ngIf="loading">
  <img src="../../../../assets/images/loader.gif" alt="" />
</div>
<p-table
  #table
  styleClass="p-datatable-grid"
  [value]="listData"
  [columns]="columns"
  [rows]="10"
  [autoLayout]="true"
  [responsive]="true"
  [paginator]="paginator"
  paginatorPosition="both"
  [showCurrentPageReport]="true"
  [currentPageReportTemplate]="
    loading
      ? 'Loading...'
      : 'Showing {first} to {last} of {totalRecords} entries'
  "
  [rowsPerPageOptions]="[10, 25, 50, 100]"
  [totalRecords]="tRecords"
  [lazy]="true"
  [scrollable]="!paginator"
  [scrollHeight]="'48vh'"
  [virtualScroll]="!paginator"
  [virtualRowHeight]="34"
  (onLazyLoad)="nextPage($event)"
>
  <ng-container *ngIf="!paginator">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <!-- <col style="width: 60px;" />
        <col style="width: 180px;" />
        <col style="width: 50px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 50px;" />
        <col style="width: 50px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 50px;" /> -->
      </colgroup>
    </ng-template>
  </ng-container>
  <ng-template pTemplate="caption">
    <div class="gridTop gridTop_list">
      <div class="gridFilterL">
        <div class="target-counts">
          <div id="dvTarget" class="listcount">
            <i id="imgAddTarget" class="icon-database"></i>
            <span id="lblTargetcount"
              ><span *ngIf="targetCountLoading; else TargetTemp">
                <img
                  style="width: 50px;"
                  src="../../../../assets/images/cus-loding.gif"
                  alt=""
                />
              </span>
              <ng-template #TargetTemp>
                {{ targetCount | number }} <em>Targets</em>
              </ng-template>
            </span>
          </div>
          <a class="addData" (click)="addListModal = true">
            <i class="icon-database_add"></i> Add List</a
          >
        </div>
      </div>
      <div id="divfilterTop" class="gridFilterR">
        <div class="gridFilterL srch">
          <!-- <span class="p-float-label">
            <input
              id="float-input"
              type="text"
              pInputText
              class="search-input"
              #searchText
            />
            <label for="float-input">Search by Name</label>
          </span> -->
          <input
            #searchText
            name="txtSearch"
            type="text"
            maxlength="100"
            id="txtSearch"
            class="placeholder"
            placeholder="Search by Name"
          />
          <!-- <input
            type="submit"
            name="btnReset1"
            value=""
            id="btnReset1"
            class="btnhidden"
          /> -->
          <a
            (click)="table.filterGlobal(searchText.value, 'contains')"
            id="btnSearch"
            title="Search"
            class="searchBtn"
            ><i class="icon-search"></i
          ></a>
          <a (click)="resetPage()" id="btnReset" title="Reset" class="undoBtn"
            ><i class="icon-reload"></i
          ></a>
        </div>
      </div>

      <div class="clear"></div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <ng-container *ngFor="let col of columns">
        <th *ngIf="col.sortable" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th *ngIf="!col.sortable">
          {{ col.header }}
        </th>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-rowData let-rowIndex="rowIndex">
    <tr class="p-selectable-row">
      <td>
        <span class="p-column-title">{{ columns[0].header }}</span>
        <a *ngIf="item.listSourceType !== 'Inbound'" (click)="addRecord(item)">
          <i class="icon-add" title="Add Targets"></i>
        </a>
      </td>
      <!-- <td
        data-toggle="tooltip"
        data-placement="top"
        title="{{ item.listName.length > 20 ? item.listName : '' }}"
      >
        {{ item.listName | sliceText: 20 }}
        <span *ngIf="item.listName.length > 20" class="position-relative"
          ><i class="pi pi-ellipsis-h ellipsis-h"></i
        ></span>
      </td> -->
      <td [pTooltip]="item.listName | addSpace: 20">
        <span class="p-column-title">{{ columns[1].header }}</span>
        {{ item.listName | slice: 0:20 }}
        <span *ngIf="item.listName.length > 20" class="position-relative"
          ><i class="pi pi-ellipsis-h ellipsis-h"></i
        ></span>
      </td>
      <td>
        <span class="p-column-title">{{ columns[2].header }}</span>
        <a
          *ngIf="item.listSourceType !== 'Inbound'"
          (click)="showEditDialog(item, rowIndex)"
        >
          <i class="icon-edit" title="Edit" style="font-size: large;"></i>
        </a>
      </td>
      <td>
        <span class="p-column-title">{{ columns[3].header }}</span>
        <span *ngIf="item.listSourceType === 'Inbound'">
          <strong>{{ item.listSourceType }}</strong>
        </span>
        <span *ngIf="item.listSourceType !== 'Inbound'">
          {{ item.listSourceType }}
        </span>
      </td>
      <td>
        <span class="p-column-title">{{ columns[4].header }}</span
        >{{ item.listRecordCount | number }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[5].header }}</span>
        <a (click)="showAllTargets(item)">
          <i class="icon-view02" title="View List"></i>
        </a>
      </td>
      <td>
        <span class="p-column-title">{{ columns[6].header }}</span>
        <a (click)="onExportList(item)">
          <i
            class="icon-csv1"
            title="CSV"
            id="exbtncsv"
            style="font-size: 1.7em;"
          ></i>
        </a>
      </td>
      <td>
        <span class="p-column-title">{{ columns[7].header }}</span
        >{{ item.validEmailCount | number }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[8].header }}</span
        >{{ item.inValidEmailCount | number }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[9].header }}</span
        >{{ item.deliverableCount | number }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[10].header }}</span
        >{{ item.bounceCount | number }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[11].header }}</span
        >{{ item.unsubscribeCount | number }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[12].header }}</span
        >{{ item.validSMSCount | number }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[13].header }}</span
        >{{ item.validPushNotificationsCount | number }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[14].header }}</span
        >{{ item.createdDate | date: 'MM/dd/yyyy' }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[15].header }}</span>
        <a
          *ngIf="item.listSourceType !== 'Inbound'"
          (click)="confirm(item, rowIndex)"
        >
          <i class="icon-delete-button" id="delbtn"></i>
        </a>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="16" style="text-align: center;">No record found.</td>
    </tr>
  </ng-template>
  <ng-container *ngIf="paginator">
    <ng-template pTemplate="paginatorleft" let-state>
      <!-- <a (click)="onRefresh()"><i class="icon-refresh"></i>Refresh</a> -->
      <!-- <div class="pagination-container-top">
        <div class="grid-refresh">
          <a (click)="onRefresh()"><i class="icon-refresh"></i>Refresh</a>
        </div>
      </div> -->
      <div class="paginator-left">
        <a (click)="onRefresh()"><i class="icon-refresh"></i>Refresh</a>
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <div class="jump">
        <!-- <div id="divJumpToPageTop" class="jump pt-2"> -->
        <label>Go to:</label>
        <input
          #pageNo
          class="jump-input"
          name="inputpagenoTop"
          type="text"
          size="4"
          pInputText
        />
        <!-- <button (click)="gotoPage(pageNo.value)" id="aGo3" class="button">Go</button> -->
        <button
          (click)="gotoPage(pageNo.value)"
          pButton
          pRipple
          type="button"
          label="Go"
          class="p-button-raised jump-btn"
        ></button>
        <!-- </div> -->
      </div>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="!paginator">
    <ng-template pTemplate="loadingbody" let-columns="columns">
      <tr style="height: 34px;">
        <td *ngFor="let col of columns">
          <div class="loading-text"></div>
        </td>
      </tr>
    </ng-template>
  </ng-container>
</p-table>

<!-- <ng-container *ngIf="addListModal"> -->
<app-add-list [(visible)]="addListModal" (reloadGrid)="reloadGridHandler()">
</app-add-list>
<!-- </ng-container> -->

<!-- <ng-container *ngIf="addRecordModal"> -->
<app-add-record [(visible)]="addRecordModal" [listDetails]="recordDetails">
</app-add-record>
<!-- </ng-container> -->

<!-- <ng-container *ngIf="editModal"> -->
<app-edit-list
  [(visible)]="editModal"
  [listName]="recordDetails?.listName"
  [description]="recordDetails?.listDescription"
  (editItem)="onListEdit($event)"
>
</app-edit-list>
<!-- </ng-container> -->

<!-- <ng-container *ngIf="exportModal"> -->
<app-export-notification
  [(visible)]="exportModal"
  (exporthandler)="exporthandler($event)"
>
</app-export-notification>
<!-- </ng-container> -->

<!-- <p-dialog
  header="Confirmation"
  [(visible)]="deleteModal"
  [modal]="true"
  [style]="{ width: '500px' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <app-delete-list (deleteItem)="onDeleteList($event)"></app-delete-list>
</p-dialog> -->

<!-- <ng-container *ngIf="deleteModal"> -->
<app-delete-dialog
  [(visible)]="deleteModal"
  (deleteItem)="onDeleteList($event)"
  confirmLabel="YES, DELETE THE LIST"
  denyLabel="NO, KEEP THE LIST"
>
</app-delete-dialog>
<!-- </ng-container> -->
