@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/mixins';

.sngContainer {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;

  p {
    // font-size: 1.2rem;
    min-height: 30px;
  }

  .srcAdd {
    // border-bottom: 1px solid;
    padding-top: 30px;
    padding-bottom: 30px;
    a {
      width: 30%;
      height: 150px;
      display: inline-block;
      text-align: center;
      padding: 20px 10px;
      margin: 0 0 10px 10px;
      vertical-align: middle;
      background-color: $borderlightcolor;
      color: $color;

      i {
        font-size: 65px;
        color: $iconcolor;
      }

      span {
        display: block;
        text-align: center;
        padding-top: 20px;
        font-weight: 700;
        font-size: 1.2rem;
      }

      &:hover {
        background-color: $primary;
        color: $white;

        i {
          color: $white;
        }
      }
    }

    .icon-file_plus {
      &:before {
        content: $icon-file_plus;
      }
    }

    .icon-upload-list {
      &:before {
        content: $icon-upload-list;
      }
    }

    .icon-encrypted {
      &:before {
        content: $icon-encrypted;
      }
    }
  }
}

// .blBtn {
//   background: #7abf5c;
//   padding: 10px;
//   float: left;

//   text-transform: uppercase;
//   font-size: 13px;
//   line-height: 17px;
//   color: #fff;
//   text-decoration: none;
//   border: 0;
//   cursor: pointer;
//   border-radius: 3px;
//   -moz-border-radius: 3px;
//   -webkit-border-radius: 3px;
// }

// .modal-loading:before {
//   // content: '';
//   // display: block;
//   // position: fixed;
//   // top: 0;
//   // left: 0;
//   // width: 100%;
//   // height: 100%;
//   // background-color: rgba(102, 102, 102, 0.3);
// }

// .modal-loading:not(:required) {
//   font: 0/0 a;
//   color: transparent;
//   text-shadow: none;
//   background-color: transparent;
//   border: 0;
// }

// .modal-loading:not(:required):after {
//   content: '';
//   display: block;
//   font-size: 10px;
//   width: 1em;
//   height: 1em;
//   margin-top: -0.5em;
//   border-radius: 0.5em;
// }

::ng-deep .add-list-dialog {
  .p-dialog-header {
    display: block;
    position: absolute;
    padding: 0;
    right: 2rem;
    top: 1rem;
    border-radius: 50%;
    // border: 1px solid black;

    .p-dialog-title {
      display: none;
    }
  }
  .p-dialog-content {
    padding: 1rem;
  }
}
