<ng-template #normalFlow>
  <p-dialog
    [header]="header"
    [visible]="visible"
    (visibleChange)="onVisibleChange($event)"
    [modal]="true"
    [style]="{ width: '75vw' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
    (onHide)="hideDialog($event)"
    styleClass="mobile-fullview"
  >
    <ng-container *ngIf="loading">
      <div class="modal-loading" style="text-align: center;">
        <img src="../../../../assets/images/loader.gif" alt="" />
      </div>
    </ng-container>

    <ng-container *ngIf="showDefault">
      <div class="sngContainer">
        <div class="dtPp">
          <div id="dvCont" class="common_mid_div">
            <p>
              Please create a Target List or connect to your Salesforce CRM to
              synch your Leads or Accounts &amp; Contacts with Experiture.
            </p>
            <div class="srcAdd">
              <a id="lbTargetList" class="trgLst" (click)="createTagret()"
                ><i class="icon-file_plus" title="Create a Target List"></i>
                <span>Create a Target List</span></a
              >

              <a id="LinkFTPList" class="cntFtp" (click)="createFTPTarget()"
                ><i class="icon-encrypted" title="Connect to FTP"></i>
                <span>Connect to SFTP</span></a
              >
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="btnPnl">
          <!-- <input
          type="submit"
          name="btnClosePopup"
          value="Close"
          (click)="visible = false"
          id="btnClosePopup"
          class="green-button button dark"
        /> -->
          <button
            (click)="visible = false"
            pButton
            pRipple
            type="button"
            label="Close"
            class="mr-2 p-button-raised"
          ></button>
          <div class="clear"></div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="showCreateList">
      <app-create
        [destinationData]="destinationData"
        (listCreated)="listCreated($event)"
        (denyModal)="visible = false"
      ></app-create>
    </ng-container>

    <ng-container *ngIf="showUploadFile">
      <app-upload
        (listUploaded)="listUploaded($event)"
        (denyModal)="visible = false"
      ></app-upload>
    </ng-container>

    <ng-container *ngIf="showMapTable">
      <app-map-field
        (listSaved)="listSave($event)"
        (denyModal)="visible = false"
      >
      </app-map-field>
    </ng-container>

    <ng-container *ngIf="showProcessingList">
      <app-skip-dup
        (listProcessed)="listProcessed($event)"
        (denyModal)="visible = false"
      ></app-skip-dup>
    </ng-container>

    <ng-container *ngIf="showAppending">
      <app-email-noti (denyModal)="uploadCompleted()"></app-email-noti>
    </ng-container>

    <ng-container *ngIf="showSFTPCreateList">
      <app-sftp-create
        (backEvent)="backToCreateList($event)"
        (denyModal)="visible = false"
        (ftpListCreated)="ftpListCreated($event)"
      ></app-sftp-create>
    </ng-container>

    <ng-container *ngIf="showFrequency">
      <app-frequency (frequencySet)="frequencySet($event)"></app-frequency>
    </ng-container>
  </p-dialog>
</ng-template>

<p-dialog
  *ngIf="iFrameSrc; else normalFlow"
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
  [modal]="true"
  [style]="{ width: '75vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hideDialog($event)"
  styleClass="mobile-fullview add-list-dialog"
>
  <ng-container *ngIf="loadingModal">
    <div class="modal-loading" style="text-align: center;">
      <img src="../../../../../assets/images/loader.gif" alt="" />
    </div>
  </ng-container>
  <section style="height: '75vh';">
    <iframe
      [src]="iFrameSrc | safe: 'resourceUrl'"
      height="100%"
      width="100%"
      (load)="iFrameLoadEvent()"
      (toggle)="iFrameToggle($event)"
    ></iframe>
  </section>
</p-dialog>
