@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.experitureMenu {
  background: $tabbg;
  width: 100%;
  // display: block !important;
}

.menutablist {
  padding: 0 0.75rem;
}

.slideshow {
  position: relative;
  i.icon-down-arrow {
    position: absolute;
    right: 13px;
    top: 13px;
  }
  &.open {
    i.icon-down-arrow {
      transform: rotate(180deg);
    }
  }
}

nav {
  @include breakpoint(mobile) {
    margin: 0;
    background: 0 0;
  }
}

nav::after,
nav::before {
  content: '';
  display: block;
  margin: 0;
  padding: 0;
  clear: both;
}

.responsive-menu {
  display: none;
  width: 100%;
  padding: 10px 10px;
  background: #fff;
  color: #0f263e;
  text-transform: uppercase;
  font-weight: 300;
  border: solid 1px #eeefef;
  margin: 0;
  font-size: 14px;

  @include breakpoint(mobile) {
    display: block;
  }
}

.icon-down-arrow {
  &:before {
    content: $icon-down-arrow;
  }
}

.main-tab {
  text-align: left;
  li {
    padding: 0;
    box-sizing: content-box;
    @include breakpoint(mobile) {
      position: relative;
    }
    &:hover {
      // background-color: #6c9b34;
      // color: #ffffff;
      ul {
        @include breakpoint(mobile) {
          display: none;
        }
      }
    }

    a {
      font-family: 'Lato', sans-serif;
      font-size: $size16;
      color: #0f263e;
      padding: 10px 20px;
      text-decoration: none;
      position: relative;
      display: inline-block;
      box-sizing: content-box;

      @include breakpoint(desktop) {
        // font-size: $size14;
      }

      @include breakpoint(small-desktop) {
        // font-size: $size14;
      }

      @include breakpoint(tablet) {
        padding: 10px 15px;
      }

      @include breakpoint(mobile) {
        display: block;
        border-right: 0px;
      }

      &.active {
        // background: $primary-exp;
        // color: $white;
        background: #fff;
        font-weight: 600;
        &:hover {
          // background: $primary-exp;
          // color: $white;
          background-color: #6c9b34;
          color: #ffffff;
        }
        &:after {
          content: '';
          width: 100%;
          height: 4px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: #6c9b34;
        }
      }

      &:hover {
        background-color: #6c9b34;
        color: #ffffff;
      }

      &:before {
        content: '';
        position: absolute;
        top: 10%;
        right: 0;
        width: 1px;
        background: #cfd2d2;
        height: 80%;
        display: block;

        @include breakpoint(tablet) {
          // width: 0px;
        }

        @include breakpoint(mobile) {
          width: 0px;
        }
      }
    }

    i.icon-chevron {
      position: absolute;
      right: 12px;
      top: 12px;
      transform: rotate(0deg);
    }

    &.drpopen {
      i.icon-chevron {
        transform: rotate(180deg);
      }

      ul.sub-menu {
        display: block;
      }
    }

    ul.sub-menu {
      @include breakpoint(mobile) {
        display: none;
        position: relative;
        top: auto;
        right: auto;
        visibility: visible;
        opacity: 1;
      }

      li {
        a {
          @include breakpoint(tablet) {
            font-size: 13px;
          }

          @include breakpoint(mobile) {
            font-size: 13px;
          }
        }
      }
    }
  }
}

.menu {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
  @include breakpoint(mobile) {
    display: none;
  }

  li {
    display: inline-block;
    position: relative;
    z-index: 100;
    @include breakpoint(mobile) {
      display: block;
      margin: 0;
    }

    &:first-child {
      margin-left: 0;
    }
    a {
      text-decoration: none;
      display: block;
      transition: all 0.2s ease-in-out 0s;
    }

    &:hover ul {
      visibility: visible;
      opacity: 1;
      transform: translate(0, 0);

      @include breakpoint(mobile) {
        visibility: visible;
        opacity: 1;
        position: relative;
        transform: initial;
      }
    }

    ul {
      ul:hover {
        @include breakpoint(mobile) {
          transform: initial;
        }
      }
    }
  }

  ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 220px;
    position: absolute;
    left: 0;
    z-index: 99;
    transform: translate(0, 20px);
    transition: all 0.2s ease-out;
    // border-top: 1px solid;
    background: $tabbg;
    border-color: $body;
    box-shadow: 0 5px 5px $bordercolor;

    @include breakpoint(mobile) {
      visibility: hidden;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      transform: initial;
    }

    @include breakpoint(tablet) {
      top: 37px;
      width: 160px;
    }

    &:after {
      bottom: 100%;
      left: 20%;
      border: solid transparent;
      content: ' ';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 6px;
      margin-left: -6px;
    }

    li {
      display: block;
      float: none;
      background: 0 0;
      margin: 0;
      padding: 0;

      a {
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;

        &:before {
          display: none;
        }
      }
    }

    ul {
      @include breakpoint(mobile) {
        left: 0;
        transform: initial;
      }
    }
  }
}

.icon-chevron {
  &:before {
    content: $icon-chevron;
  }
}

@media (min-width: 767px) {
  .icon-chevron {
    display: none;
  }
}
