<app-header></app-header>
<div class="experiture">
  <div class="experitureMenu">
    <div class="">
      <!-- <div
        id="myheader_dvMaintab"
        class="maintabs"
        style="display: none;"
      ></div> -->
      <nav>
        <!--Campaign top menu-->
        <!-- <div
          id="myheader_dvMenutabs"
          class="menutablistRel"
          style="display: none;"
        >
          <div class="menutablist bred_nav_list">
            <div id="myheader_dvTabs" class="bred_nav greedy">
              <ul id="myheader_ulPrgTabs" class="links"></ul>
              <button count="0" class="hidden">
                <i class="icon-download"></i>
              </button>
              <ul class="hidden-links hidden"></ul>
            </div>
            <div class="clear"></div>
          </div>
        </div> -->
        <!--Campaign top menu-->
        <!-- list nav -->
        <div class="menutablist">
          <div class="slideshow" [ngClass]="{ open: isOpen }">
            <a class="responsive-menu" (click)="toggleNav()"
              ><i class="icon-down-arrow"></i> Menu</a
            >

            <ul
              class="main-tab menu"
              [ngStyle]="{ display: isOpen ? 'block' : '' }"
            >
              <li>
                <a routerLink="/targets/lists" routerLinkActive="active"
                  ><span>Data Source &amp; Lists</span></a
                >
              </li>
              <li>
                <a
                  [class.active]="isActive('/targets/all-targets')"
                  (click)="allTargetsHandler()"
                  ><span>All Targets</span></a
                >
              </li>
              <li (click)="toggleSeg()" [ngClass]="isSegOpen ? 'drpopen' : ''">
                <a [routerLink]="['/targets/segment']" routerLinkActive="active"
                  ><span>Segments</span></a
                >
                <ul class="sub-menu">
                  <li>
                    <a [routerLink]="['/targets/segment/view']"
                      >Create/Edit Segments</a
                    >
                  </li>
                  <li>
                    <a [routerLink]="['/targets/segment/conditional']"
                      >Conditional Segments</a
                    >
                  </li>
                </ul>
                <i class="icon-chevron" style="cursor: pointer"></i>
              </li>
              <li>
                <a
                  (click)="scoreHandler()"
                  [class.active]="isActive('/targets/score')"
                  ><span>Set Score</span></a
                >
              </li>
              <li (click)="toggleSub()" [ngClass]="isSubOpen ? 'drpopen' : ''">
                <a
                  (click)="subscriptionHandler()"
                  [class.active]="isActive('/targets/subscription')"
                  ><span>Subscriptions</span></a
                >
                <ul class="sub-menu">
                  <li>
                    <a (click)="subscriptionHandler()">Opted Out Targets</a>
                  </li>
                  <li>
                    <a (click)="supListHandler()">Suppression Lists</a>
                  </li>
                  <li>
                    <a (click)="supDomainHandler()">Suppressed Domains</a>
                  </li>
                </ul>
                <i class="icon-chevron" style="cursor: pointer"></i>
              </li>
              <li
                (click)="toggleData()"
                [ngClass]="isDataOpen ? 'drpopen' : ''"
              >
                <a
                  (click)="dataModalHandler()"
                  [class.active]="isActive('/targets/data-modal')"
                  ><span>Data Model</span></a
                >
                <ul class="sub-menu">
                  <li>
                    <a (click)="dataModalHandler()">Relational Tables</a>
                  </li>
                  <li>
                    <a (click)="relTableDataHandler()">Relational Table Data</a>
                  </li>
                </ul>
                <i class="icon-chevron" style="cursor: pointer"></i>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
