/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import './assets/scss/app.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  font-size: 80.5%;
}

body {
  background: #e8eeef;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #0f263e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding-bottom: 25px; */
}

.p-component,
.p-inputtext {
  font-family: Lato, sans-serif;
}

.mat-radio-button,
.mat-checkbox {
  font-family: Lato, sans-serif;
}

.custom-checkbox {
  .mat-checkbox-inner-container {
    height: 18px;
    width: 18px;
  }
}

*,
a {
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
a {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
a:focus,
button:focus,
input:focus,
:focus {
  outline: 0;
}

ul,
ol,
li {
  list-style: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

button,
input,
textarea {
  -webkit-font-smoothing: antialiased;
}
