<div class="sngContainer">
  <div class="del-image-container">
    <i class="icon-danger"></i>
  </div>
  <div class="delLst">
    <h3 style="display: none;">
      Following Campaign(s)/Touch will be affected by deletion of
      <span id="lblListName"></span>
    </h3>
    <div class="grdCont"></div>
    <h4>
      <span id="lblConfirm">Are you sure You want to remove this List?</span>
    </h4>
    <div class="py-4">
      <input
        type="submit"
        name="btnNo"
        value="No, keep the list"
        (click)="onDeny()"
        id="btnNo"
        class="mr-2 button green-button"
      />
      <input
        type="submit"
        name="btnYes"
        value="Yes, delete this list"
        id="btnYes"
        (click)="onDeleteList()"
        class="button red-button"
      />
    </div>
  </div>
</div>
