@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/mixins';

.sngContainer {
  .del-image-container {
    text-align: center;
    padding: 10px 20px 30px;
    i {
      font-size: 150px;
    }
  }
  i.icon-danger {
    color: $yellow;
    &:before {
      content: $icon-danger;
    }
  }
  .delLst {
    text-align: center;
    h4 {
      font-size: $size18;
      font-weight: 400;
      @include breakpoint(desktop) {
        font-size: $size16;
      }
      @include breakpoint(small-desktop) {
        font-size: $size16;
      }
    }
    .button {
      font-family: 'Lato', sans-serif;
      // font-size: 13px;
      text-decoration: none;
      // font-weight: bold;
      border: 1px solid;
      padding: 8px 18px;
      text-transform: uppercase;
      cursor: pointer;
      line-height: 18px;
      display: inline-block;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;

      font-size: $size14;
      font-weight: 400;
    }

    .green-button {
      background: $primary !important;
      color: $white !important;
      border-color: $primary !important;
    }

    .red-button {
      background: $red !important;
      color: $white !important;
      border-color: $red !important;
    }
  }
}
