.scheduler-radio {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.scheduler-radio-btn {
  margin: 5px 0;
}

.timer-cls {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

::ng-deep .cdk-overlay-container {
  z-index: 160000 !important;
}

::ng-deep .btn {
  &.btn-link {
    color: #3f51b5;
  }

  &:focus {
    box-shadow: none;
  }

  &.btn-outline-primary {
    border-color: #3f51b5;
    color: #3f51b5;
    &:hover,
    &:active {
      border-color: #3f51b5 !important;
      background-color: #3f51b5 !important;
      color: white !important;
    }
    &:hover:active {
      box-shadow: none !important;
    }
  }
}

::ng-deep input:enabled:focus,
::ng-deep input:enabled:hover {
  box-shadow: none;
  border-color: #3f51b5;
}

::ng-deep .add-program-dialog {
  .p-dialog-header {
    display: block;
    position: absolute;
    padding: 0;
    right: 2rem;
    top: 1rem;
    border-radius: 50%;
    // border: 1px solid black;

    .p-dialog-title {
      display: none;
    }
  }
  .p-dialog-content {
    padding: 1rem;
  }
}
