<ng-template #normalFlow>
  <p-dialog
    [header]="header"
    [visible]="visible"
    (visibleChange)="onVisibleChange($event)"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
    (onHide)="hideDialog($event)"
    styleClass="mobile-fullview"
  >
    <ng-container *ngIf="loadingModal">
      <div class="modal-loading" style="text-align: center;">
        <img src="../../../../../assets/images/loader.gif" alt="" />
      </div>
    </ng-container>
    <section>
      <form [formGroup]="appendProgramForm">
        <div class="p-3">
          <div class="form-group">
            <label for="fileName">Select Program :&nbsp;</label>
            <p-dropdown
              [style]="{ width: '40%' }"
              formControlName="programList"
              optionLabel="programName"
              [options]="programList"
              [showClear]="true"
            ></p-dropdown>
            <span
              class="pl-2"
              *ngIf="
                appendProgramForm.get('programList').invalid &&
                appendProgramForm.get('programList').touched
              "
              style="color: red;"
              >Please select program.</span
            >
          </div>

          <div class="form-group">
            <mat-radio-group
              aria-label="scheduler-radio-group"
              color="primary"
              class="scheduler-radio"
              formControlName="scheduler"
              (change)="scheduleHandeler()"
            >
              <mat-radio-button value="immediate" class="scheduler-radio-btn"
                >Append Immediately</mat-radio-button
              >
              <mat-radio-button value="timer" class="scheduler-radio-btn"
                >Append on scheduled Date Time</mat-radio-button
              >
            </mat-radio-group>
          </div>
          <div *ngIf="showCalender" class="form-group timer-cls">
            <mat-form-field color="primary" appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input formControlName="date" matInput [matDatepicker]="picker" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker color="primary"></mat-datepicker>
            </mat-form-field>
            <ngb-timepicker
              formControlName="time"
              [meridian]="true"
              [hourStep]="hourStep"
              [minuteStep]="minuteStep"
            ></ngb-timepicker>
          </div>
          <div class="py-3">
            <button
              (click)="appendProgram()"
              pButton
              pRipple
              type="button"
              label="APPEND TO PROGRAM"
              class="p-button-raised"
            ></button>
            <button
              (click)="visible = false"
              pButton
              pRipple
              type="button"
              label="CLOSE"
              class="mx-4 p-button-outlined p-button-secondary"
            ></button>
          </div>
        </div>
      </form>
    </section>
  </p-dialog>
</ng-template>

<p-dialog
  *ngIf="iFrameSrc; else normalFlow"
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hideDialog($event)"
  styleClass="mobile-fullview add-program-dialog"
>
  <ng-container *ngIf="loadingModal">
    <div class="modal-loading" style="text-align: center;">
      <img src="../../../../../assets/images/loader.gif" alt="" />
    </div>
  </ng-container>
  <section style="height: '50vh';">
    <iframe
      [src]="iFrameSrc | safe: 'resourceUrl'"
      height="100%"
      width="100%"
      (load)="iFrameLoadEvent()"
    ></iframe>
  </section>
</p-dialog>
