<div class="loading" *ngIf="loading">
  <img src="../../../../assets/images/loader.gif" alt="" />
</div>

<p-table
  #table
  styleClass="p-datatable-grid"
  [value]="listData"
  [columns]="columns"
  [rows]="10"
  [autoLayout]="true"
  [responsive]="true"
  [paginator]="paginator"
  paginatorPosition="both"
  [showCurrentPageReport]="true"
  [currentPageReportTemplate]="
    loading
      ? 'Loading...'
      : 'Showing {first} to {last} of {totalRecords} entries'
  "
  [rowsPerPageOptions]="[10, 25, 50, 100]"
  [totalRecords]="tRecords"
  [lazy]="true"
  [scrollable]="!paginator"
  [scrollHeight]="'48vh'"
  [virtualScroll]="!paginator"
  [virtualRowHeight]="34"
  (onLazyLoad)="nextPage($event)"
>
  <ng-container *ngIf="!paginator">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col style="width: 150px;" />
        <col style="width: 50px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 100px;" />
        <col style="width: 50px;" />
        <col style="width: 50px;" />
        <col style="width: 100px;" />
        <col style="width: 50px;" />
      </colgroup>
    </ng-template>
  </ng-container>
  <ng-template pTemplate="caption">
    <div class="gridTop gridTop_list">
      <div class="gridFilterL">
        <div class="target-counts">
          <!-- <div id="dvTarget" class="listcount">
            <i id="imgAddTarget" class="icon-database"></i>
            <span id="lblTargetcount"
              ><span *ngIf="targetCountLoading; else TargetTemp">
                <img
                  style="width: 50px;"
                  src="../../../../assets/images/cus-loding.gif"
                  alt=""
                />
              </span>
              <ng-template #TargetTemp>
                {{ targetCount | number }} <em>Targets</em>
              </ng-template>
            </span>
          </div> -->
          <a class="addData" (click)="addList()">
            <i class="icon-database_add"></i> Add List</a
          >
        </div>
      </div>

      <div id="divfilterTop" class="gridFilterR">
        <div class="gridFilterL srch">
          <input
            #searchText
            name="txtSearch"
            type="text"
            maxlength="100"
            id="txtSearch"
            class="placeholder"
            placeholder="Search by Name"
          />
          <a
            (click)="table.filterGlobal(searchText.value, 'contains')"
            id="btnSearch"
            title="Search"
            class="searchBtn"
            ><i class="icon-search"></i
          ></a>
          <a (click)="resetPage()" id="btnReset" title="Reset" class="undoBtn"
            ><i class="icon-reload"></i
          ></a>
        </div>
      </div>

      <div class="clear"></div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <ng-container *ngFor="let col of columns">
        <th *ngIf="col.sortable" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th *ngIf="!col.sortable">
          {{ col.header }}
        </th>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-rowData let-rowIndex="rowIndex">
    <tr class="ui-selectable-row">
      <td [pTooltip]="item.listName | addSpace: 30">
        <span class="p-column-title">{{ columns[0].header }}</span>
        {{ item.listName | slice: 0:30 }}
        <span *ngIf="item.listName.length > 30" class="position-relative"
          ><i class="pi pi-ellipsis-h ellipsis-h"></i
        ></span>
      </td>
      <td>
        <span class="p-column-title">{{ columns[1].header }}</span>
        <a
          *ngIf="item.listSourceType === 'Custom'"
          (click)="showEditDialog(item, rowIndex)"
        >
          <i class="icon-edit" title="Edit" style="font-size: large;"></i>
        </a>
      </td>
      <td>
        <span class="p-column-title">{{ columns[2].header }}</span
        >{{ item.listSourceType }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[3].header }}</span
        >{{ item.listRecordCount }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[4].header }}</span
        >{{ item.listRecordCount }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[5].header }}</span>
        <a (click)="showAllTargets(item)">
          <i
            class="icon-view02"
            title="View List"
            style="font-size: large;"
          ></i>
        </a>
      </td>
      <td>
        <span class="p-column-title">{{ columns[6].header }}</span>
        <a (click)="onExportList(item)">
          <i
            class="icon-csv1"
            title="CSV"
            id="exbtncsv"
            style="font-size: 1.7em;"
          ></i>
        </a>
      </td>
      <td>
        <span class="p-column-title">{{ columns[7].header }}</span
        >{{ item.createdDate | date: 'MM/dd/yyyy' }}
      </td>
      <td>
        <span class="p-column-title">{{ columns[8].header }}</span>
        <a (click)="confirm(item, rowIndex)">
          <i class="icon-delete-button" id="delbtn"></i>
        </a>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="16" style="text-align: center;">No record found.</td>
    </tr>
  </ng-template>
  <ng-container *ngIf="paginator">
    <ng-template pTemplate="paginatorleft" let-state>
      <div class="paginator-left">
        <a (click)="onRefresh()"><i class="icon-refresh"></i>Refresh</a>
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <div class="jump">
        <label>Go to:</label>
        <input
          #pageNo
          class="jump-input"
          name="inputpagenoTop"
          type="text"
          size="4"
          pInputText
        />
        <button
          (click)="gotoPage(pageNo.value)"
          pButton
          pRipple
          type="button"
          label="Go"
          class="p-button-raised jump-btn"
        ></button>
      </div>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="!paginator">
    <ng-template pTemplate="loadingbody" let-columns="columns">
      <tr style="height: 34px;">
        <td *ngFor="let col of columns">
          <div class="loading-text"></div>
        </td>
      </tr>
    </ng-template>
  </ng-container>
</p-table>

<ng-container *ngIf="exportModal">
  <app-export-notification
    [(visible)]="exportModal"
    (exporthandler)="exporthandler($event)"
  >
  </app-export-notification>
</ng-container>

<ng-container *ngIf="deleteModal">
  <app-delete-dialog
    [(visible)]="deleteModal"
    (deleteItem)="onDeleteList($event)"
    confirmLabel="YES, DELETE THE LIST"
    denyLabel="NO, KEEP THE LIST"
  >
  </app-delete-dialog>
</ng-container>
