<div class="prgtrgtCont">
    
      <p-table
        #table
        styleClass="p-datatable-grid"
        [value]="listData"
        [columns]="columns"
        [rows]="10"
        [autoLayout]="true"
        [responsive]="true"
        [paginator]="paginator"
        paginatorPosition="both"
        [(selection)]="selectedTarget"
        [showCurrentPageReport]="true"
        [currentPageReportTemplate]="
          loading
            ? 'Loading...'
            : 'Showing {first} to {last} of {totalRecords} entries'
        "
        [rowsPerPageOptions]="[10, 25, 50, 100]"
        [totalRecords]="tRecords"
        [lazy]="true"
        [scrollable]="!paginator"
        [scrollHeight]="'48vh'"
        [virtualScroll]="!paginator"
        [virtualRowHeight]="34"
        
      >
        <ng-container *ngIf="!paginator">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col style="width: 10%;" />
              <col style="width: 18%;" />
              <col style="width: 18%;" />
              <col style="width: 18%;" />
              <col style="width: 18%;" />
              <col style="width: 18%;" />
            </colgroup>
          </ng-template>
        </ng-container>
        <ng-template pTemplate="caption">
          <div class="header">
            <div class="gen-top">
              <div class="left-sec">
                <div class="target-count">
                  <i class="icon-database"></i>
                  <span
                    >
                    <ng-template>
                      {{ targetCount | number }}
                      <em>Targets</em>
                    </ng-template>
                  </span>
                </div>               
              </div>
            
              <div class="right-sec">
                <div class="search-sec">
                  <span class="p-float-label">
                    <input
                      #searchText
                      class="search-inp"
                      type="text"
                      id="inputtext"
                      pInputText
                    />
                    <label for="inputtext">Search...</label>
                  </span>
                </div>
                <div class="fields-sec">
                  <p-dropdown
                    name="fieldsType"
                    optionLabel="label"
                    [options]="searchFields"
                    [(ngModel)]="selectedField"
                    styleClass="fields-dropdown"
                  ></p-dropdown>
                </div>
                <a
                  (click)="table.filterGlobal(searchText.value, 'contains')"
                  id="btnSearch"
                  title="Search"
                  class="searchBtn"
                  ><i class="icon-search"></i
                ></a>
                <a (click)="resetPage()" id="btnReset" title="Reset" class="undoBtn"
                  ><i class="icon-reload"></i
                ></a>
                 <div class="gridFilterR">
                <input type="submit" name="btnAddToProgram" value="Add to Program" id="btnAddToProgram" class="button" style=" display: none;">
                <span id="divActivity">
                    <input type="submit" name="lnlshowfields" value="Show/Hide Fields" id="lnlshowfields" class="button noMrg">
                </span>
                <div class="trgtAddCmp" style="display:none;">
                    <input type="submit" name="btnAddToCampaign" value="Add to Campaign" id="btnAddToCampaign" class="buttonBl">
                </div>
                </div>
              </div>
               

            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th></th>
            <th>Suppression Date</th>  
            <th>First Nam</th> 
            <th>Last Name</th> 
            <th>Email Address</th> 
            <th>Company/Account</th>         
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowData let-rowIndex="rowIndex">
          <tr class="p-selectable-row">
            <td> <p-tableCheckbox [value]="item"></p-tableCheckbox></td>
            <td>{{item.listSource}}</td>
            <td>{{item.listName}}</td>
            <td>{{item.listSourceType}}</td>
            <td>{{item.listRecordCount}}</td>
            <td>{{item.validEmailCount}}</td>            
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" style="text-align: center;">No record found.</td>
          </tr>
        </ng-template>
      
          <ng-template pTemplate="paginatorright">
            <div class="jump">
              <label>Go to:</label>
              <input  #pageNo  class="jump-input"  name="inputpagenoTop"   type="text"  size="4" pInputText />
              <button
                (click)="gotoPage(pageNo.value)"
                pButton
                pRipple
                type="button"
                label="Go"
                class="p-button-raised jump-btn"
              ></button>
            </div>
          </ng-template>
       
        <ng-container *ngIf="!paginator">
          <ng-template pTemplate="loadingbody" let-columns="columns">
            <tr style="height: 34px;">
              <td *ngFor="let col of columns">
                <div class="loading-text"></div>
              </td>
            </tr>
          </ng-template>
        </ng-container>
      </p-table>
      <ng-container *ngIf="exportModal">
        <app-export-notification
          [(visible)]="exportModal"
          (exporthandler)="exporthandler($event)"
        >
        </app-export-notification>
      </ng-container>
      
      <ng-container *ngIf="unsuppressedModal">
        <app-delete-dialog
          [(visible)]="unsuppressedModal"
          (deleteItem)="unsuppressedHandler($event)"
          denyLabel="No"
          confirmLabel="Yes"
        >
        </app-delete-dialog>
      </ng-container>
       
</div>
