@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/mixins';

.header 
{
    padding: 15px;

    @media (min-width: 768) {
       padding: 20px 28px 14px 28px;
    }

    .gen-top 
    {
      display: flex;
      justify-content: space-between;
      align-items:self-start;
      flex-direction: column;
  
      @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
      }
  
      .left-sec 
      {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.8rem;
  
        @media (min-width: 768px) {
          margin-bottom: 0;
        }
  
        .target-count 
        {
          
          .icon-database 
          {
            color: $color-font;
            margin-right: 10px;
            font-size: 30px;
            vertical-align: middle;
            line-height: 27px;
  
            &:before {
              content: $icon-database;
            }
          }
  
          span 
          {
            display: inline-block;
            border-left: 1px solid $bordercolor;
            color: $color-font;
            font-size: 20px;
            line-height: 24px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
            padding: 10px 0px 10px 15px;
  
            em {
              font-style: normal;
              font-size: 13px;
              line-height: 15px;
              color: $color-font;
              display: block;
            }
          }
        }
  
      }
  
      .right-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        .search-sec {
          .search-inp {
            border: none;
            border-bottom: 1px solid $bordercolor;
            border-radius: 0;
  
            @media (min-width: 640px) {
              width: 300px;
            }
  
            &:hover,
            &:active {
              border-color: $primary-exp;
            }
          }
        }
  
        .searchBtn {
          margin: 0 10px;
  
          .icon-search {
            font-size: 21px;
            line-height: 27px;
            color: $iconcolor;
            &:before {
              content:$icon-search1;
            }
          }
        }
  
        .undoBtn {
          margin-left: 10px;
  
          @media (min-width: 640px) {
            margin-bottom: 0;
          }
          .icon-reload {
            font-size: 21px;
            line-height: 27px;
            color: $iconcolor;
            &:before {
              content: $icon-reload;
            }
          }
        }
      }
    }
  }
  
  .paginator-left {
    .supp-export {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 1rem;
      color: $color-font;
      font-weight: bold;
    }
    .icon-csv1 {
      color: $iconcolor;
      font-size: 21px;
      line-height: 27px;
    }
  }
  
  p {
    margin-bottom: 0;
  }
  
  .add-program {
    width: 150px;
  }
  .gridFilterR
  {
      margin-left: 10px;

    .button
    {
        font-family: "Lato",sans-serif;
        font-size: 13px;
        text-decoration: none;
        font-weight: bold;
        border: 1px solid $bordercolor;
        background-color: $white;
        color: $color-font;
        padding: 8px 18px;
        text-transform: uppercase;
        cursor: pointer;
        line-height: 18px;
        display: inline-block;
        @include  border-radius(2px);
        
        &:hover
        {
            border: 1px solid $primary-exp;
            background-color: $primary-exp;
            color: $white;
        }
    }
}